body{width:100%;background:#fff url(../images/background.jpg) no-repeat}
header{
    height:300px;
}
header .navbar.navbar-default{
    z-index:100;
    height:250px;
    margin:0 40px;
    background:#8daf82 url(../images/menubackground.jpg) no-repeat top center;
    border-radius:0 0 10px 10px;
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    border:0;
    box-shadow:
  0 0 0 3px #000,
  0 0 0 6px #ab0f24,
  0 0 0 9px #000,
  0 0 30px 5px #000
}
header .navbar-brand{margin:5px auto;width:100%;text-align:center;}
header .navbar-brand img{position:relative;width:400px;margin:0 auto;}
header .navbar-default .navbar-nav{margin-top:200px}
header .navbar-default .navbar-nav>li>a{color:#222;font-size:1.2em;text-transform:uppercase}
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li>a:hover{color:#000}
header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:focus,
header .navbar-default .navbar-nav>.active>a:hover{color:#000;background-color:transparent}
header .navbar-toggle{
    position:relative;
    z-index:1000;
    float:right;
    width:100%;
    margin:106px 0 0 0;
    padding:9px 10px;
    background:transparent!important;
    border-radius:0;
    height:50px;
    border:0;
    color:#000;
    font-size:22px;
    font-weight:700;
    text-transform:uppercase
}
header .navbar-toggle:active,
header .navbar-toggle:hover,
header .navbar-toggle:focus{outline:0;border:0;background:transparent!important;border:0}
footer .navbar.navbar-default{background:transparent;border:0}
.navbar.center .navbar-inner{text-align:center}
.navbar.center .navbar-inner .nav{display:inline-block;float:none}
.navbar-inverse{margin-bottom:0;border-radius:0}
.navbar-inverse .navbar-nav{margin-bottom:0}
#avatar{position:absolute;top:0;right:0;max-height:50px;width:50px}
#cart{position:absolute;top:5px;right:0;background:#f00}
#cart:empty{display:none}
#featured{-webkit-box-shadow:0 0 30px #000;box-shadow:0 0 30px #000}
.carousel{z-index:0;margin-top:-20px;width:100%}
.carousel .item{width:100%}
.carousel .item img{width:100%}
.carousel-caption{z-index:16;color:#fff;top:auto;right:0;bottom:0;left:0;padding:20px;text-align:left;text-shadow:0 0 25px #000,0 0 20px #000,0 0 15px #000,0 0 10px #000}
.carousel-control{position:absolute;top:0;bottom:auto;left:0;width:15%;height:15%;font-size:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6);filter:alpha(opacity=50);opacity:.5}
.carousel-control.left{background-image:none}
.carousel-control.right{background-image:none}
.carousel-control:focus,
.carousel-control:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}
#featured .content{position:absolute;top:-450px;left:200px;right:0;animation-delay:.25s}
#featured .content a{color:#fff}
#featured .content a:hover,
#featured .content a:focus{text-decoration:none}
.carousel-caption p{font-size:14px}
.carousel-caption .title{color:#fff;font-size:1.2em;font-weight:700}
.carousel-caption .attribution{position:absolute;top:10px;right:5px;text-align:right;color:#fff;font-size:.8em;font-weight:400}
.carousel-caption .attribution:before{content:'Photo Attribution';position:absolute;right:0;top:-10px;color:#fff;font-size:.75em;font-weight:400}
.attribution .title,
.attribution .url a{color:#fff;font-size:1em;font-weight:700}
.carousel .left .libre,
.carousel .right .libre{margin-top:50%}
.carousel-indicators{position:absolute;right:5px;bottom:-5px;left:auto;z-index:15;width:60%;padding-left:0;margin-left:-30%;text-align:right;list-style:none}
.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;cursor:pointer;background-color:#000\9;background-color:rgba(0,0,0,0);border:1px solid #fff;border-radius:10px}
.carousel-indicators .active{width:12px;height:12px}
.carousel-control{z-index:1;position:absolute;top:0;bottom:0;left:0;width:15%;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6);filter:alpha(opacity=50);opacity:.5}
.carousel-control svg{width:3vw}
.carousel-control.left,
.carousel-control.right{background-image:transparent}
.carousel-control.right{right:0;left:auto}
.carousel-control:focus,
.carousel-control:hover{background-image:transparent;color:#fff;text-decoration:none;filter:alpha(opacity=90);outline:0;opacity:.9}
.carousel-control #libre-chevron-left,
.carousel-control #libre-chevron-right{position:absolute;top:250px;z-index:5;display:inline-block}
.carousel-control #libre-chevron-left{left:20px;margin-left:-10px}
.carousel-control #libre-chevron-right{right:20px;margin-right:-10px}
.jumbotron{
    border:0;
    margin:0;
    padding:0 60px;
    background:transparent!important
}
.jumbotron img{
    width:100%;
    margin:0;
    background:transparent!important
}
.jumbotron:empty{display:none}
.content-item{
    position:relative;
    display:block;
    background:#8daf82 url(../images/sidebackground.jpg) no-repeat top center;
    background-size:cover;
    color:#000;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:3px solid #000;
    margin-bottom:30px!important;
}
.content-item:before{
    content:attr(data-contenttype);
    display:block;
    position:absolute;
    text-align:center;
    color:#ddd2af;
    font-size:1.7em;
    text-transform:uppercase;
    text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000,
     1px 2px 5px #000;
    top:-20px;
    left:40px;
    right:40px;
    height:40px;
    background:#ab0f24;
    border:3px solid #000;
    border-radius:10px;
}
.content-item-info{padding:5px 20px;background-color:transparent}
.content-item-image{
  display:block;
  height:220px;
  overflow:hidden;
  background: #2F7336;
  background: -webkit-linear-gradient(135deg, #2F7336 , #AA3A38);
  background: linear-gradient(135deg, #2F7336 , #AA3A38);
}
.content-item-image img{
    width:100%;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
}
.content-item-title{width:100%;color:#000;margin-bottom:10px;text-align:center;font-size:1.1em;font-weight:700}
.content-item-title a{color:#000}
.content-item-price{font-weight:700;font-size:28px}
hr{
    width:100%;
    height:30px;
    background:transparent url(../images/hr.png) no-repeat center center;
    border:0;
}
.margin-btm-20{margin-bottom:40px}
.addMore{margin:40px 0}
.testimonials{position:relative;margin:40px}
.testimonials .carousel{margin-top:0}
.testimonials .carousel .controls{margin-top:-40px}
.quote{position:relative}
.quote blockquote{
    background:#8daf82 url(../images/sidebackground.jpg) no-repeat top center;
    background-size:cover;
    padding:0;
    border:3px solid #000;
    margin:0;
    font-size:14px;
    font-style:italic;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    border-radius:8px
}
.quote blockquote p{color:#000;padding-top:25px;padding-bottom:45px;padding-left:30px;padding-right:30px}
.quote blockquote:before{content:"";position:absolute;top:100%;left:95px;width:0;height:0;border-top:.83333em solid #000;border-right:.86667em solid transparent}
.quote-footer{margin:10px 0}
.quote-footer .quote-author-img img{
    float:left;
    max-width:90px;
    width:90px;
    height:90px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    margin-left:0;
    margin-top:-40px;
    position:relative;
    z-index:1;
    padding:3px;
    background-color:#000
}
.quote-footer h4{font-size:14px;margin-bottom:4px}
.quote-footer p{font-weight:400;font-style:italic;font-size:14px}
.theme{display:block;margin:0 auto;padding-top:10px;width:300px;height:53px;text-align:center;vertical-align:middle;background:transparent;font-size:12px;color:#000}
.search{}
.search .search-item{padding:10px}
.search-item .search-item-info{color:#000!important}
.search-item .search-item-info .search-item-url{color:#080!important}
.search-item .search-item-info .search-item-title a:link{color:#00f!important}
.search-item .search-item-info .search-item-title a:visited{color:#808!important}
.theme a{display:inline-block;line-height:0;color:inherit;width:auto;padding:0;margin:0}
.theme a:hover{color:inherit;text-decoration:underline}
.theme a .libre{width:auto;color:#18a303}
.theme a .cms{color:#000;font-weight:700}
.list-group{
    border:3px solid #000;
    -webkit-border-radius:10px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.5)
}

.list-group-item{
    background:#8daf82 url(../images/sidebackground.jpg) no-repeat top center;
    background-size:cover;
    color:#000;
    border:0;
}
.list-group-item img{
    width:50px!important
}
.list-group-item small,
.list-group-item-heading a,
.media-heading a{color:#000}
.side_menu{margin-top:20px}
.price_side .side_price,
.side_price{position:relative;min-height:50px}
.price_side .side_price .cost,
.side_price .cost,
.price_side .side_price .quantity,
.side_price .quantity{position:absolute;width:70%;vertical-align:top;border:0;margin:0;padding:0}
.price_side .side_price .cost,
.side_price .cost{left:0;font-size:34px;font-weight:700;color:#000}
.price_side .side_price .quantity,
.side_price .quantity{right:0;width:30%;text-align:center;font-size:14px}
.price_side .side_price .btn,
.side_price .btn{margin:10px auto 10px auto}
.reviews{margin-bottom:40px;}
body .hreview-aggregate:before{content:'Customer Reviews'}
#comments .media:before{content:'Discussion'}
body .hreview-aggregate:before,
#comments .media:before{
	font-weight:100;
	font-size:20px;
	margin-left:-50px;
}
body .hreview-aggregate ~ .hreview-aggregate:before,
#comments .media ~ .media:before{content:''}
.btn-success{
    background-color:#ab0f24;
    border:2px solid #000
}
.btn-success:hover{
    background-color:#b3172c;
    border:2px solid #000
}
.rat{display:inline-block;unicode-bidi:bidi-override;direction:rtl}
.rat > span{position:relative;width:1em;}
.rat > span.set,
.rat > span.set ~ span{color:transparent}
.rat > span.set:after,
.rat > span.set ~ span:after{content:"\2605";position:absolute;left:0;color:#000}
.rating{position:relative;float:left}
.rating:not(:checked) > input{position:absolute;top:-9999px;clip:rect(0,0,0,0)}
.rating:not(:checked) > label{float:right;width:1em;padding:0 .1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:150%;line-height:1.2;color:#fff}
.rating:not(:checked) > label:before{content:'★ '}
.rating > input:checked ~ label{color:#000}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{color:#000}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label{color:#000}
.rating > label:active{position:relative;top:2px;left:2px}
.rating > label:after{content:attr(data-title);position:absolute;display:block;top:auto;bottom:30px;width:5px;height:auto;padding-left:7px;color:#000;font-size:10px;font-weight:400;text-shadow:0 0 0;word-wrap:break-word}
@media(min-width:320px){
    header .navbar-brand{position:absolute;margin:-5px auto 5px 0}
    header{
        height:200px;
    }
    header .navbar.navbar-default{
        height:150px;
        border:0;
    }
    header .navbar-default .navbar-nav{
        margin-top:0;
        background:#ab0f24;
        width:100%;
        border:3px solid #000;
        border-top:0;
        border-radius:0 0 10px 10px;
    }
    header .navbar-default .navbar-nav>li>a,
    header .navbar-default .navbar-nav>li>a:focus,
    header .navbar-default .navbar-nav>li>a:hover,
    header .navbar-default .navbar-nav>.active>a,
    header .navbar-default .navbar-nav>.active>a:focus,
    header .navbar-default .navbar-nav>.active>a:hover{
        border:0;
        color:#ddd2af;
        font-size:1.2em;
        text-transform:uppercase;
        text-shadow:
       -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
         2px 2px 0 #000,
         1px 2px 5px #000;
    }
}
@media(min-width:480px){
    header{
        height:250px;
    }
    header .navbar.navbar-default{
        height:200px;
        border:0;
    }
    header .navbar-toggle{
        margin:156px 0 0 0;
    }
}
@media(min-width:600px){}
@media(min-width:768px){
    header{
        height:300px;
    }
    header .navbar.navbar-default{
        z-index:100;
        height:250px;
        margin:0 40px;
        background:#8daf82 url(../images/menubackground.jpg) no-repeat top center;
        border-radius:0 0 10px 10px;
        -moz-border-radius:0 0 10px 10px;
        -webkit-border-radius:0 0 10px 10px;
        border:0;
        box-shadow:
      0 0 0 3px #000,
      0 0 0 6px #ab0f24,
      0 0 0 9px #000,
      0 0 30px 5px #000
    }
    header .navbar-brand{margin:5px auto;width:100%;text-align:center;}
    header .navbar-brand img{position:relative;width:400px;margin:0 auto;}
    header .navbar-default .navbar-nav{margin-top:200px;width:auto;background:transparent;border:0;}
    header .navbar-default .navbar-nav>li>a{color:#222;font-size:1.2em;text-transform:uppercase;text-shadow:none}
    header .navbar-default .navbar-nav>li>a:focus,
    header .navbar-default .navbar-nav>li>a:hover{color:#000;text-shadow:none}
    header .navbar-default .navbar-nav>.active>a,
    header .navbar-default .navbar-nav>.active>a:focus,
    header .navbar-default .navbar-nav>.active>a:hover{color:#000;background-color:transparent;text-shadow:none}
}
@media(min-width:800px){}
@media(min-width:992px){}
