<header role="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand" role="banner"><img src="layout/fasttrack/images/fasttrackbusinessclub-brand.png"></span>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#libreCMS-collapse" aria-expanded="false" role="button">Menu</button>
			</div>
			<div class="collapse navbar-collapse" id="libreCMS-collapse">
				<ul class="nav navbar-nav navbar-right" role="list">
					<buildMenu>
						<li class="<print active=menu>" role="listitem"><a href="<print menu=url>" role="link" rel="<print rel=contentType>"><print menu="title"></a><menuCart></li>
					</buildMenu>
				</ul>
			</div>
		</div>
	</nav>
</header>
<activation>
