<block include="meta_head.html">
<block inbed="content">
	<style>
	html{
		background:url(layout/fasttrack/images/maintenance-bg.png) no-repeat center center fixed;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/fasttrack/images/maintenance-bg.png',sizingMethod='scale');
		-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/fasttrack/images/maintenance-bg.png',sizingMethod='scale');
	}
	body{background:transparent;color:#fff;text-shadow:1px 3px 10px #000}
	.logo{
		background-color:#fff;
		margin:20px auto;
		padding:40px 10px;
		border-radius:5px;
		box-shadow:1px 2px 20px #000;
	}
	a,a:hover{color:#fff}
	</style>
	<main id="content" class="center-block" role="main">
		<div class="text-center">
	    	<img class="logo responsive" src="layout/fasttrack/images/fasttrackbusinessclub-brand.png"><br>
			<h4 class="text-center">Is currently in Maintenance mode while we<h4>
			<h3 class="text-center">update,<br>fix, or add<br><h3>
			<h4 class="text-center">more awesomeness to the Site.</h4>
		</div>
	</main>
</block>
<block include="meta_footer.html">
