/*

background: #ECE9E6;
background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF);
background: linear-gradient(to left, #ECE9E6 , #FFFFFF);

*/

body{background-color:#e9eaed}
header{position:relative;margin:130px 0 0 0;padding:0}
header .navbar-brand{position:absolute;top:-140px;left:-20px}
header address{display:block;position:absolute;top:-120px;right:0;left:auto;}
address{font-weight:700;font-size:16px;color:#444;text-align:right}
address a{color:inherit}
address a:hover{color:#96ca2d}
address .street:empty,
address .postal-code:empty,
address .country-name:empty,
address .email:empty,
address .tel a:empty,
address .mobile a:empty{display:none}
header .social{position:absolute;top:-40px;right:0;left:auto;width:100%;height:56px;text-align:right}
header .libre-social{display:inline-block;width:32px;height:32px}
header .libre-social svg{border:1px solid rgb(205,205,205)}
header .navbar-nav{width:100%;background:transparent;background:-moz-linear-gradient(-90deg,rgba(250,250,250,1),rgba(229,229,229,1));background:-webkit-gradient(linear,left top,left bottom,from(rgb(250,250,250)),to(rgb(229,229,229)));background:-webkit-linear-gradient(-90deg,rgba(250,250,250,1),rgba(229,229,229,1));background:-o-linear-gradient(-90deg,rgba(250,250,250,1),rgba(229,229,229,1));background:linear-gradient(to bottom,rgba(250,250,250,1),rgba(229,229,229,1));border:1px solid rgb(205,205,205)}
.navbar{width:100%;background:transparent;border:0}
header .navbar-default{width:100%;background:transparent none}
header .navbar-toggle{width:100%;margin-left:0;margin-right:0;margin-bottom:0;background:transparent;background:-moz-linear-gradient(-90deg,rgba(250,250,250,1),rgba(229,229,229,1));background:-webkit-gradient(linear,left top,left bottom,from(rgb(250,250,250)),to(rgb(229,229,229)));background:-webkit-linear-gradient(-90deg,rgba(250,250,250,1),rgba(229,229,229,1));background:-o-linear-gradient(-90deg,rgba(250,250,250,1),rgba(229,229,229,1));background:linear-gradient(to bottom,rgba(250,250,250,1),rgba(229,229,229,1));border:1px solid rgb(205,205,205)border:0 solid transparent;border-radius:0}
header .home .navbar-toggle:focus{outline:0}
header .navbar .navbar-collapse{text-align:center}
header .search .input-group{margin:0 10px}
header .navbar-nav,
header .navbar-nav>li{z-index:1000;margin:0;padding:0;text-align:center;text-transform:uppercase}
header .navbar-nav>li>a{font-size:18px;color:#222;margin-left:-5px;margin-right:0;padding:10px;padding-top:10px;padding-bottom:10px;border-right:1px solid #ddd}
header .navbar-nav>li:first-child{border-left:1px solid #ddd}
header .navbar-nav>li>a:focus,
header .navbar-nav>li>a:hover{background:#000!important;background:rgba(0,0,0,.85)!important;text-decoration:none;text-align:center;color:#eee!important}
header .navbar-nav>.active>a,
header .navbar-nav>.active>a:focus,
header .navbar-nav>.active>a:hover{background:#000!important;background:rgba(0,0,0,.85)!important;text-decoration:none;text-align:center;color:#eee!important}
header .navbar-collapse{padding-right:0;padding-left:0}
.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header{margin-right:-15px;margin-left:-15px}
.relative{position:relative}
.no-padding{padding:0}
.no-margin{margin:0}
.margin-bottom-20{margin-bottom:20px}
.margin-left-20{margin-left:20px}
.clearfix{clear:both}
footer .navbar-default .navbar-nav a.first,
footer .navbar-default .navbar-nav a.first:hover{background:none}
h6:empty{display:none;height:0;margin:0;padding:0;line-height:0}
#avatar{position:absolute;top:0;right:0;max-height:50px;width:50px}
.commentavatar{width:50px;height:50px}
.item{border:none}
footer.navbar{clear:both;margin:20px auto 0;max-height:30px}
time{display:block;font-size:12px;color:#888}
.media-object{display:inline-block;width:70px}
.media-object img{width:64px}
.media-body time{font-size:12px}
small.brand,
small.category{display:block}
.cost{margin-left:10px;padding:15px}
.price{position:relative;display:block;font-size:22px;min-width:75px;margin-left:20px;margin-bottom:5px}
small.price{min-width:30px;margin-left:10px;font-size:14px}
#myCarousel{height:325px}
.full-width{position:relative;height:325px;margin:0;background:#000 url(../images/featured.jpg) no-repeat top center}
.bigpic{position:absolute;z-index:5000;bottom:-60px;left:10px}
.contentType{position:absolute;top:0;left:0;width:0;height:0;border-width:2px 75px 15px 5px;border-style:solid;border-color:transparent;background-color:transparent}
.contentType div{position:relative;top:0;left:0;color:#fff;text-transform:capitalize;text-shadow:1px 1px 5px #000,0 0 10px #000,0 0 20px #000;white-space:nowrap;font-weight:700;font-size:9px}
.contentType:empty{display:none}
.notes{height:100px}
aside.price{position:absolute;display:block;top:0;right:0;border:0;padding:5px;color:#fff;text-shadow:1px 1px 5px #000,0 0 10px #000,0 0 20px #000}
aside.price .cost{border:0;font-size:20px}
.price .btn{color:inherit;text-shadow:none}
article,
.thumbnail{position:relative;margin-bottom:20px;padding:0}
article h1{position:absolute;width:100%;top:190px;right:0;left:0;font-size:1.2em;text-align:center;z-index:+1}
article h1.title{position:relative;top:auto;right:auto;bottom:auto;left:auto;font-size:2em;text-align:left}
.cover{width:100%}
article{width:100%}
.thumbnail .cover{height:200px;overflow:hidden}
.thumbnail img{width:100%;min-height:100%}
article .caption{margin-top:20px;text-align:justify}
article .caption .after{position:relative;height:160px}
article .caption .after:after{content:'';position:absolute;bottom:0;left:0;right:0;width:100%;height:150px;background:linear-gradient(transparent,#fff);background:-webkit-linear-gradient(transparent,#fff);background:-o-linear-gradient(transparent,#fff);background:-moz-linear-gradient(transparent,#fff)}
article h5{height:40px!important;overflow:hidden}
.article{margin:0 5px}
article .vcard{font-size:12px}
article .vcard h4{display:none}
article .vcard .avatar{margin:0 10px 10px;max-width:92px;max-height:92px}
.margin-btm-20{margin-bottom:40px}
.quote{position:relative}
.quote blockquote{background-color:#ddd;padding:0;border:0;margin:0;font-size:14px;font-style:italic;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;border-radius:8px}
.quote blockquote p{color:#000;padding-top:25px;padding-bottom:45px;padding-left:30px;padding-right:30px}
.quote blockquote:before{content:"";position:absolute;top:100%;left:90px;width:0;height:0;border-top:.83333em solid #ddd;border-right:.86667em solid transparent}
.quote-footer{margin:10px 0}
.quote-footer .quote-author-img img{float:left;max-width:90px;width:90px;height:90px;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;margin-left:-5px;margin-top:-40px;position:relative;z-index:1;padding:5px;background-color:#fff}
.quote-footer h4{font-size:14px;margin-bottom:4px}
.quote-footer p{font-weight:400;font-style:italic;font-size:14px}
.sidebar li{list-style:none}
textarea{resize:vertical}
#cart{position:absolute;top:5px;right:0;background:#f00}
img{color:transparent}
figure{display:inline-block}
figure figcaption{display:inline-block;width:100%;background-color:#dedede}
#comments{margin:20px}
main{display:inline-table}
.side_menu_gallery{max-width:50px;max-height:50px}
.list-group-item.link{padding:0 5px}
.list-group-item-text .time{font-size:8px;color:#888}
#cart:empty{display:none}
.search{}
.search .search-item{padding:10px}
.search-item .search-item-info{color:#000!important}
.search-item .search-item-info .search-item-url{color:#080!important}
.search-item .search-item-info .search-item-title a:link{color:#00f!important}
.search-item .search-item-info .search-item-title a:visited{color:#808!important}
.theme{display:block;margin:0 auto;padding-top:10px;width:300px;height:53px;text-align:center;vertical-align:middle;background:transparent;font-size:12px;color:#000}
.theme a{display:inline-block;line-height:0;color:inherit;width:auto;padding:0;margin:0}
.theme a:hover{color:inherit;text-decoration:underline}
.theme a .libre{width:auto;color:#18a303}
.theme a .cms{color:#000;font-weight:700}
#content{padding:0;text-align:justify}
#content .jumbotron{margin-top:0}
#content article.margin{margin:0}
#content{padding:0}
.jumbotron:empty{display:none}
.carousel-indicators{position:absolute;bottom:10px;left:auto;right:10px;z-index:15;width:60%;padding-left:0;margin-left:0;text-align:center;list-style:none}
.carousel-fade .carousel-inner .item{opacity:0;transition-property:opacity}
.carousel-fade .carousel-inner .active{opacity:1}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{left:0;opacity:0;z-index:1}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right{opacity:1}
.carousel-fade .carousel-control{z-index:2}
.content-item{position:relative;display:block;background-color:#fff;color:#000;margin-bottom:30px!important}
.content-item-info{padding:5px 20px;background-color:transparent}
.content-item-image{
	display:block;
	height:220px;
	overflow:hidden;
	background: #ECE9E6;
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF);
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF);

}
.content-item-image img{width:100%}
.content-item-title{width:100%;color:#000;margin-bottom:10px;text-align:center;font-size:1.1em;font-weight:700}
.content-item-title a{color:#000}
.content-item-price{font-weight:700;font-size:28px}
.margin-btm-20{margin-bottom:40px}
.addMore{margin:40px 0}
.testimonials{position:relative;margin:40px}
.testimonials .carousel{margin-top:0}
.testimonials .carousel .controls{margin-top:-40px}
.side_menu{margin-top:40px}
.side_menu_gallery{max-width:50px;max-height:50px}
.price_side .side_price,
.side_price{position:relative;min-height:50px}
.price_side .side_price .cost,
.side_price .cost,
.price_side .side_price .quantity,
.side_price .quantity{position:absolute;width:70%;vertical-align:top;border:0;margin:0;padding:0}
.price_side .side_price .cost,
.side_price .cost{left:0;font-size:34px;font-weight:700;color:#000}
.price_side .side_price .quantity,
.side_price .quantity{right:0;width:30%;text-align:center;font-size:14px}
.price_side .side_price .btn,
.side_price .btn{margin:10px auto 10px auto}
.reviews{

}
.rat{display:inline-block;unicode-bidi:bidi-override;direction:rtl}
.rat > span{position:relative;width:1em;text-shadow:0 1px 1px #000}
.rat > span.set,
.rat > span.set ~ span{color:transparent}
.rat > span.set:after,
.rat > span.set ~ span:after{content:"\2605";position:absolute;left:0;color:gold}
.rating{position:relative;float:left}
.rating:not(:checked) > input{position:absolute;top:-9999px;clip:rect(0,0,0,0)}
.rating:not(:checked) > label{float:right;width:1em;padding:0 .1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:150%;line-height:1.2;color:#ddd;text-shadow:1px 1px #bbb, 2px 2px #666,.1em .1em .2em rgba(0,0,0,.5)}
.rating:not(:checked) > label:before{content:'★ '}
.rating > input:checked ~ label{color:#f70;text-shadow:1px 1px #c60,2px 2px #940,.1em .1em .2em rgba(0,0,0,.5)}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{color:gold;text-shadow:1px 1px goldenrod,2px 2px #B57340,.1em .1em .2em rgba(0,0,0,.5)}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label{color:#ea0;text-shadow:1px 1px goldenrod,2px 2px #B57340,.1em .1em .2em rgba(0,0,0,.5)}
.rating > label:active{position:relative;top:2px;left:2px}
.rating > label:after{content:attr(data-title);position:absolute;display:block;top:auto;bottom:30px;width:5px;height:auto;padding-left:7px;color:#000;font-size:10px;font-weight:400;text-shadow:0 0 0;word-wrap:break-word}
.hreview-aggregate time{display:inline-block;color:inherit;font-size:inherit}
@media all and(transform-3d),(-webkit-transform-3d){
	.carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right{opacity:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left{opacity:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@media(min-width:320px){
	header{margin:50px 0 0 0}
	header .navbar-brand{top:-60px;left:-10px}
	header .navbar-brand img{width:145px}
	footer .navbar{text-align:right;margin-right:15px}
	footer .navbar li{display:inline-block}
	#myCarousel{height:125px}
	#myCarousel img{height:100px}
	.full-width{height:125px}
	.bigpic{bottom:-15px}
	.bigpic img{width:150px!important}
	.carousel-indicators{bottom:0}
	address{top:-45px;right:0;font-size:12px}
	.price_side{display:none}
	.price_content{display:block;width:100%}
}
@media(min-width:480px){
	header{margin:90px 0 0 0}
	header .navbar-brand{top:-100px;left:-15px}
	header .navbar-brand img{width:250px}
	#myCarousel{height:150px}
	#myCarousel img{height:125px}
	.full-width{height:150px}
	address{top:-75px;right:5px;font-size:14px}
	.price_content{width:50%;margin:0 0 10px 20px}
}
@media(min-width:600px){
	header{margin:120px 0 0 0}
	header .navbar-brand{top:-130px;left:-20px}
	header .navbar-brand img{width:auto}
	#myCarousel{height:325px}
	#myCarousel img{height:auto}
	.full-width{height:325px}
	.bigpic{bottom:-60px;left:10px}
	.bigpic img{width:auto!important}
	.carousel-indicators{bottom:10px}
	address{top:-110px;right:0;font-size:16px}
}
@media(min-width:768px){
	header .navbar-nav{float:none;margin:0 auto;display:block;text-align:center}
	header .navbar-nav>li{display:inline-block;float:none}
	.price_side{display:block}
	.price_content{display:none}
}
@media(min-width:992px){}
@media(min-width:1200px){}
