<!-- http://bootsnipp.com/snippets/featured/responsive-moving-box-carousel -->
<settings itemcount="10" contenttype="all">
<div class="col-xs-12">
	<div id="featured" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000">
		<div class="carousel-inner">
			<items>
				<div class="item<print active>">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="thumbnail">
							<a href="<print link>" role="button"><print content="image"></a>
							<h4><print content="title"></h4>
						</div>
					</div>
				</div>
			</items>
		</div>
		<featuredControls>
			<a class="left carousel-control" href="#featured" data-slide="prev"><i class="libre libre-chevron-left"></i></a>
			<a class="right carousel-control" href="#featured" data-slide="next"><i class="libre libre-chevron-right"></i></a>
		</featuredControls>
	</div>
</div>
<script>
$(document).ready(function() {
	 $('.carousel[data-type="multi"] .item').each(function(){
		 var next = $(this).next();
		 if (!next.length) {
			 next = $(this).siblings(':first');
		 }
		 next.children(':first-child').clone().appendTo($(this));
		 for (var i=0;i<2;i++) {
			 next=next.next();
			 if (!next.length) {
 			 	next = $(this).siblings(':first');
			}
			next.children(':first-child').clone().appendTo($(this));
		}
	});
});
</script>
