<header class="navbar navbar-default" role="navigation">
	<nav>
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#libreCMS-collapse">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand"><a href=""><img src="layout/raycraft/images/logo.png" alt="Raycraft"></a></span>
			</div>
			<div class="collapse navbar-collapse" id="libreCMS-collapse">
				<ul class="nav navbar-nav navbar-right">
					<buildMenu>
						<li class="<print active=menu>"><a href="<print menu=contentType>"><small><print menu="title"></small></a><menuCart></li>
					</buildMenu>
					<li class="visible-xs search">
						<form method="post" action="search">
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control" name="search" placeholder="Enter a Search Term...">
									<div class="input-group-btn">
										<button type="submit" class="btn btn-default">Search</button>
									</div>
								</div>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<activation>
