<block include="meta_head.html">
<block include="header.html">
<block include="featured.html">
<block inbed="content">
		<print page="notes">
</block>
<block inbed="testimonials">
	<settings items="5">
	<h3 role="heading"><a href="testimonials">Testimonials</a> <small>Our Clients Love Us!</small></h3>
	<div class="testimonials">
		<div id="testimonials" class="carousel slide" data-ride="carousel" data-interval="10000">
			<div class="carousel-inner">
				<items>
					<div class="item <print content=active> margin-btm-20" itemscope itemtype="http://schema.org/Review">
						<meta itemprop="itemReviewed" content="<print config=title>">
						<meta itemprop="datePublished" content="<print datePub>">
            <div class="quote">
              <blockquote>
                <p itemprop="description">
									<print content="notes">
			          </p>
			        </blockquote>
			      </div>
		        <div class="quote-footer text-right">
		          <div class="quote-author-img">
		            <img src="<print content=avatar>" alt="">
		          </div>
		          <h4 itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><print content="name"></span></h4>
		          <p itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
		            <strong itemprop="name"><print content="business"></strong>
		          </p>
		        </div>
		      </div>
				</items>
				<controls>
					<div class="controls pull-right">
						<a class="left" href="#testimonials" data-slide="prev"><i class="libre"><svg xmlns="http://www.w3.org/2000/svg" id="libre-chevron-left" viewBox="0 0 14 14"><path d="M 10.71464,3.04715 6.76179,7 l 3.95285,3.95285 q 0.14144,0.14144 0.14144,0.33499 0,0.19355 -0.14144,0.33499 L 9.47891,12.85856 Q 9.33747,13 9.14392,13 8.95037,13 8.80893,12.85856 L 3.28536,7.33499 Q 3.14392,7.19355 3.14392,7 q 0,-0.19355 0.14144,-0.33499 L 8.80893,1.14144 Q 8.95037,1 9.14392,1 9.33747,1 9.47891,1.14144 l 1.23573,1.23573 q 0.14144,0.14144 0.14144,0.33499 0,0.19355 -0.14144,0.33499 z"/></svg></i></a>
						<a class="right" href="#testimonials" data-slide="next"><i class="libre"><svg xmlns="http://www.w3.org/2000/svg" id="libre-chevron-right" viewBox="0 0 14 14"><path d="M 10.71464,7.33499 5.19107,12.85856 Q 5.04963,13 4.85608,13 4.66253,13 4.52109,12.85856 L 3.28536,11.62283 q -0.14144,-0.14144 -0.14144,-0.33499 0,-0.19355 0.14144,-0.33499 L 7.23821,7 3.28536,3.04715 Q 3.14392,2.90571 3.14392,2.71216 q 0,-0.19355 0.14144,-0.33499 L 4.52109,1.14144 Q 4.66253,1 4.85608,1 5.04963,1 5.19107,1.14144 l 5.52357,5.52357 Q 10.85608,6.80645 10.85608,7 q 0,0.19355 -0.14144,0.33499 z"/></svg></i></a>
					</div>
				</controls>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</block>
<block include="footer.html">
<block include="meta_footer.html">
