<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<main class="pagenotes clearfix">
		<print page="notes">
</block>
<block inbed="contactus">
		<div id="content" class="col-xs-12" itemscope itemtype="http://schema.org/ContactPoint" role="main">
			<div class="col-lg-8 col-lg-offset-2">
				<notification>
				<form id="form" method="post" action="contactus" role="form">
					<input type="hidden" name="emailtrap" value="none">
					<input type="hidden" name="act" value="add_message">
					<div class="form-group">
						<label class="control-label col-sm-2 col-xs-hidden">&nbsp;</label>
						<div class="input-group col-xs-12 col-md-10 text-danger">
							<div class="alert alert-danger">Highlighted Fields are Required</div>
						</div>
					</div>
					<div class="form-group">
						<label for="subject" class="control-label col-sm-2 col-xs-4 text-danger">Subject</label>
						<div class="input-group col-sm-10 col-xs-8 has-error">
							<subjectText>
								<input type="text" id="subject" class="form-control" name="subject" value="" placeholder="Enter a Subject..." required aria-require="true" role="textbox">
							</subjectText>
							<subjectSelect>
								<select id="subject" class="form-control" name="subject" required aria-require="true" role="listbox">
									<option value="" role="option">Please Select a Subject for Contacting Us</option>
									<subjectOptions>
								</select>
							</subjectSelect>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="control-label col-sm-2 col-xs-4 text-danger">Email</label>
						<div class="input-group col-sm-10 col-xs-8 has-error">
							<input type="email" id="email" class="form-control" name="email" value="" placeholder="Enter an Email..." required aria-require="true" role="textbox">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="control-label col-sm-2 col-xs-4">Name</label>
						<div class="input-group col-sm-10 col-xs-8">
							<input type="text" id="name" class="form-control" name="name" value="" placeholder="Enter Your Name..." role="textbox">
						</div>
					</div>
					<div class="form-group">
						<label for="notes" class="control-label col-sm-2 col-xs-4 text-danger">Message</label>
						<div class="input-group col-sm-10 col-xs-8 has-error">
							<textarea id="notes" class="form-control" name="notes" placeholder="Enter a Message..." role="textbox"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2 col-sm-2 col-xs-4">&nbsp;</label>
						<div class="input-group col-md-10 col-sm-10 col-xs-8">
							<button type="submit" class="btn btn-success btn-lg btn-block" role="button">Send</button>
						</div>
					</div>
				</form>
				<iframe id="sp" name="sp" class="hidden"></iframe>
			</div>
		</div>
	</main>
</block>
<block include="footer.html">
<block include="meta_footer.html">
