<aside class="side_menu col-xs-12 col-sm-3" role="complementary">
	<controls>
		<div class="list-group price_side hidden-xs">
			<div class="list-group-item" itemscope itemtype="http://schema.org/Offer">
				<div class="side_price">
					<print content="cost">
					<print content="quantity">
				</div>
				<service>
					<a class="btn btn-success btn-block" href="bookings/<print content=bookservice>" role="link">Book Service</a>
				</service>
				<inventory>
					<choices>
					<button class="addCart btn btn-success btn-block" data-cartid="<print content=id>" data-cartchoice="0" role="button">Add to Cart</button>
				</inventory>
			</div>
		</div>
	</controls>
	<review>
		<div id="review" class="list-group">
			<form id="reviewform" target="review" class="list-group-item" method="post" action="core/add_review.php" role="form">
				<input type="hidden" name="id" value="<print content=id>">
				<input type="hidden" name="emailtrap" value="">
				<h4 role="heading">Add a Review</h4>
				<div class="form-group form-group-sm">
					<label class="control-label col-xs-3"><small>Rating</small></label>
					<div class="input-group col-xs-9 rating">
				    	<input type="radio" id="star5" name="rating" value="5" checked>
						<label for="star5" data-title="5" title="Awesome!">5 stars</label>
				    	<input type="radio" id="star4" name="rating" value="4">
						<label for="star4" data-title="4" title="Great!">4 stars</label>
				    	<input type="radio" id="star3" name="rating" value="3">
						<label for="star3" data-title="3" title="Meh!">3 stars</label>
				    	<input type="radio" id="star2" name="rating" value="2">
						<label for="star2" data-title="2" title="So So!">2 stars</label>
				    	<input type="radio" id="star1" name="rating" value="1">
						<label for="star1" data-title="1" title="Bad!">1 star</label>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label for="email" class="control-label col-xs-3"><small>Email</small></label>
					<div class="input-group col-xs-9">
						<input type="text" id="email" class="form-control input-sm" name="email" value="" required aria-required="true" role="textbox">
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label for="name" class="control-label col-xs-3"><small>Name</small></label>
					<div class="input-group col-xs-9">
						<input type="text" id="name" class="form-control input-sm" name="name" value="" role="textbox">
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label for="review" class="control-label col-xs-3"><small>Review</small></label>
					<div class="input-group col-xs-9">
						<textarea id="review" class="form-control input-sm" name="review"  role="textbox"></textarea>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<button type="submit" class="btn btn-success btn-block btn-sm" role="button">Add Review</button>
				</div>
			</form>
		</div>
		<script>
			$("#reviewform").submit(function(){
		    $.post($(this).attr("action"),$(this).serialize(),function(data){
	        $("#review").html(data);
		    });
		    return false;
			});
		</script>
	</review>
	<newsletters>
		<div id="newsletters" class="list-group">
			<form id="newslettersform" target="review" class="list-group-item" method="post" action="core/add_subscriber.php" role="form">
				<input type="hidden" name="emailtrap" value="">
				<h4 role="heading">Subscribe to our Newsletters</h4>
				<div class="form-group form-group-sm">
					<label for="email" class="control-label col-xs-3"><small>Email</small></label>
					<div class="input-group col-xs-9">
						<input type="text" id="email" class="form-control input-sm" name="email" value="" required aria-required="true" role="textbox">
					</div>
				</div>
				<div class="form-group form-group-sm">
					<button type="submit" class="btn btn-success btn-block" role="button">Subscribe</button>
				</div>
			</form>
		</div>
		<script>
			$("#newslettersform").submit(function(){
				$.post($(this).attr("action"),$(this).serialize(),function(data){
					$("#newsletters").html(data);
				});
				return false;
			});
		</script>
	</newsletters>
	<item>
		<settings items="all" contenttype="current">
		<div class="list-group">
			<heading>
				<a class="list-group-item" href="<print viewlink>" role="link">
					<span class="list-group-item-heading"><print view></span>
				</a>
			</heading>
			<items>
				<a class="list-group-item" href="<print link>" itemscope role="link">
					<span class="list-group-item-heading" itemprop="headline"><print content="title"></span>
					<meta itemprop="datePublished" content="<print metaDate>">
					<p class="list-group-item-text text-muted">
						<small><time datetime="<print metaDate>"><print time></time></small>
						<small><small><print content="caption"></small></small>
					</p>
				</a>
				<media>
					<a class="list-group-item" href="<print link>" itemscope role="link">
						<span class="media">
							<span class="media-left">
								<img class="img-thumbnail side_menu_gallery pull-left" src="<print content=thumb>" role="img">
							</span>
							<meta itemprop="datePublished" content="<print metaDate>">
							<span class="media-body text-muted">
								<span class="media-heading"><print content="title"></span>
								<small><small><print content="caption"></small></small>
							</span>
						</span>
					</a>
				</media>
			</items>
		</div>
	</item>
</aside>
