/*

background: #FF5F6D;
background: -webkit-linear-gradient(to left, #FF5F6D , #FFC371);
background: linear-gradient(to left, #FF5F6D , #FFC371);

background: #EECDA3;
background: -webkit-linear-gradient(to left, #EECDA3 , #EF629F);
background: linear-gradient(to left, #EECDA3 , #EF629F);

background: #BA5370;
background: -webkit-linear-gradient(to left, #BA5370 , #F4E2D8);
background: linear-gradient(to left, #BA5370 , #F4E2D8);

background: #eacda3;
background: -webkit-linear-gradient(to left, #eacda3 , #d6ae7b);
background: linear-gradient(to left, #eacda3 , #d6ae7b);

background: #649173;
background: -webkit-linear-gradient(to left, #649173 , #DBD5A4);
background: linear-gradient(to left, #649173 , #DBD5A4);

background: #FFEEEE;
background: -webkit-linear-gradient(to left, #FFEEEE , #DDEFBB);
background: linear-gradient(to left, #FFEEEE , #DDEFBB);


*/

body{width:100%;background:#fff;font-size:1.5em}
.maintenance{
    width:50%;
    padding:10px 40px 40px 40px;
    background-color:#f8e8ce;
    border-radius:20px 20px 20px 200px;
    -moz-border-radius:20px 20px 20px 200px;
    -webkit-border-radius:20px 20px 20px 200px;
    border:3px solid #000
}
header.index{
    width:50%;
    height:550px;
    padding:40px;
    background:#f8e8ce url(../images/corner-1.svg) no-repeat bottom left;
    background-size:contain;
}
header.index .face{
    position:absolute;
    width:50%;
    text-align:center;
    left:0;
    top:300px;
}
header.index .face img{
    width:300px;
    height:300px;
    border-radius:50%;
}
.index.navbar-header{
    position:absolute;
    top:30px;
    right:0;
}
.index.navbar.navbar-default{z-index:100;border:0;height:120px;background-color:transparent;border-radius:0}
header .navbar.navbar-default{z-index:100;border:0;height:100px;background-color:#f8e8ce;border-radius:0}
.navbar-brand{padding:5px 10px}
.navbar-brand a{color:#444;font-size:1.2em;font-weight:700}
.navbar-brand a:hover{color:#000;text-decoration:none}
.navbar-brand img{height:122px}
.navbar-default .navbar-nav>li>a{color:#444;background-color:#f8e8ce;font-size:1em;text-transform:uppercase}
footer .navbar-default .navbar-nav>li>a,
footer .navbar-default .navbar-nav>li>a:focus,
footer .navbar-default .navbar-nav>li>a:hover,
footer .navbar-default .navbar-nav>.active>a,
footer .navbar-default .navbar-nav>.active>a:focus,
footer .navbar-default .navbar-nav>.active>a:hover{background-color:transparent}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{background-color:#f8e8ce;color:#000}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{color:#000;background-color:#f8e8ce}
.navbar-inverse{margin-bottom:0;border-radius:0}
.navbar-inverse .navbar-nav{margin-bottom:0}
#avatar{position:absolute;top:0;right:0;max-height:50px;width:50px}
#cart{position:absolute;top:5px;right:0;background:#f00}
#cart:empty{display:none}
.jumbotron{
    background-color:#fff;
    margin:-20px 0 20px 0;
    padding:0;
    width:100%;
    height:400px!important;
    overflow:hidden
}
.jumbotron img{width:100%}
#featured{
    z-index:0;
    position:absolute;
    top:120px;
    right:0;
}
.carousel{
    z-index:0;
    width:50%;
    height:500px
}
.carousel .item{
    width:100%;
    height:500px
}
.carousel .item img{height:500px}
.carousel-caption{
    z-index:16;
    background:transparent;
    top:0;
    right:0;
    bottom:0;
    left:-2px;
    color:transparent;
    background:transparent url(../images/slider-corner.svg) no-repeat bottom right;
    background-size:100%;
}
.carousel-control{position:absolute;bottom:0;left:auto;right:0;width:15%;height:15%;color:transparent;text-align:center}
.carousel-control.left{background-image:none}
.carousel-control.right{background-image:none}
.carousel-control:focus,
.carousel-control:hover{color:#000;text-decoration:none;outline:0;opacity:.9}
.carousel-caption .content{display:none;position:absolute;top:0;left:0;right:0;text-align:center}
.carousel-caption .title{display:none}
.carousel-caption .attribution{display:none}
.attribution .title,
.attribution .url a{display:none}
.carousel .left .libre,
.carousel .right .libre{margin-top:50%}
.carousel-indicators{position:absolute;right:15px;bottom:5px;left:auto;z-index:15;width:60%;padding-left:0;margin-left:-30%;text-align:right;list-style:none}
.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;cursor:pointer;background-color:#000\9;background-color:rgba(0,0,0,1);border:1px solid #000;border-radius:10px}
.carousel-indicators .active{width:12px;height:12px}
.carousel-control{z-index:+1;position:absolute;top:0;bottom:20px;left:0;width:100%;color:#000}
.carousel-control svg{width:32px;fill:#000}
.carousel-control.left,
.carousel-control.right{background-image:transparent}
.carousel-control.right{right:0;left:auto}
.carousel-control:focus,
.carousel-control:hover{background-image:#000;color:#000;text-decoration:none;filter:alpha(opacity=90);outline:0;opacity:.9}
.carousel-control #libre-chevron-left,
.carousel-control #libre-chevron-right{position:absolute;top:430px;z-index:+1;display:inline-block}
.carousel-control #libre-chevron-left{left:90%;right:20px;}
.carousel-control #libre-chevron-right{right:10px}
.carousel-fade .carousel-inner .item{opacity:0;transition-property:opacity}
.carousel-fade .carousel-inner .active{opacity:1}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{left:0;opacity:0;z-index:1}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right{opacity:1}
.carousel-fade .carousel-control{z-index:2}
@media all and(transform-3d),(-webkit-transform-3d){
	.carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right{opacity:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left{opacity:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.jumbotron:empty{display:none}
main{margin-top:20px}
main.index{margin-top:50px}
.content-item{position:relative;display:block;background-color:#fff;color:#000;border:2px solid #000;border-radius:10px;margin-bottom:30px!important}
.content-item-info{padding:5px 20px;background-color:transparent}
.content-item-image{
  display:block;
  height:220px;
  overflow:hidden;
  background: #eacda3;
  background: -webkit-linear-gradient(135deg, #eacda3 , #d6ae7b);
  background: linear-gradient(135deg, #eacda3 , #d6ae7b);
}
.content-item-image img{width:100%;border-radius:10px}
.content-item-title{width:100%;color:#000;margin-bottom:10px;text-align:center;font-size:1.1em;font-weight:700}
.content-item-title a{color:#000}
.content-item-price{font-weight:700;font-size:28px}
.margin-btm-20{margin-bottom:40px}
.addMore{margin:40px 0}
.testimonials{position:relative;margin:40px}
.testimonials .carousel{width:100%;margin-top:0}
.testimonials .carousel .controls{margin-top:-40px}
.quote{position:relative;height:auto!important}
.quote blockquote{background-color:#ddd;padding:0;border:0;margin:0;font-size:14px;font-style:italic;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;border-radius:8px}
.quote blockquote p{color:#000;padding-top:25px;padding-bottom:45px;padding-left:30px;padding-right:30px}
.quote blockquote:before{content:"";position:absolute;top:100%;left:90px;width:0;height:0;border-top:.83333em solid #ddd;border-right:.86667em solid transparent}
.quote-footer{margin:10px 0}
.quote-footer .quote-author-img img{float:left;max-width:90px!important;width:90px!important;height:90px!important;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;margin-left:-5px;margin-top:-40px;position:relative;z-index:1;padding:5px;background-color:#fff}
.quote-footer h4{font-size:14px;margin-bottom:4px}
.quote-footer p{font-weight:400;font-style:italic;font-size:14px}
.search{}
.search .search-item{padding:10px}
.search-item .search-item-info{color:#000!important}
.search-item .search-item-info .search-item-url{color:#080!important}
.search-item .search-item-info .search-item-title a:link{color:#00f!important}
.search-item .search-item-info .search-item-title a:visited{color:#808!important}
.theme{display:block;margin:0 auto;padding-top:10px;width:300px;height:53px;text-align:center;vertical-align:middle;background:transparent;font-size:12px;color:#000}
.theme a{display:inline-block;line-height:0;color:inherit;width:auto;padding:0;margin:0}
.theme a:hover{color:inherit;text-decoration:underline}
.theme a .libre{width:auto;color:#18a303}
.theme a .cms{color:#000;font-weight:700}
@media(min-width:320px){
    header.index{
        width:100%;
        height:120px!important;
        padding:0;
        background:#f8e8ce none no-repeat bottom left;
        background-size:contain;
    }
    header.index .logo img{
        width:300px;
        margin:0 auto
    }
    .navbar-toggle{
        position:absolute;
        top:-12px;
        right:-10px;
        background-color:#000!important;
        color:#fff;
        border:0
    }
    .index .navbar-toggle{
        top:-42px;
    }
    .navbar-collapse{
        border:0;
    }
    .navbar{
        width:100%;
    }
    .navbar-default .navbar-nav>li>a{background-color:#f8e8ce}
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover{background-color:#f8e8ce}
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover{background-color:#f8e8ce}
    #featured{
        position:relative;
        top:0
    }
    .carousel{
        z-index:0;
        width:100%;
        height:200px
    }
    .carousel .item{
        width:100%;
        height:200px
    }
}
@media(min-width:480px){
    header.index .logo img{
        width:320px;
    }
    .price_content.col-xs-12{width:50%}
}
@media(min-width:600px){}
@media(min-width:768px){
    header.index{
        width:50%;
        height:500px!important;
        padding:40px;
        background:#f8e8ce url(../images/corner-1.svg) no-repeat bottom left;
        background-size:contain;
    }
    header.index .logo img{
        margin-top:50px;
        margin-left:0;
        width:300px;
    }
    header.index .face{
        position:absolute;
        width:50%;
        text-align:center;
        left:0;
        top:220px;
    }
    header.index .face img{
        width:200px;
        height:200px;
        border-radius:50%;
    }
    .index.navbar-header{
        position:absolute;
        top:30px;
        right:0;
    }
    #featured{
        z-index:0;
        position:absolute;
        top:120px;
        right:0;
    }
    .carousel{
        z-index:0;
        width:50%;
        height:440px
    }
    .carousel .item{width:100%;height:440px}
    .carousel .item img{height:440px}
    .navbar-default .navbar-nav>li>a{background-color:transparent}
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover{background-color:transparent}
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover{background-color:transparent}
}
@media(min-width:800px){}
@media(min-width:1024px){
    header.index{
        height:550px;
    }
    header.index .logo img{
        margin-top:50px;
        width:100%;
    }
    header.index .face{
        top:320px;
    }
}
.price_side .side_price,
.side_price{position:relative;min-height:50px}
.price_side .side_price .cost,
.side_price .cost,
.price_side .side_price .quantity,
.side_price .quantity{position:absolute;width:70%;vertical-align:top;border:0;margin:0;padding:0}
.price_side .side_price .cost,
.side_price .cost{left:0;font-size:34px;font-weight:700;color:#000}
.price_side .side_price .quantity,
.side_price .quantity{right:0;width:30%;text-align:center;font-size:14px}
.price_side .side_price .btn,
.side_price .btn{margin:10px auto 10px auto}
.reviews{

}
.rat{display:inline-block;unicode-bidi:bidi-override;direction:rtl}
.rat > span{position:relative;width:1em;text-shadow:0 1px 1px #000}
.rat > span.set,
.rat > span.set ~ span{color:transparent}
.rat > span.set:after,
.rat > span.set ~ span:after{content:"\2605";position:absolute;left:0;color:gold}
.rating{position:relative;float:left}
.rating:not(:checked) > input{position:absolute;top:-9999px;clip:rect(0,0,0,0)}
.rating:not(:checked) > label{float:right;width:1em;padding:0 .1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:150%;line-height:1.2;color:#ddd;text-shadow:1px 1px #bbb, 2px 2px #666,.1em .1em .2em rgba(0,0,0,.5)}
.rating:not(:checked) > label:before{content:'★ '}
.rating > input:checked ~ label{color:#f70;text-shadow:1px 1px #c60,2px 2px #940,.1em .1em .2em rgba(0,0,0,.5)}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{color:gold;text-shadow:1px 1px goldenrod,2px 2px #B57340,.1em .1em .2em rgba(0,0,0,.5)}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label{color:#ea0;text-shadow:1px 1px goldenrod,2px 2px #B57340,.1em .1em .2em rgba(0,0,0,.5)}
.rating > label:active{position:relative;top:2px;left:2px}
.rating > label:after{content:attr(data-title);position:absolute;display:block;top:auto;bottom:30px;width:5px;height:auto;padding-left:7px;color:#000;font-size:10px;font-weight:400;text-shadow:0 0 0;word-wrap:break-word}
