body{background:#f4f4f4;margin:-30px 0 0 0;padding:0}
.text-truncate{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.divider{height:1px;overflow:hidden;background-color:#e0e0e0}
#content{margin:0 10px 10px 170px}
.login-panel{margin-top:25%}
#busy{position:fixed;bottom:5px;left:5px;display:none}
.busy{position:absolute;top:2px;left:-32px;z-index:1000}
.busycheck{position:absolute;top:-8px;left:-32px;z-index:1000}
#block{position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483646;display:none;background:#000;background:rgba(0,0,0,.75)}
#block>i{position:absolute;top:47%;left:47%;margin:0 auto;color:#fff;text-shadow:0 0 75px #000,0 0 50px #000,0 0 25px #000}
.btn-xs{padding:0 5px 1px 5px;font-size:12px;line-height:1.5;border-radius:3px}
.input-group-addon#file,
.input-group-addon#thumb{padding:0}
#covertop{position:relative;height:340px}
#coverimg{position:relative;background-color:#ddd;height:300px;margin-bottom:30px;overflow:hidden;}
#coverimg .cover{position:absolute;top:0;left:0;right:0;bottom:auto;width:100%;margin:0;padding:0}
#coverimg .name{position:absolute;bottom:5px;left:200px;color:#fff;}
#covertop .avatar{position:absolute;width:160px;height:160px;left:20px;bottom:0;}
.input-group-addon img{max-height:40px;width:30px}
#toTop{position:fixed;top:0;left:0;z-index:2147483647;display:none;padding:5px 8px 5px 5px;-webkit-border-bottom-right-radius:20px;-moz-border-radius-bottomright:20px;border-bottom-right-radius:20px;background-color:#000;background-color:rgba(0,0,0,.5);color:#fff}
div.clear{clear:both}
#events-layer{position:absolute;top:-1px;right:0;z-index:100;width:65px;height:17px;text-align:right;padding-right:5px;}
#events-layer .btn{padding:0}
#events-layer .btn-xs{width:15px;height:15px}
.thumbnail .indicator{position:absolute;top:-10px;right:-10px}
.thumbnail .indicator.disabled{opacity:1;filter:alpha(opacity=100)}
#avatar{margin:-5px 5px -2px -5px;width:25px;max-height:25px}
.commentavatar{max-width:75px;max-height:75px}
#sp{display:none}
.table-responsive{overflow:visible}
#media{margin:0;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:hidden}
#media li{position:relative;display:inline-block;background-color:#fff;list-style:none;float:left;margin:5px 10px 20px 10px;width:150px;height:150px;text-align:center}
#media .controls{position:absolute;top:5px;right:-15px}
#media img{float:left;margin:10px;padding-bottom:20px;width:100%;height:100%}
#media .title{position:absolute;right:-5px;bottom:-5px;left:15px;overflow:hidden;color:#000;text-align:center;font-size:9px}
#media .filetype{margin-top:10px;width:150px;height:150px;color:#000}
#media .filetype i{margin-top:10px}
@media screen and(-webkit-min-device-pixel-ratio:0){}
@media(max-device-height:480px)and(orientation:portrait){}
@media(max-width:480px){}
@media(min-width:479px){
	.login-panel{margin-top:20px}
}
@media(min-width:599px){
	.login-panel{margin-top:25%}
}
@media screen and(max-width:767px){}
@media(max-width:767px){
	footer .navbar-nav li{float:right;display:inline}
}
@media(min-width:768px){}
@media(min-width:768px)and(max-width:991px){}
@media(min-width:992px){}
@media(min-width:992px)and(max-width:1199px){}
@media(min-width:1200px){}
.nav-tabs .libre:not(.no-margin){margin-right:10px}
.tab-pane .list-group a{color:#000}
.tab-pane .list-group .libre:hover{color:#ffbc00;cursor:pointer}
hr{margin-top:2px;margin-bottom:2px}
.nav-pills>li>a{padding:5px 10px}
.col-50{display:inline;width:50%}
.inline{display:inline}
.border-right{border-right:1px solid #ddd}
.margin-10{margin:10px}
input[type=checkbox]{position:absolute;left:-9999px}
input[type=checkbox]+label{font-family:LibreICONS;color:#a94442}
input[type=checkbox]+label::before{content:'\e644'}
input[type=checkbox]:checked+label{font-family:LibreICONS;color:#3c763d}
input[type=checkbox]:checked+label::before{content:'\e645'}
.panel .panel-image{position:relative;height:120px;overflow:hidden}
.panel .panel-image[data-status|=delete]{background:#d9534f}
.panel .panel-image[data-status|=unpublished]{background:#f0ad4e}
.panel .panel-image[data-status|=published]{background:#5cb85c}
.panel .panel-image[data-status|=]{background:#5bc0de}
.panel .panel-image img{border-radius:3px 3px 0 0;position:relative;left:0;right:0;top:0;bottom:0;width:100%}
.panel .panel-image img[src=""]{display:none}
.panel .panel-image .panel-title{position:absolute;display:block;color:#fff;line-height:.9em;bottom:2px;left:60px;padding:0 0 0 10px}
.panel .panel-image h4.panel-title{left:0}
.panel .panel-image .avatar{position:absolute;top:auto;bottom:5px;left:5px;max-width:60px;height:60px}
.panel .panel-content{padding:10px;font-size:.9em;border-radius:0 0 3px 3px;height:100px;overflow:hidden}
.panel .panel-content.ga{height:auto}
.panel .panel-content p{margin:0;color:inherit;text-overflow:ellipsis}
.panel .panel-content.stats a{color:#000;text-decoration:none}
.panel .panel-content.stats div{text-align:right;line-height:0}
.panel .panel-controls{position:absolute;top:5px;right:20px;list-style:none}
.panel .panel-controls li{float:left}
li.active{text-shadow:0 2px 5px rgba(0,0,0,.5),0 2px 10px rgba(0,0,0,.3)}
[class*="badger"]{position:relative;z-index:1;}
[class*="badger"]:after{content:attr(data-contenttype);position:absolute;top:0;padding:3px 7px;font-size:12px;font-weight:700;background:#999;color:#fff;text-transform:uppercase}
.badger-left:after{left:0;border-radius:2px 0 6px 0;font-size:9px;}
.badger-right:after{right:0;border-radius:0 2px 0 6px}
[data-status|=purge]:after,
[data-status|=delete]:after,
.badger-danger:after{background:#d9534f}
[data-status|='inactive']:after,
[data-status|=unpublished]:after,
.badger-warning:after{background:#f0ad4e}
[data-status|=insert]:after,
[data-status|=create]:after,
[data-status|=active]:after,
[data-status|=published]:after,
.badger-success:after{background:#5cb85c}
[data-status|=update]:after,
.badger-info:after{background:#337ab7}
[data-status|=]:after,
.badger-inverse:after{background:#222}
fieldset.control-fieldset{background:#fff;border:1px solid #ddd!important;padding:0 1.4em 1.4em 1.4em!important;margin:0 0 1.5em 0!important;border-radius:5px}
legend.control-legend{display:inline;width:auto;font-size:1.5em!important;font-weight:700!important;border:0!important;padding:0 10px}
fieldset.control-fieldset.fieldset-sm{padding:0 .7em .7em .7em!important;margin:0!important}
legend.control-legend.legend-sm{font-size:.75em!important}
.btn-file{position:relative;overflow:hidden}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:none;background:white;cursor:inherit;display:block}
.img-container,
.img-preview{background-color:#f7f7f7;overflow:hidden;width:100%;text-align:center}
.img-container{min-height:200px;max-height:466px;margin-bottom:20px}
@media(min-width:768px){
  .img-container{min-height:466px}
}
.img-container>img{max-width:100%}
.img-preview{float:left}
.img-preview>img{max-width:100%}
.preview-lg{width:235px;height:180px}
.timeline-icon{position:absolute;top:0;right:0}
.nav-side-menu{overflow:auto;font-size:12px;font-weight:200;background-color:#f8f8f8;position:fixed;top:0;width:150px;height:100%;color:#000;border-right:1px solid #ccc}
.nav-side-menu footer{position:absolute;bottom:0}
.nav-side-menu footer li{float:right;padding:0 22px}
.nav-side-menu .brand{position:relative;background-color:transparent;line-height:50px;display:block;text-align:center;font-size:14px}
.nav-side-menu .brand img{width:90%}
.nav-side-menu .toggle-btn{display:none}
.nav-side-menu ul,
.nav-side-menu li{list-style:none;padding:0;margin:0;line-height:30px;cursor:pointer}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before{display: inline-block;padding-left:10px;padding-right:10px;vertical-align:middle;float:right}
.nav-side-menu ul.active,
.nav-side-menu li.active *{color:#000;font-weight:700}
.nav-side-menu li{text-align:left;padding:0 10px}
.nav-side-menu li a{text-decoration:none;color:#777}
.nav-side-menu li a:hover{color:#000}
.nav-side-menu li a i{display:none}
.nav-side-menu li a span{display:block}
@media(max-width:767px){
  .nav-side-menu{position:relative;width:100%;margin-bottom:10px}
  .nav-side-menu .toggle-btn{display:block;cursor:pointer;position:absolute;right:10px;top:10px;z-index:10!important;padding:3px;background-color:#fff;color:#000;width:40px;text-align:center}
  .brand{text-align:left!important;font-size:22px;padding-left:20px;line-height:50px!important}
}
@media(min-width:767px){
  .nav-side-menu .menu-list .menu-content{display:block}
}
.profile{margin:10px}
.profile-sidebar li{text-align:left}
.profile-userpic img{float:left;margin-top:-15px;width:40%;height:40%;-webkit-border-radius:50%!important;-moz-border-radius:50%!important;border-radius:50%!important}
.profile-usertitle{text-align:right;margin-top:0}
.profile-usertitle-name{color:#5a7391;font-size:12px;font-weight:600}
.profile-usertitle-job{text-transform:uppercase;color:#5b9bd1;font-size:9px;font-weight:600}
.profile-useractions{text-align:right}
.profile-useractions a{color:#777}
