body{background:#fff url(../images/bg.png) repeat-x top center;margin:0;padding:0}
.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.pace-inactive{display:none}
.pace .pace-progress{background:#5cb85c;position:fixed;z-index:99999;top:0;right:100%;width:100%;height:2px;box-shadow:0 0 10px #5cb85c}
.pace .pace-progress:after{content:'';position:absolute;height:4px;width:100px;top:0;right:0;border-radius:25%;box-shadow:0 0 20px #5cb85c}
.text-truncate{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.break-word{word-wrap:break-word}
.divider{height:1px;overflow:hidden;background-color:#eee}
#content{margin:-30px 20px 10px 160px}
.page-toolbar{height:30px;padding-bottom:9px;margin:40px 0 20px 0}
#busy{position:fixed;bottom:5px;left:5px;display:none}
.busy{position:absolute;top:2px;left:-32px;z-index:1000}
.busycheck{position:absolute;top:-8px;left:-32px;z-index:1000}
#block{position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483646;display:none;background:#000;background:rgba(0,0,0,.15)}
#block>i{position:absolute;top:47%;left:47%;margin:0 auto;color:#fff;text-shadow:0 0 100px #000,0 0 50px #000,0 0 25px #000}
.input-group-addon#file,
.input-group-addon#thumb{padding:0}
.nav-tabs li a{padding-right:7px}
.nav-tabs li.active,
.nav-tabs li a.active{color:#000;font-weight:700}
#covertop{position:relative}
#coverimg{display:block;position:relative;background:url(../images/nocover.jpg) no-repeat;background-size:cover;top:0;left:0;right:0;bottom:auto;width:100%;height:300px;margin:0 0 30px 0;padding:0;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden}
#coverimg .cover{display:block;position:absolute;background:url(../images/nocover.jpg) no-repeat;background-size:cover;top:0;left:0;right:0;bottom:auto;width:100%;height:100%;margin:0;padding:0;-moz-box-sizing:border-box;box-sizing:border-box}
#coverimg .name{position:absolute;bottom:5px;left:200px;color:#fff}
#covertop .avatar{position:absolute;width:160px;height:160px;left:20px;bottom:-30px}
@media(max-width:767px){
    #covertop{height:170px}
    #coverimg{height:150px}
    #covertop .avatar{width:80px;height:80px;left:10px;bottom:0}
    #coverimg .name{bottom:0;left:100px}
    .collapse{display:block}
    .navbar-collapse li{float:left}
}
.input-group-addon img{max-height:40px;width:30px}
#toTop{position:fixed;top:0;left:0;z-index:2147483647;display:none;padding:5px 8px 5px 5px;-webkit-border-bottom-right-radius:20px;-moz-border-radius-bottomright:20px;border-bottom-right-radius:20px;background-color:#000;background-color:rgba(0,0,0,.5);color:#fff}
div.clear{clear:both}
.theme-chooser-item{cursor:pointer}
.theme-chooser-item.panel.panel-success{border-width:3px;border-color:#4aa03f}
#events-layer{position:absolute;top:-1px;right:0;z-index:100;width:65px;height:17px;text-align:right;padding-right:5px}
#events-layer .btn{padding:0}
#events-layer .btn-xs{width:15px;height:15px}
.thumbnail .indicator{position:absolute;top:-10px;right:-10px}
.thumbnail .indicator.disabled{opacity:1;filter:alpha(opacity=100)}
#avatar{margin:-5px 5px -2px -5px;width:25px;max-height:25px}
.commentavatar{max-width:75px;max-height:75px}
#sp{display:none}
.table-responsive{overflow:visible}
@media screen and(-webkit-min-device-pixel-ratio:0){}
@media(max-device-height:480px)and(orientation:portrait){}
@media(max-width:480px){}
@media(min-width:479px){}
@media(min-width:599px){}
@media screen and(max-width:767px){}
@media(max-width:767px){
    footer .navbar-nav li{display:inline}
    .control-label{font-size:10px}
}
@media(min-width:768px){}
@media(min-width:768px)and(max-width:991px){}
@media(min-width:992px){}
@media(min-width:992px)and(max-width:1199px){}
@media(min-width:1200px){}
.nav-tabs .libre:not(.no-margin){margin-right:10px}
.tab-pane .list-group a{color:#000}
.tab-pane .list-group .libre:hover{color:#ffbc00;cursor:pointer}
hr{margin-top:2px;margin-bottom:2px}
.nav-pills>li>a{padding:5px 10px}
.col-50{display:inline;width:50%}
.inline{display:inline}
.border-right{border-right:1px solid #ddd}
.margin-10{margin:10px}
input[type=checkbox]{position:absolute;left:-9999px}
input[type=checkbox]+label{font-family:LibreICONS;color:#a94442}
input[type=checkbox]+label::before{content:'\e645'}
input[type=checkbox]:checked+label{font-family:LibreICONS;color:#3c763d}
input[type=checkbox]:checked+label::before{content:'\e646'}
input[type=checkbox].check+label{display:inline-block;line-height:1.5em}
input[type=checkbox].check+label::before{content:' ';display:inline-block;width:1em;height:1em;border:.0625em solid rgb(192,192,192);border-radius:.25em;background:rgb(224,224,224);vertical-align:top}
input[type=checkbox]:checked.check+label{}
input[type=checkbox]:checked.check+label::before{content:'✓';color:rgb(0,0,0);font-size:1em;line-height:1em;text-align:center;text-shadow:0 0 0.0714em rgb(0,0,0);font-weight:700}
.panel .panel-image{position:relative;background-color:#ddd;height:120px;overflow:hidden}
.panel .panel-image[data-status|=delete]{background:#d9534f}
.panel .panel-image[data-status|=unpublished]{background:#f0ad4e}
.panel .panel-image[data-status|=published]{background:#5cb85c}
.panel .panel-image[data-status|=]{background:#5bc0de}
.panel .panel-image img{border-radius:3px 3px 0 0;position:relative;left:0;right:0;top:0;bottom:0;width:100%}
.panel .panel-image img[src=""]{display:block;position:absolute;background:url(../images/nocover.jpg) no-repeat;background-size:cover;top:0;left:0;right:0;bottom:auto;width:100%;height:100%;margin:0;padding:0;-moz-box-sizing:border-box;box-sizing:border-box}
.panel .panel-image .panel-title{position:absolute;display:block;color:#fff;line-height:.9em;bottom:2px;left:60px;padding:0 0 0 10px}
.panel .panel-image h4.panel-title{left:0}
.panel .panel-image .avatar{position:absolute;top:auto;bottom:5px;left:5px;max-width:60px;height:60px}
.panel .panel-content{padding:10px;font-size:.9em;border-radius:0 0 3px 3px;height:100px;overflow:hidden}
.panel .panel-content.ga{height:auto}
.panel .panel-content p{margin:0;color:inherit;text-overflow:ellipsis}
.panel .panel-content.stats a{color:#000;text-decoration:none}
.panel .panel-content.stats div{text-align:right;line-height:0}
.panel .panel-footer{position:relative;height:32px;background-color:#fff;border-top:0;}
[class*="badger"]{position:relative;z-index:1}
[class*="badger"]:after{content:attr(data-contenttype);position:absolute;top:0;padding:3px 7px;font-size:12px;font-weight:700;background:#999;color:#fff;text-transform:uppercase}
.badger-left:after{left:0;border-radius:2px 0 6px 0;font-size:9px}
.badger-right:after{right:0;border-radius:0 2px 0 6px}
[data-status|=purge]:after,
[data-status|=delete]:after,
.badger-danger:after{background:#d9534f}
[data-status|='inactive']:after,
[data-status|=unpublished]:after,
.badger-warning:after{background:#f0ad4e}
[data-status|=insert]:after,
[data-status|=create]:after,
[data-status|=active]:after,
[data-status|=published]:after,
.badger-success:after{background:#5cb85c}
[data-status|=update]:after,
.badger-info:after{background:#337ab7}
[data-status|=]:after,
.badger-inverse:after{background:#222}
fieldset.control-fieldset{background:#fff;border:1px solid #ddd!important;padding:0 1.4em 1.4em 1.4em!important;margin:0 0 1.5em 0!important;border-radius:5px}
legend.control-legend{display:inline;width:auto;font-size:1.5em!important;font-weight:700!important;border:0!important;padding:0 10px}
fieldset.control-fieldset.fieldset-sm{padding:0 .7em .7em .7em!important;margin:0!important}
legend.control-legend.legend-sm{font-size:.75em!important}
.btn-file{position:relative;overflow:hidden}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:none;background:white;cursor:inherit;display:block}
.img-container,
.img-preview{background-color:#f7f7f7;overflow:hidden;width:100%;text-align:center}
.img-container{min-height:200px;max-height:466px;margin-bottom:20px}
@media(min-width:768px){
    .img-container{min-height:466px}
}
.img-container>img{max-width:100%}
.img-preview{float:left}
.img-preview>img{max-width:100%}
.preview-lg{width:235px;height:180px}
.timeline-icon{position:absolute;top:0;right:0}
.nav-side-menu{overflow:auto;font-size:12px;font-weight:200;background-color:#f8f8f8;position:fixed;top:0;width:140px;height:100%;color:#000;border-right:1px solid #ccc}
.nav-side-menu footer{position:absolute;bottom:0}
.nav-side-menu footer li{float:right;padding:0 27px 0 0}
.nav-side-menu .brand{position:relative;background-color:transparent;line-height:50px;display:block;text-align:center;font-size:14px}
.nav-side-menu .brand img{width:90%}
.nav-side-menu .toggle-btn{display:none}
.nav-side-menu ul,
.nav-side-menu li{list-style:none;padding:0;margin:0;line-height:30px;font-weight:300;cursor:pointer}
.nav-side-menu ul :not(collapsed) .arrow:before,.nav-side-menu li :not(collapsed) .arrow:before{display: inline-block;padding-left:10px;padding-right:10px;vertical-align:middle;float:right}
.nav-side-menu ul.active,
.nav-side-menu li.active *,
.nav-tabs li.active,
.nav-tabs li a.active{color:#000;font-weight:700}
.nav-tabs li a{padding-right:7px}
.nav-side-menu li{text-align:left;padding:0 10px}
.nav-side-menu li a{text-decoration:none;color:#555}
.nav-side-menu li a:hover{color:#000}
.nav-side-menu li a i{font-size:24px;display:none}
.nav-side-menu footer a i{font-size:14px;display:inline-block}
.nav-side-menu li a span{display:block}
@media(max-width:767px){
    .nav-side-menu{position:relative;width:100%;margin-bottom:10px}
    .nav-side-menu .toggle-btn{display:block;cursor:pointer;position:absolute;right:10px;top:10px;z-index:10!important;padding:3px;background-color:#fff;color:#000;width:40px;text-align:center}
    .brand{text-align:left!important;font-size:22px;padding-left:20px;line-height:50px!important}
    .nav-side-menu li{display:inline-block;width:30px;height:30px;padding:0 2px}
    .nav-side-menu li a i{position:relative;font-size:28px;width:34px;height:34px;text-align:center;display:inline-block}
    .nav-side-menu li a i:before{width:28px;text-align:center}
    .nav-side-menu li a i:after{content:attr(name);position:absolute;left:0;right:0;bottom:0;width:34px;text-align:center;font-size:6px}
    .nav-side-menu li a span{display:none}
    .nav-side-menu ul.active,
    .nav-side-menu li.active *,
    .nav-tabs li.active,
    .nav-tabs li a.active{color:#000;font-weight:400}
}
@media(min-width:767px){
    .nav-side-menu .menu-list .menu-content{display:block}
}
.profile{margin:10px}
.profile-sidebar li{text-align:left}
.profile-userpic img{float:left;margin-top:-30px;width:30px;height:30px;-webkit-border-radius:50%!important;-moz-border-radius:50%!important;border-radius:50%!important}
.profile-userpic img.img-thumbnail{padding:1px}
.profile-usertitle{text-align:right;margin-top:0}
.profile-usertitle-name{color:#5a7391;font-size:10px;font-weight:700}
.profile-usertitle-job{text-transform:uppercase;color:#5b9bd1;font-size:8px;font-weight:600}
.profile-useractions{text-align:right}
.profile-useractions a{color:#777}
@media(max-width:767px){
    #content{margin:-20px 20px 10px 20px}
    .profile-usertitle{text-align:left;text-indent:50px}
    .profile-userpic img{margin-top:-25px;width:40px;height:40px}
    h1.page-header{font-size:20px}
}

.card .item{position:relative;min-height:1px;padding-right:15px;padding-left:15px;float:left;width:25%!important;transition: all .2s;-webkit-transition:all .2s}
@media(max-width:767px){

}
.handle{cursor:move}
.sort-placeholder{position:relative;border:1px dashed #000;background:#eee;height:100px;margin:auto auto 10px auto;float:left;width:100%!important}
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.flex-column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.flex>div{box-sizing:border-box}
.searchresults .breadcrumb{padding-bottom:0;margin-bottom:0}
.searchresults small img{float:left;vertical-align:top;width:100px!important;height:auto!important;max-width:100px!important;margin:5px 5px 0 5px}
.mailbox-messages>.table{margin:0}
.mailbox-messages>.table tr.unread{font-weight:700}
.mailbox-messages .table tr th,
.mailbox-messages .table tr td{}
.mailbox-controls{padding:5px}
.mailbox-controls.with-border{border-bottom:1px solid #f4f4f4}
.mailbox-toggle,
.mailbox-star,
.mailbox-attachment{width:16px}
.mailbox-date{text-align:right}
.mailbox-read-info{border-bottom:1px solid #f4f4f4;padding:10px}
.mailbox-read-info h3{font-size:20px;margin:0}
.mailbox-read-info h5{margin:0;padding:5px 0 0 0}
.mailbox-read-time{color:#999;font-size:13px}
.mailbox-read-message{padding:10px}
.mailbox-attachments li{float:left;width:200px;border:1px solid #eee;margin-bottom:10px;margin-right:10px}
.mailbox-attachment-name{font-weight:bold;color:#666}
.mailbox-attachment-icon,
.mailbox-attachment-info,
.mailbox-attachment-size{display:block}
.mailbox-attachment-info{padding:10px;background:#f4f4f4}
.mailbox-attachment-size{color:#999;font-size:12px}
.mailbox-attachment-icon{text-align:center;font-size:65px;color:#666;padding:20px 10px}
.mailbox-attachment-icon.has-img{padding:0}
.mailbox-attachment-icon.has-img>img{max-width:100%;height:auto}
.mailbox-attachments{list-style:none;margin:0;padding:0}
@media screen and (min-width: 768px) { .modal-dialog { width: 700px; padding-top: 20px; padding-bottom: 20px;}}


@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
.hll{background-color:#ffc}
.c{color:#999}
.err{color:#A00;background-color:#FAA}
.k{color:#069}
.o{color:#555}
.cm{color:#999}
.cp{color:#099}
.c1{color:#999}
.cs{color:#999}
.gd{background-color:#FCC;border:1px solid #C00}
.ge{font-style:italic}
.gr{color:red}
.gh{color:#030}
.gi{background-color:#CFC;border:1px solid #0C0}
.go{color:#AAA}
.gp{color:#009}
.gu{color:#030}
.gt{color:#9C6}
.kc{color:#069}
.kd{color:#069}
.kn{color:#069}
.kp{color:#069}
.kr{color:#069}
.kt{color:#078}
.m{color:#F60}
.s{color:#d44950}
.na{color:#4f9fcf}
.nb{color:#366}
.nc{color:#0A8}
.no{color:#360}
.nd{color:#99F}
.ni{color:#999}
.ne{color:#C00}
.nf{color:#C0F}
.nl{color:#99F}
.nn{color:#0CF}
.nt{color:#2f6f9f}
.nv{color:#033}
.ow{color:#000}
.w{color:#bbb}
.mf{color:#F60}
.mh{color:#F60}
.mi{color:#F60}
.mo{color:#F60}
.sb{color:#C30}
.sc{color:#C30}
.sd{color:#C30;font-style:italic}
.s2{color:#C30}
.se{color:#C30}
.sh{color:#C30}
.si{color:#A00}
.sx{color:#C30}
.sr{color:#3AA}
.s1{color:#C30}
.ss{color:#FC3}
.bp{color:#366}
.vc{color:#033}
.vg{color:#033}
.vi{color:#033}
.il{color:#F60}
.css .nt+.nt,
.css .o,
.css .o+.nt{color:#999}
.bs-example{position:relative;padding:5px;margin:0 -15px 15px;border-bottom-color:#e5e5e5 #eee #eee;border-bottom-style:solid;border-bottom-width:1px 0;-webkit-box-shadow:inset 0 3px 6px rgba(0,0,0,.05);box-shadow:inset 0 3px 6px rgba(0,0,0,.05)}
.bs-example-padded-bottom{padding-bottom:24px}
.bs-example+.highlight,
.bs-example+.zero-clipboard+.highlight{margin:-15px -15px 15px;border-width:0 0 1px;border-radius:0}
@media (min-width:768px){
    .bs-example{margin-right:0;margin-left:0;background-color:#fff;border-color:#ddd;border-width:1px;border-radius:4px 4px 0 0;-webkit-box-shadow:none;box-shadow:none}
    .bs-example+.highlight,
    .bs-example+.zero-clipboard+.highlight{margin-top:-16px;margin-right:0;margin-left:0;border-width:1px;border-bottom-right-radius:4px;border-bottom-left-radius:4px}.bs-example-standalone{border-radius:4px}
}
.bs-example .container{width:auto}
.bs-example>.alert:last-child,
.bs-example>.form-control:last-child,
.bs-example>.jumbotron:last-child,
.bs-example>.list-group:last-child,
.bs-example>.navbar:last-child,
.bs-example>.panel:last-child,
.bs-example>.progress:last-child,
.bs-example>.table-responsive:last-child>.table,
.bs-example>.table:last-child,
.bs-example>.well:last-child,
.bs-example>blockquote:last-child,
.bs-example>ol:last-child,
.bs-example>p:last-child,
.bs-example>ul:last-child{margin-bottom:0}
.bs-example>p>.close{float:none}
.bs-example-type .table .type-info{color:#767676;vertical-align:middle}
.bs-example-type .table td{padding:15px 0;border-color:#eee}
.bs-example-type .table tr:first-child td{border-top:0}
.bs-example-type h1,
.bs-example-type h2,
.bs-example-type h3,
.bs-example-type h4,
.bs-example-type h5,
.bs-example-type h6{margin:0}
.bs-example-bg-classes p{padding:15px}
.bs-example>.img-circle,
.bs-example>.img-rounded,
.bs-example>.img-thumbnail{margin:5px}
.bs-example>.table-responsive>.table{background-color:#fff}
.bs-example>.btn,
.bs-example>.btn-group{margin-top:5px;margin-bottom:5px}
.bs-example>.btn-toolbar+.btn-toolbar{margin-top:10px}
.bs-example-control-sizing input[type=text]+input[type=text],
.bs-example-control-sizing select{margin-top:10px}
.bs-example-form .input-group{margin-bottom:10px}
.bs-example>textarea.form-control{resize:vertical}
.bs-example>.list-group{max-width:400px}
.bs-example .navbar:last-child{margin-bottom:0}
.bs-navbar-bottom-example,
.bs-navbar-top-example{z-index:1;padding:0;overflow:hidden}
.bs-navbar-bottom-example .navbar-header,
.bs-navbar-top-example .navbar-header{margin-left:0}
.bs-navbar-bottom-example .navbar-fixed-bottom,
.bs-navbar-top-example .navbar-fixed-top{position:relative;margin-right:0;margin-left:0}
.bs-navbar-top-example{padding-bottom:45px}
.bs-navbar-top-example:after{top:auto;bottom:15px}
.bs-navbar-top-example .navbar-fixed-top{top:-1px}
.bs-navbar-bottom-example{padding-top:45px}
.bs-navbar-bottom-example .navbar-fixed-bottom{bottom:-1px}
.bs-navbar-bottom-example .navbar{margin-bottom:0}
@media (min-width:768px){
    .bs-navbar-bottom-example .navbar-fixed-bottom,
    .bs-navbar-top-example .navbar-fixed-top{position:absolute}
}
.bs-example .pagination{margin-top:10px;margin-bottom:10px}
.bs-example>.pager{margin-top:0}
.bs-example-modal{background-color:#f5f5f5}
.bs-example-modal .modal{position:relative;top:auto;right:auto;bottom:auto;left:auto;z-index:1;display:block}
.bs-example-modal .modal-dialog{left:auto;margin-right:auto;margin-left:auto}
.bs-example>.dropdown>.dropdown-toggle{float:left}
.bs-example>.dropdown>.dropdown-menu{position:static;display:block;margin-bottom:5px;clear:left}
.bs-example-tabs .nav-tabs{margin-bottom:15px}
.bs-example-tooltips{text-align:center}
.bs-example-tooltips>.btn{margin-top:5px;margin-bottom:5px}
.bs-example-tooltip .tooltip{position:relative;display:inline-block;margin:10px 20px;opacity:1}
.bs-example-popover{padding-bottom:24px;background-color:#f9f9f9}
.bs-example-popover .popover{position:relative;display:block;float:left;width:260px;margin:20px}
.scrollspy-example{position:relative;height:200px;margin-top:10px;overflow:auto}
.bs-example>.nav-pills-stacked-example{max-width:300px}
