[class*=" fc-icon-"],
[class^=fc-icon-]{display:inline-block;background-repeat:no-repeat;background-image:url(../svg/libre-svg-black.svg);width:14px;height:14px;vertical-align:middle}
.fc button,
.fc button:active,
.fc-state-default{background-image:none}
.fc-icon-left-single-arrow{background-position:-70px -70px}
.fc-icon-right-single-arrow{background-position:-84px -70px}
.fc-icon-left-double-arrow{background-position:-70px -70px}
.fc-icon-right-double-arrow{background-position:-84px -70px}
.fc-icon-left-triangle{background-position:-112px -56px}
.fc-icon-right-triangle{background-position:-126px -56px}
.fc-icon-down-triangle{background-position:-98px -56px}
.fc-icon-x:after{background-position:-168px -70px}
.fc button{
  display:inline-block;
  color:#fff;
  background-color:#73818f;
  border-color:#73818f;
  padding:6px 12px;
  margin-bottom:0;
  font-size:14px;
  font-weight:400;
  line-height:1.2em;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.fc button:active:focus,
.fc button:focus{box-shadow:0 0 0 .2rem rgba(115,129,143,.5);
color:#fff;
background-color:#626e7a!important;
border-color:#73818f;outline:none;outline:none;outline-offset:none}
.fc button:focus,
.fc button:hover{
  color:#fff;
  background-color:#626e7a!important;
  border-color:#5c6873;
  text-decoration:none
}
.fc button:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
body.bg1 .fc button:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.fc button:focus{
  box-shadow:0 0 0 .2rem rgba(115,129,143,.5);
  color:#fff;
  background-color:#626e7a!important;
  border-color:#73818f!important;}
.fc button:active,
.fc button:hover{color:#fff;
background-color:#626e7a!important;
border-color:#73818f;}
.fc button:active:focus,
.fc button:active:hover{color:#fff;
background-color:#626e7a!important;
border-color:#73818f!important;}
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead{border-color:#23282C!important}
.fc-unthemed td.fc-today{background-color:#20a8d8!important}
