option[value='']{display:none!important}
svg#librecms #libre{fill:#3da639!important}
svg#librecms #cms{fill:#000!important}
.navbar-brand svg{width:100px}
.browser-stats{position:relative!important;height:92px;padding:0 3px;overflow:hidden}
.browser-stats .text-value{padding:10px 10px 10px 5px;font-size:1.3em}
.browser-stats small{margin-left:10px;font-size:.75em;display:block}
.browser-stats .browser{position:absolute;color:rgba(0,0,0,.25);right:40px;bottom:-20px}
a.preferences .card-header{color:#000}
a.preferences:hover{text-decoration:none}
a.preferences .card-body{padding:0!important}
a.preferences .card-text{color:#888}
a.preferences .card .card-body .libre{display:inline}
.popover.fingerprint,
.popover.analytics,
.popover.suggestions,
.popover.accessibility,
.popover.pathviewer{min-width:200px!important;max-width:800px!important;max-height:600px!important}
.popover.media .control-label{font-size:10px;padding-top:5px}
.popover.media .form-group-sm{font-size:10px}
.popover.media{min-width:500px!important;max-width:500px!important;min-height:220px!important}
.popover.media .popover-header{position:relative;text-indent:20px}
.popover.media .mediaicon{position:absolute;top:0;left:0;margin:2px;width:26px!important;height:26px!important;overflow:hidden}
.popover.media .mediaicon img{width:100%;min-height:26px;top:50%;left:50%;margin-top:-50%;margin-left:-50%}
.popover.media .popover-body{min-width:100%!important;min-height:50px!important;max-height:190px!important;overflow-y:auto!important}
.popover.findnreplace{max-width:400px!important}
.popover.analytics{min-width:800px!important}
.popover.suggestions{min-width:400px!important}
.popover.pathviewer div{margin-bottom:20px;min-width:400px!important;max-height:380px!important;overflow:none}
.popover.pathviewer tbody{overflow-y:scroll}
.popover.accessibility{}
.popover.fingerprint .popover-body,
.popover.analytics .popover-body{min-height:100px!important;max-height:540px!important;overflow-y:auto!important}
.popover.accessibility .popover-body{min-width:600px!important;min-height:100px!important;max-height:200px!important;overflow-y:auto!important}
.popover.accessibility .popover-body .alert{position:relative}
.popover.accessibility .popover-body .alert .pull-right{margin-top:-6px!important}
.popover.accessibility .popover-body .alert:after{content:attr(data-attrernum);z-index:100;position:absolute;display:inline-block;top:-10px;left:-10px;font-size:16px;color:#000;font-weight:700;padding:2px 5px;background:#fff;border:1px solid #000;-webkit-border-radius:3px;border-radius:3px}
.popover.accessibility .popover-body .alert.alert-default:after,
.popover.accessibility .popover-body .alert.alert-success:after{display:none}
.input-group-append.img,
.input-group-append.avatar{z-index:0;position:relative;padding:0;margin:0;width:40px;height:36px;background:#fff;background:-webkit-linear-gradient(135deg,#fff,#ccc);background:linear-gradient(135deg,#fff,#ccc)}
.input-group-append.img:before,
.input-group-append.avatar:before{z-index:-1;display:block;content:'';position:absolute;top:2px;left:5px;width:40px;height:36px;background-image:url(../svg/libre-picture.svg);background-size:28px 28px;background-repeat:no-repeat}
.input-group-append.avatar:before{background-image:url(../svg/libre-user.svg)}
.input-group-append img{z-index:+1;margin:0;padding:0;width:40px;height:36px}
.input-group-append img[src=""]{display:none}
.btn-xs{height:20px;padding:1px 5px;font-size:12px;line-height:1.2em;border-radius:3px}
.fc-event{color:#000!important}
#events-layer .btn-xs{padding:0;line-height:13px;font-size:12px;width:16px;height:16px}
.eventEnd{background:#f28888}
.eventEndConfirmed{background:#88f288}
.hidden{display:none}
.note-editor.note-frame{border-color:transparent!important}
.note-block{z-index:2000;position:absolute;display:none;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.25)}
.note-block.blocked{display:block}
.note-save svg{fill:currentColor;}
.sk-circle{margin:100px auto;width:40px;height:40px;position:relative}
.sk-circle .sk-child{width:100%;height:100%;position:absolute;left:0;top:100px}
.sk-circle .sk-child:before{content:'';display:block;margin:0 auto;width:15%;height:15%;background-color:#f40;border-radius:100%;-webkit-animation:sk-circleBounceDelay 1.2s infinite ease-in-out both;animation:sk-circleBounceDelay 1.2s infinite ease-in-out both}
.sk-circle .sk-circle2{-webkit-transform:rotate(30deg);-ms-transform:rotate(30deg);transform:rotate(30deg)}
.sk-circle .sk-circle3{-webkit-transform:rotate(60deg);-ms-transform:rotate(60deg);transform:rotate(60deg)}
.sk-circle .sk-circle4{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.sk-circle .sk-circle5{-webkit-transform:rotate(120deg);-ms-transform:rotate(120deg);transform:rotate(120deg)}
.sk-circle .sk-circle6{-webkit-transform:rotate(150deg);-ms-transform:rotate(150deg);transform:rotate(150deg)}
.sk-circle .sk-circle7{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.sk-circle .sk-circle8{-webkit-transform:rotate(210deg);-ms-transform:rotate(210deg);transform:rotate(210deg)}
.sk-circle .sk-circle9{-webkit-transform:rotate(240deg);-ms-transform:rotate(240deg);transform:rotate(240deg)}
.sk-circle .sk-circle10{-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
.sk-circle .sk-circle11{-webkit-transform:rotate(300deg);-ms-transform:rotate(300deg);transform:rotate(300deg)}
.sk-circle .sk-circle12{-webkit-transform:rotate(330deg);-ms-transform:rotate(330deg);transform:rotate(330deg)}
.sk-circle .sk-circle2:before{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.sk-circle .sk-circle3:before{-webkit-animation-delay:-1s;animation-delay:-1s}
.sk-circle .sk-circle4:before{-webkit-animation-delay:-.9s;animation-delay:-0.9s}
.sk-circle .sk-circle5:before{-webkit-animation-delay:-.8s;animation-delay:-.8s}
.sk-circle .sk-circle6:before{-webkit-animation-delay:-.7s;animation-delay:-.7s}
.sk-circle .sk-circle7:before{-webkit-animation-delay:-.6s;animation-delay:-.6s}
.sk-circle .sk-circle8:before{-webkit-animation-delay:-0.5s;animation-delay:-.5s}
.sk-circle .sk-circle9:before{-webkit-animation-delay:-0.4s;animation-delay:-.4s}
.sk-circle .sk-circle10:before{-webkit-animation-delay:-.3s;animation-delay:-.3s}
.sk-circle .sk-circle11:before{-webkit-animation-delay:-.2s;animation-delay:-.2s}
.sk-circle .sk-circle12:before{-webkit-animation-delay:-.1s;animation-delay:-.1s}
@-webkit-keyframes sk-circleBounceDelay{0%,80%,100%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}
@keyframes sk-circleBounceDelay{0%,80%,100%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}
#l_logs{position:relative;padding:2em 0;margin-top:2em;margin-bottom:2em}
#l_logs::before{content:'';position:absolute;top:0;left:18px;height:100%;width:2px}
#preference-theme .card .card-header,
#preference-theme .card p{color:#000}
#preference-theme .card p a{color:#000;text-decoration:none}
#preference-theme .card p a:hover{text-decoration:underline}
#preference-theme .card .bg-success .card-header,
#preference-theme .card .bg-success p{color:#000}
#preference-theme .card .bg-success p a{color:#000;text-decoration:none}
#preference-theme .card .bg-success p a:hover{text-decoration:underline}
@media only screen and (min-width:1170px){
  #l_logs{margin-top:3em;margin-bottom:3em}
  #l_logs::before{left:50%;margin-left:-2px}
}
.timeline-block{position:relative;margin:2em 0}
.timeline-block:after{content:"";display:table;clear:both}
.timeline-block:first-child{margin-top:0}
.timeline-block:last-child{margin-bottom:0}
@media only screen and (min-width:1170px){
  .timeline-block{margin:4em 0}
  .timeline-block:first-child{margin-top:0}
  .timeline-block:last-child{margin-bottom:0}
}
.timeline-img{position:absolute;top:0;left:0;width:40px;height:40px;border-radius:50%;-webkit-box-shadow:0 0 0 4px #fff,inset 0 2px 0 rgba(0,0,0,.08),0 1px 15px rgba(0,0,0,.75);box-shadow:0 0 0 4px #fff,inset 0 2px 0 rgba(0,0,0,.08),0 1px 15px rgba(0,0,0,.75)}
.timeline-img img{display:block;width:24px;height:24px;position:relative;left:50%;top:50%;margin-left:-12px;margin-top:-12px}
.timeline-img.create{background:#5cb85c}
.timeline-img.delete{background:#d9534f}
.timeline-img.purged{background:#d9534f}
.timeline-img.update{background:#5bc0de}
@media only screen and (min-width:1170px){
  .timeline-img{width:60px;height:60px;left:50%;margin-left:-30px;-webkit-transform:translateZ(0);-webkit-backface-visibility:hidden}
}
.timeline-content{position:relative;margin-left:60px;border-radius:.25em;padding:1em;border:1px solid transparent;border-right-width:2px;border-bottom-width:2px}
.timeline-content:after{content:"";display:table;clear:both}
.timeline-content h2{}
.timeline-content p,
.timeline-content .date{font-size:13px;font-size:.8125rem}
.timeline-content .read-more,
.timeline-content .date{display:inline-block}
.timeline-content p{margin:1em 0;line-height:1.6}
.timeline-content .read-more{float:right}
.timeline-content .date{float:left;padding:.8em 0;opacity:.7}
@media only screen and (min-width:768px){
  .timeline-content h2{font-size:20px;font-size:1.25rem}
  .timeline-content p{font-size:16px;font-size:1rem}
  .timeline-content .read-more,
  .timeline-content .date{font-size:14px;font-size:.875rem}
}
@media only screen and (min-width:1170px){
  .timeline-content{margin-left:0;padding:1.6em;width:45%}
  .timeline-content .read-more{float:left}
  .timeline-content .date{position:absolute;width:100%;left:122%;top:6px;font-size:16px;font-size:1rem}
  .timeline-block:nth-child(even) .timeline-content{float:right}
  .timeline-block:nth-child(even) .timeline-content .read-more{float:right}
  .timeline-block:nth-child(even) .timeline-content .date{left:auto;right:122%;text-align:right}
}
.elfinder-toolbar{
  background-color:#fff!important;
  border-bottom-color:#E4E5E6!important;
}
.elfinder-statusbar{
  height:45px;
  background-color:#fff!important;
  border-color:#fff!important;
  border-top-color:transparent!important;
}
/* Full Calendar */
[class*=" fc-icon-"],
[class^=fc-icon-]{display:inline-block;background-repeat:no-repeat;background-image:url(../svg/libre-svg-black.svg);width:14px;height:14px;vertical-align:middle}
.fc button,
.fc button:active,
.fc-state-default{background-image:none}
.fc-icon-left-single-arrow{background-position:-70px -70px}
.fc-icon-right-single-arrow{background-position:-84px -70px}
.fc-icon-left-double-arrow{background-position:-70px -70px}
.fc-icon-right-double-arrow{background-position:-84px -70px}
.fc-icon-left-triangle{background-position:-112px -56px}
.fc-icon-right-triangle{background-position:-126px -56px}
.fc-icon-down-triangle{background-position:-98px -56px}
.fc-icon-x:after{background-position:-168px -70px}
.fc .fc-toolbar button{display:inline-block;color:#23282c;background-color:#c8ced3;border-color:#c8ced3;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.2em;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.fc .fc-toolbar button:active:focus,
.fc .fc-toolbar button:focus{box-shadow:0 0 0 .2rem rgba(115,129,143,.5);color:#23282c;background-color:#b3bbc2;border-color:#acb5bc;outline:none;outline:none;outline-offset:none}
.fc .fc-toolbar button:focus,
.fc .fc-toolbar button:hover{color:#23282c;background-color:#b3bbc2;border-color:#acb5bc;text-decoration:none}
.fc .fc-toolbar button:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
body.bg1 .fc .fc-toolbar button:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.fc .fc-toolbar button:focus{box-shadow:0 0 0 .2rem rgba(115,129,143,.5);color:#fff;background-color:#626e7a!important;border-color:#73818f!important}
.fc .fc-toolbar button:active,
.fc .fc-toolbar button:hover{color:#23282c;background-color:#b3bbc2;border-color:#acb5bc}
.fc .fc-toolbar button:active:focus,
.fc .fc-toolbar button:active:hover{color:#23282c;background-color:#b3bbc2;border-color:#acb5bc}
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead{border-color:#f0f3f5!important}
.fc-unthemed td.fc-today{color:#000!important;background-color:#acb4bc!important}

.checkbox{padding:0 0 10px 10px;-webkit-border-radius:3px;border-radius:3px}
.checkbox label{display:inline-block;vertical-align:middle;position:relative;padding-left:5px;font-weight:700}
table .checkbox label{margin-top:-12px;line-height:1.42857143}
label.control-label.check{margin-top:8px!important;margin-left:0!important;margin-right:0!important}
.checkbox label::before{content:"";display:inline-block;position:absolute;width:17px;height:17px;left:0;margin-left:-20px;border:1px solid #aaa;border-radius:3px;background-color:#fff;-webkit-transition:border .15s ease-in-out,color .15s ease-in-out;-o-transition:border .15s ease-in-out,color .15s ease-in-out;transition:border .15s ease-in-out,color .15s ease-in-out}
.checkbox label::after{display:inline-block;position:absolute;width:16px;height:16px;left:0;top:0;margin-left:-20px;padding-left:3px;padding-top:1px;font-size:11px;color:#555}
.checkbox input[type="checkbox"]{opacity:0;z-index:1}
.checkbox input[type="checkbox"]:focus+label::before{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.checkbox input[type="checkbox"]:checked+label::after{content:"✓";position:absolute;top:-15px;right:auto;left:-2px;color:#888;font-size:28px;text-shadow:0 0 3px #ccc,0 1px 2px #000}
.checkbox input[type="checkbox"]:indeterminate+label::after{display:block;content:"";width:10px;height:3px;background-color:#555;border-radius:2px;margin-left:-16.5px;margin-top:7px}
.checkbox input[type="checkbox"]:disabled+label{opacity:.65}
.checkbox input[type="checkbox"]:disabled+label::before{background-color:#eee;cursor:not-allowed}
.checkbox.checkbox-inline{margin-top:0}
.checkbox-primary input[type="checkbox"]:checked+label::before,
.checkbox-primary input[type="checkbox"]:indeterminate+label::before{background-color:#337ab7;border-color:#337ab7}
.checkbox-primary input[type="checkbox"]:checked+label::after,
.checkbox-danger input[type="checkbox"]:checked+label::after,
.checkbox-info input[type="checkbox"]:checked+label::after,
.checkbox-warning input[type="checkbox"]:checked+label::after,
.checkbox-success input[type="checkbox"]:checked+label::after{color:#fff}
.checkbox-danger input[type="checkbox"]:checked+label::before,
.checkbox-danger input[type="checkbox"]:indeterminate+label::before{background-color:#d9534f;border-color:#d9534f}
.checkbox-info input[type="checkbox"]:checked+label::before,
.checkbox-info input[type="checkbox"]:indeterminate+label::before{background-color:#5bc0de;border-color:#5bc0de}
.checkbox-warning input[type="checkbox"]:checked+label::before,
.checkbox-warning input[type="checkbox"]:indeterminate+label::before{background-color:#f0ad4e;border-color:#f0ad4e}
.checkbox-success input[type="checkbox"]:checked+label::before,
.checkbox-success input[type="checkbox"]:indeterminate+label::before{background-color:#5cb85c;border-color:#5cb85c}
.checkbox-primary input[type="checkbox"]:indeterminate+label::after,
.checkbox-danger input[type="checkbox"]:indeterminate+label::after,
.checkbox-info input[type="checkbox"]:indeterminate+label::after,
.checkbox-success input[type="checkbox"]:indeterminate+label::after,
.checkbox-warning input[type="checkbox"]:indeterminate+label::after{background-color:#fff}
