body{
    background-color:#ededed;
    margin:0;
    padding:0
}
.pace{
    -webkit-pointer-events:none;
    pointer-events:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none
}
.pace-inactive{
    display:none
}
.pace .pace-progress{
    background:#f40;
    position:fixed;
    z-index:99999;
    top:0;
    right:100%;
    width:100%;
    height:2px;
    box-shadow:0 0 10px #f40
}
.pace .pace-progress:after{
    content:'';
    position:absolute;
    height:4px;
    width:100px;
    top:0;
    right:0;
    border-radius:25%;
    box-shadow:0 0 20px #f40
}
.installimg{
    width:200px;
    margin:20px 0 5px
}
.login{
    position:relative;
    width:300px;
    margin-top:15%;
    padding:20px;
    -webkit-box-shadow:0 3px 10px rgba(128,128,128,.5);
    box-shadow:0 3px 10px rgba(128,128,128,.5)
}
.login .loginimg{
    margin:-10px -25px 20px 0
}
.login .btn.lgn{
    width:45%
}
.dash{
    font-size:9px;text-align:center
}
.dash svg{
    margin-left:-20px;
    width:48px;
    height:48px;
    fill:currentColor
}
.panel-body .elfinder{
    display:block;
    padding:0;
    margin:-15px;
    border:0;
    -webkit-box-shadow:none;
    box-shadow:none
}
.input-group-addon.img{
    padding:0;
    margin:0
}
.input-group-addon img{
    margin:0;
    padding:0;
    width:40px;
    height:30px
}
.btn,
.btn *,
.btn:active,
.btn:focus{
    outline:0
}
.btn-libre{
    color:#aaa;
    background-color:transparent;
    border-color:#aaa
}
.btn-libre:focus,
.btn-libre:hover{
    color:#fff;
    background:0 0;
    border-color:#bbb;
    -webkit-box-shadow:0 1px 3px rgba(128,128,128,.5);
    box-shadow:0 1px 3px rgba(128,128,128,.25)
}
.btn-libre.btn-xs{
    height:20px;
    padding:1px 5px;
    font-size:12px;
    line-height:1.2em;
    border-radius:3px
}
#busy{
    position:fixed;
    bottom:5px;
    left:5px;
    display:none
}
.busy,
.busycheck{
    left:-32px;
    z-index:1000;
    position:absolute
}
.busy{
    top:2px
}
.busycheck{
    top:-8px
}
#events-layer{
    position:absolute;
    top:-1px;
    right:0;
    z-index:100;
    width:65px;
    height:17px;
    text-align:right;
    padding-right:5px
}
#events-layer .btn{
    padding:0;
    line-height:13px;
    font-size:12px
}
#events-layer .btn-xs{
    width:14px;
    height:14px
}
.eventEnd{
    background:#f28888
}
.eventEndConfirmed{
    background:#88f288
}
h4 .breadcrumb{
    padding:0;
    margin:0
}
.btn-file{
    position:relative;
    overflow:hidden
}
.btn-file input[type=file]{
    position:absolute;
    top:0;
    right:0;
    min-width:100%;
    min-height:100%;
    font-size:100px;
    text-align:right;
    filter:alpha(opacity=0);
    opacity:0;
    outline:0;
    background:#fff;
    cursor:inherit;
    display:block
}
#sp{
    display:none
}
.theme-chooser-item{
    cursor:pointer;
    margin:5px
}
.theme-chooser-item.panel{
    border:1px solid #888;
    background-color:#fff;
    margin:10px
}
.theme-chooser-item.panel.panel-success{
    border:1px solid #4aa03f;
    background-color:#cfc
}
.theme-chooser-item .panel-image{
    position:relative;
    height:200px
}
.theme-chooser-item .panel-image img{
    width:100%;
    max-height:200px
}
.theme-chooser-item h4.panel-title{
    color:#000;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align:center
}
#menu-toggle{
    position:absolute;
    top:-15px;
    right:-38px;
    background:#292e31
}
#sidemenu,
.nav-side-menu{
    position:fixed;
    width:200px
}
#sidemenu{
    z-index:100;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease;
    left:0;
    margin-left:0
}
#sidemenu.toggled{
    left:-100px;
    margin-left:-100px
}
#content{
    margin:15px 15px 15px 215px;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease
}
#content.toggled{
    margin:15px
}
.tab-content{
    padding-top:20px
}
img.table-thumb{
  width:25px;
  max-height:25px;
  margin:5px;
}
@media(max-width:767px){
    #menu-toggle{
        display:block
    }
    #sidemenu{
        left:-100px;
        margin-left:-100px
    }
    #sidemenu.toggled{
        left:0;
        margin-left:0
    }
    #content,
    #content.toggled{
        margin:15px
    }
}
.nav-side-menu{
    overflow:auto;
    font-size:20px;
    font-weight:200;
    background-color:#386386;
    top:0;
    height:100%;
    color:#fff
}
.nav-side-menu .footer,
.nav-side-menu .header,
.rat>span{
    position:relative
}
.nav-side-menu .header{
    margin-top:-1px;
    height:33px;
    background-color:#292e31
}
.nav-side-menu .footer li{
    display:inline;
    padding:0
}
.nav-side-menu .footer li a i{
    font-size:14px;
    display:inline-block
}
.nav-side-menu li,
.nav-side-menu ul{
    list-style:none;
    padding:0;
    margin:2px 0;
    line-height:30px;
    font-weight:300;
    cursor:pointer
}
.nav-side-menu li :not(collapsed) .arrow:before,
.nav-side-menu ul :not(collapsed) .arrow:before{
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    vertical-align:middle;
    float:right
}
.nav-side-menu li.active *,
.nav-side-menu ul.active{
    color:#fff;
    font-weight:700;
    text-shadow:0 1px 2px #000
}
.nav-tabs{
    border-bottom:1px solid #ccc
}
.nav-tabs>li>a{
    border-bottom-color:#ccc
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
    border:1px solid #ccc;
    border-bottom-color:transparent
}
.nav-tabs>li>a:hover{
    border-color:#eee #eee #ccc
}
.nav-tabs li a.active,
.nav-tabs li.active{
    color:#000;
    font-weight:700
}
.nav-tabs li a{
    padding-right:14px
}
.nav-side-menu li{
    text-align:left;
    padding:0 10px
}
.nav-side-menu li.search input[type=search],
.nav-side-menu li.search input[type=search]:hover{
    display:inline;
    width:155px;
    padding:0;
    margin:-2px 0 0 10px;
    border:0 transparent;
    background-color:transparent
}
.nav-side-menu li a{
    text-decoration:none;
    color:#ccc
}
.nav-side-menu li a:hover{
    color:#fff;
    text-shadow:0 1px 1px #000
}
.nav-side-menu li.search input[type=search]{
    font-size:20px;
    -webkit-box-shadow:0 0 0 transparent;
    box-shadow:0 0 0 transparent
}
.nav-side-menu li.search input[type=search]:hover{
    cursor:pointer
}
.nav-side-menu li.search i.libre{
    display:inline-block;
    width:15px;
    line-height:14px;
    background-color:transparent;
    color:#ccc;
    text-shadow:0 0 0 none;
    border-width:0;
    padding:0;
    border-radius:0;
    -webkit-box-shadow:0 0 0 transparent;
    box-shadow:0 0 0 transparent
}
.nav-side-menu li.search.active i.libre,
.nav-side-menu li.search:focus i.libre,
.nav-side-menu li.search:hover i.libre{
    display:inline-block;
    width:15px;
    background-color:transparent;
    color:#fff;
    text-shadow:0 1px 5px #000;
    border-width:0;
    padding:0;
    border-radius:0
}
.nav-side-menu input[type=search]::-webkit-input-placeholder{
    color:#ccc
}
.nav-side-menu input[type=search]:-moz-placeholder{
    color:#ccc
}
.nav-side-menu input[type=search]::-moz-placeholder{
    color:#ccc
}
.nav-side-menu input[type=search]:-ms-input-placeholder{
    color:#ccc
}
.nav-side-menu input[type=search]:hover::-webkit-input-placeholder{
    color:#fff;
    text-shadow:0 1px 1px #000
}
.nav-side-menu input[type=search]:hover:-moz-placeholder{
    color:#fff;
    text-shadow:0 1px 1px #000
}
.nav-side-menu input[type=search]:hover::-moz-placeholder{
    color:#fff;
    text-shadow:0 1px 1px #000
}
.nav-side-menu input[type=search]:hover:-ms-input-placeholder{
    color:#fff;
    text-shadow:0 1px 1px #000
}
.nav-side-menu input[type=search]:focus,
.nav-side-menu li.active input[type=search]:focus{
    color:#fff;
    padding:0 0 5px;
    font-weight:400;
    text-shadow:0 0 0 none
}
.nav-side-menu li.active input[type=search]::-webkit-input-placeholder{
    color:#fff;
    font-weight:700;
    text-shadow:0 1px 2px #000
}
.nav-side-menu li.active input[type=search]:-moz-placeholder{
    color:#fff;
    font-weight:700;
    text-shadow:0 1px 2px #000
}
.nav-side-menu li.active input[type=search]::-moz-placeholder{
    color:#fff;
    font-weight:700;
    text-shadow:0 1px 2px #000
}
.nav-side-menu li.active input[type=search]:-ms-input-placeholder{
    color:#fff;
    font-weight:700;
    text-shadow:0 1px 2px #000
}
.nav-side-menu input[type=search]:focus::-webkit-input-placeholder,
.nav-side-menu li.active input[type=search]:focus::-webkit-input-placeholder{
    color:transparent;
    font-weight:400;
    width:242px;
    text-shadow:0 0 0 transparent;
    border-bottom:1px solid #aaa
}
.nav-side-menu input[type=search]:focus:-moz-placeholder{
    color:#fff;
    text-shadow:0 1px 1px #000
}
.nav-side-menu input[type=search]:focus::-moz-placeholder{
    color:#fff;
    text-shadow:0 1px 1px #000
}
.nav-side-menu input[type=search]:focus:-ms-input-placeholder{
    color:#fff;
    text-shadow:0 1px 1px #000
}
.profile{
    margin:0;
    padding:10px 10px 20px
}
.profile-sidebar li{
    text-align:left
}
.profile-userpic img{
    float:left;
    margin-top:-25px;
    width:50px;
    height:50px;
    border-radius:50px;
    -webkit-box-shadow:0 2px 15px rgba(0,0,0,.5);
    box-shadow:0 2px 15px rgba(0,0,0,.5)
}
.profile-userpic img.img-thumbnail{
    padding:1px;
    border-color:#ddd
}
.profile-usertitle{
    text-align:right;
    margin-top:0
}
.profile-usertitle-name{
    color:#fff;
    font-size:12px;
    font-weight:700;
    text-shadow:0 2px 5px #000
}
.profile-usertitle-job{
    text-transform:uppercase;
    color:#ddd;
    font-size:10px;
    font-weight:400;
    text-shadow:0 1px 2px #000
}
.profile-useractions{
    text-align:right
}
.profile-useractions a{
    color:#777
}
.handle{
    cursor:move
}
.ghost,
.sort-placeholder{
    position:relative;
    border:1px dashed #000;
    background:#eee;
    height:100px;
    margin:auto auto 10px;
    float:left;
    width:100%!important
}
.danger{
    background-color:#f2dede!important
}
.danger .well{
    background-color:transparent!important
}
.rat{
    display:inline-block;
    unicode-bidi:bidi-override;
    direction:rtl
}
.rat>span{
    width:1em;
    text-shadow:0 1px 1px #000
}
.rat>span.set,
.rat>span.set~span{
    color:transparent
}
.rat>span.set:after,
.rat>span.set~span:after{
    content:"\2605";
    position:absolute;
    left:0;
    color:gold
}
textarea.summernote{
    visibility:hidden
}
@media screen and(min-width:768px){
    .modal-dialog{
        width:700px;
        padding-top:20px;
        padding-bottom:20px
    }
}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
#block{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:2147483646;
    display:none;
    background:#000;
    background:rgba(0,0,0,.25)
}
div.spinner{
    -moz-animation:busyrotate 10s infinite linear;
    -webkit-animation:busyrotate 10s infinite linear;
    animation:busyrotate 10s infinite linear;
    position:relative;
    display:block;
    margin:17% auto auto;
    width:142px;
    height:142px
}
div.spinner i{
    -moz-animation:busyrotate 3s infinite cubic-bezier(.09,.6,.8,.03);
    -webkit-animation:busyrotate 3s infinite cubic-bezier(.09,.6,.8,.03);
    animation:busyrotate 3s infinite cubic-bezier(.09,.6,.8,.03);
    -moz-transform-origin:50% 100% 0;
    -webkit-transform-origin:50% 100% 0;
    transform-origin:50% 100% 0;
    position:absolute;
    display:inline-block;
    top:50%;
    left:50%;
    border:6px solid transparent;
    border-bottom:none
}
div.spinner i:nth-child(1){
    -moz-animation-timing-function:cubic-bezier(.09,.3,.12,.03);
    -webkit-animation-timing-function:cubic-bezier(.09,.3,.12,.03);
    animation-timing-function:cubic-bezier(.09,.3,.12,.03);
    width:44px;
    height:22px;
    margin-top:-22px;
    margin-left:-22px;
    border-color:#2172b8;
    border-top-left-radius:36px;
    border-top-right-radius:36px
}
div.spinner i:nth-child(2){
    -moz-animation-timing-function:cubic-bezier(.09,.6,.24,.03);
    -webkit-animation-timing-function:cubic-bezier(.09,.6,.24,.03);
    animation-timing-function:cubic-bezier(.09,.6,.24,.03);
    width:58px;
    height:29px;
    margin-top:-29px;
    margin-left:-29px;
    border-color:#18a39b;
    border-top-left-radius:42px;
    border-top-right-radius:42px
}
div.spinner i:nth-child(3){
    -moz-animation-timing-function:cubic-bezier(.09,.9,.36,.03);
    -webkit-animation-timing-function:cubic-bezier(.09,.9,.36,.03);
    animation-timing-function:cubic-bezier(.09,.9,.36,.03);
    width:72px;
    height:36px;
    margin-top:-36px;
    margin-left:-36px;
    border-color:#82c545;
    border-top-left-radius:48px;
    border-top-right-radius:48px
}
div.spinner i:nth-child(4){
    -moz-animation-timing-function:cubic-bezier(.09,1.2,.48,.03);
    -webkit-animation-timing-function:cubic-bezier(.09,1.2,.48,.03);
    animation-timing-function:cubic-bezier(.09,1.2,.48,.03);
    width:86px;
    height:43px;
    margin-top:-43px;
    margin-left:-43px;
    border-color:#f8b739;
    border-top-left-radius:54px;
    border-top-right-radius:54px
}
div.spinner i:nth-child(5){
    -moz-animation-timing-function:cubic-bezier(.09,1.5,.6,.03);
    -webkit-animation-timing-function:cubic-bezier(.09,1.5,.6,.03);
    animation-timing-function:cubic-bezier(.09,1.5,.6,.03);
    width:100px;
    height:50px;
    margin-top:-50px;
    margin-left:-50px;
    border-color:#f06045;
    border-top-left-radius:60px;
    border-top-right-radius:60px
}
div.spinner i:nth-child(6){
    -moz-animation-timing-function:cubic-bezier(.09,1.8,.72,.03);
    -webkit-animation-timing-function:cubic-bezier(.09,1.8,.72,.03);
    animation-timing-function:cubic-bezier(.09,1.8,.72,.03);
    width:114px;
    height:57px;
    margin-top:-57px;
    margin-left:-57px;
    border-color:#ed2861;
    border-top-left-radius:66px;
    border-top-right-radius:66px
}
div.spinner i:nth-child(7){
    -moz-animation-timing-function:cubic-bezier(.09,2.1,.84,.03);
    -webkit-animation-timing-function:cubic-bezier(.09,2.1,.84,.03);
    animation-timing-function:cubic-bezier(.09,2.1,.84,.03);
    width:128px;
    height:64px;
    margin-top:-64px;
    margin-left:-64px;
    border-color:#c12680;
    border-top-left-radius:72px;
    border-top-right-radius:72px
}
div.spinner i:nth-child(8){
    -moz-animation-timing-function:cubic-bezier(.09,2.4,.96,.03);
    -webkit-animation-timing-function:cubic-bezier(.09,2.4,.96,.03);
    animation-timing-function:cubic-bezier(.09,2.4,.96,.03);
    width:142px;
    height:71px;
    margin-top:-71px;
    margin-left:-71px;
    border-color:#5d3191;
    border-top-left-radius:78px;
    border-top-right-radius:78px
}
@-moz-keyframes busyrotate{
    to{
        -moz-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes busyrotate{
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes busyrotate{
    to{
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -webkit-transform:rotate(360deg)
        ;transform:rotate(360deg)
    }
}
.table-condensed>tbody>tr>td{
    padding:5px;
    line-height:1.42857143
}
