body{background-color:#ededed;margin:0;padding:0}
.pace.pace-inactive{display:none}
.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;z-index:2000;position:fixed;height:60px;width:100px;margin:auto;top:0;left:0;right:0;bottom:0}
.pace .pace-progress{z-index:2000;position:absolute;height:60px;width:100px;-webkit-transform:translate3d(0,0,0)!important;-ms-transform:translate3d(0,0,0)!important;transform:translate3d(0,0,0)!important}
.pace .pace-activity{z-index:2000;position:absolute;height:60px;width:100px;display:block;-webkit-animation:pace-theme-center-atom-spin 2s linear infinite;-moz-animation:pace-theme-center-atom-spin 2s linear infinite;-o-animation:pace-theme-center-atom-spin 2s linear infinite;animation:pace-theme-center-atom-spin 2s linear infinite}
.pace .pace-activity{border-radius:50%;border:5px solid #f40;box-shadow:0 0 5px rgba(0,0,0,.5);content:'';display:block;position:absolute;top:0;left:0;height:60px;width:100px}
.pace .pace-activity:after{border-radius:50%;border:5px solid #f40;box-shadow:0 0 5px rgba(0,0,0,.5);content:'';display:block;position:absolute;top:-5px;left:-5px;height:60px;width:100px;-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);-o-transform:rotate(60deg);transform:rotate(60deg)}
.pace .pace-activity:before{border-radius:50%;border:5px solid #f40;box-shadow:0 0 5px rgba(0,0,0,.5);content:'';display:block;position:absolute;top:-5px;left:-5px;height:60px;width:100px;-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);-o-transform:rotate(120deg);transform:rotate(120deg)}
@-webkit-keyframes pace-theme-center-atom-spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}
@-moz-keyframes pace-theme-center-atom-spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}
@-o-keyframes pace-theme-center-atom-spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}
@keyframes pace-theme-center-atom-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.installimg{width:200px;margin:20px 0 5px}
.login{position:relative;width:300px;margin-top:15%;padding:20px;-webkit-box-shadow:0 3px 10px rgba(128,128,128,.5);box-shadow:0 3px 10px rgba(128,128,128,.5)}
.login .loginimg{margin:-10px -25px 20px 0}
.login .btn.lgn{width:45%}
.dash{font-size:9px;text-align:center}
.dash svg{margin-left:-20px;width:48px;height:48px;fill:currentColor}
.panel-body .elfinder{display:block;padding:0;margin:-15px;border:0;-webkit-box-shadow:none;box-shadow:none}
.input-group-addon.img,
.input-group-addon.avatar{z-index:0;position:relative;padding:0;margin:0;width:40px;height:30px;background:#fff;background:-webkit-linear-gradient(135deg,#fff,#ccc);background:linear-gradient(135deg,#fff,#ccc)}
.input-group-addon.img:before,
.input-group-addon.avatar:before{z-index:-1;display:block;content:'';position:absolute;top:2px;left:5px;width:40px;height:30px;background-image:url(../svg/libre-picture.svg);background-size:28px 28px;background-repeat:no-repeat}
.profile-userpic{position:relative}
.profile-userpic:before{content:'';position:absolute;top:-20px;left:5px;width:50px;height:50px;background-image:url(../svg/libre-user.svg);background-size:40px 40px;background-repeat:no-repeat}
.input-group-addon.avatar:before{background-image:url(../svg/libre-user.svg)}
.input-group-addon img{z-index:+1;margin:0;padding:0;width:40px;height:30px}
.input-group-addon img[src=""],
.profile-userpic img[src=""]{display:none}
.btn,
.btn *,
.btn:active,
.btn:focus{outline:0}
.btn-libre{color:#aaa;background-color:transparent;border-color:#aaa}
.btn-libre:focus,
.btn-libre:hover{color:#fff;background:0 0;border-color:#bbb;-webkit-box-shadow:0 1px 3px rgba(128,128,128,.5);box-shadow:0 1px 3px rgba(128,128,128,.25)}
.btn-libre.btn-xs{height:20px;padding:1px 5px;font-size:12px;line-height:1.2em;border-radius:3px}
#busy{position:fixed;bottom:5px;left:5px;display:none}
.busy,
.busycheck{left:-32px;z-index:1000;position:absolute}
.busy{top:2px}
.busycheck{top:-8px}
#events-layer{position:absolute;top:-1px;right:0;z-index:100;width:65px;height:17px;text-align:right;padding-right:5px}
#events-layer .btn{padding:0;line-height:13px;font-size:12px}
#events-layer .btn-xs{width:14px;height:14px}
.eventEnd{background:#f28888}
.eventEndConfirmed{background:#88f288}
h4 .breadcrumb{padding:0;margin:0}
.btn-file{position:relative;overflow:hidden}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:0;background:#fff;cursor:inherit;display:block}
#sp{display:none}
.theme-chooser-item{cursor:pointer;margin:5px}
.theme-chooser-item.panel{border:1px solid #888;background-color:#fff;margin:10px}
.theme-chooser-item.panel.panel-success{border:1px solid #4aa03f;background-color:#cfc}
.theme-chooser-item .panel-image{position:relative;height:200px}
.theme-chooser-item .panel-image img{width:100%;max-height:200px}
.theme-chooser-item h4.panel-title{color:#000;text-overflow:ellipsis;white-space:nowrap;text-align:center}
#menu-toggle{z-index:2;position:absolute;top:-15px;right:0px;background:#292e31;outline:none;border:0;border-radius:0 0 5px 0}
#sidemenu.toggled #menu-toggle{right:-38px}
#sidemenu,
.nav-side-menu{position:fixed;width:200px}
#sidemenu{z-index:100;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;left:0;margin-left:0}
#sidemenu.toggled{left:-100px;margin-left:-100px}
#content{margin:15px 15px 15px 215px;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}
#content.toggled{margin:15px}
.tab-content{padding-top:20px}
img.table-thumb{width:25px;max-height:25px;margin:5px}
@media(max-width:767px){
  #menu-toggle{display:block}
  #sidemenu{left:-100px;margin-left:-100px}
  #sidemenu.toggled{left:0;margin-left:0}
  #sidemenu #menu-toggle{right:-38px}
  #content,
  #content.toggled{margin:15px}
  #sidemenu.toggled #menu-toggle{right:0}
}
.nav-side-menu{overflow:auto;font-size:20px;font-weight:200;background-color:#386386;top:0;height:100%;color:#fff}
.nav-side-menu .footer,
.nav-side-menu .header,
.rat>span{position:relative}
.nav-side-menu .header{margin-top:-1px;height:33px;background-color:#292e31}
.nav-side-menu .footer li{display:inline;padding:0}
.nav-side-menu .footer li a i{font-size:14px;display:inline-block}
.nav-side-menu li,
.nav-side-menu ul{list-style:none;padding:0;margin:2px 0;line-height:30px;font-weight:300;cursor:pointer}
.nav-side-menu li :not(collapsed) .arrow:before,
.nav-side-menu ul :not(collapsed) .arrow:before{display:inline-block;padding-left:10px;padding-right:10px;vertical-align:middle;float:right}
.nav-side-menu li.active *,
.nav-side-menu ul.active{color:#fff;font-weight:700;text-shadow:0 1px 2px #000}
.nav-tabs{border-bottom:1px solid #ccc}
.nav-tabs>li>a{border-bottom-color:#ccc}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{border:1px solid #ccc;border-bottom-color:transparent}
.nav-tabs>li>a:hover{border-color:#eee #eee #ccc}
.nav-tabs li a.active,
.nav-tabs li.active{color:#000;font-weight:700}
.nav-tabs li a{padding-right:14px}
.nav-side-menu li{text-align:left;padding:0 10px}
.nav-side-menu li.search input[type=search],
.nav-side-menu li.search input[type=search]:hover{display:inline;width:155px;padding:0;margin:-2px 0 0 10px;border:0 transparent;background-color:transparent}
.nav-side-menu li a{text-decoration:none;color:#ccc}
.nav-side-menu li a:hover{color:#fff;text-shadow:0 1px 1px #000}
.nav-side-menu li.search input[type=search]{font-size:20px;-webkit-box-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent}
.nav-side-menu li.search input[type=search]:hover{cursor:pointer}
.nav-side-menu li.search i.libre{display:inline-block;width:15px;line-height:14px;background-color:transparent;color:#ccc;text-shadow:0 0 0 none;border-width:0;padding:0;border-radius:0;-webkit-box-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent}
.nav-side-menu li.search.active i.libre,
.nav-side-menu li.search:focus i.libre,
.nav-side-menu li.search:hover i.libre{display:inline-block;width:15px;background-color:transparent;color:#fff;text-shadow:0 1px 5px #000;border-width:0;padding:0;border-radius:0}
.nav-side-menu input[type=search]::-webkit-input-placeholder{color:#ccc}
.nav-side-menu input[type=search]:-moz-placeholder{color:#ccc}
.nav-side-menu input[type=search]::-moz-placeholder{color:#ccc}
.nav-side-menu input[type=search]:-ms-input-placeholder{color:#ccc}
.nav-side-menu input[type=search]:hover::-webkit-input-placeholder{color:#fff;text-shadow:0 1px 1px #000}
.nav-side-menu input[type=search]:hover:-moz-placeholder{color:#fff;text-shadow:0 1px 1px #000}
.nav-side-menu input[type=search]:hover::-moz-placeholder{color:#fff;text-shadow:0 1px 1px #000}
.nav-side-menu input[type=search]:hover:-ms-input-placeholder{color:#fff;text-shadow:0 1px 1px #000}
.nav-side-menu input[type=search]:focus,
.nav-side-menu li.active input[type=search]:focus{color:#fff;padding:0 0 5px;font-weight:400;text-shadow:0 0 0 none}
.nav-side-menu li.active input[type=search]::-webkit-input-placeholder{color:#fff;font-weight:700;text-shadow:0 1px 2px #000}
.nav-side-menu li.active input[type=search]:-moz-placeholder{color:#fff;font-weight:700;text-shadow:0 1px 2px #000}
.nav-side-menu li.active input[type=search]::-moz-placeholder{color:#fff;font-weight:700;text-shadow:0 1px 2px #000}
.nav-side-menu li.active input[type=search]:-ms-input-placeholder{color:#fff;font-weight:700;text-shadow:0 1px 2px #000}
.nav-side-menu input[type=search]:focus::-webkit-input-placeholder,
.nav-side-menu li.active input[type=search]:focus::-webkit-input-placeholder{color:transparent;font-weight:400;width:242px;text-shadow:0 0 0 transparent;border-bottom:1px solid #aaa}
.nav-side-menu input[type=search]:focus:-moz-placeholder{color:#fff;text-shadow:0 1px 1px #000}
.nav-side-menu input[type=search]:focus::-moz-placeholder{color:#fff;text-shadow:0 1px 1px #000}
.nav-side-menu input[type=search]:focus:-ms-input-placeholder{color:#fff;text-shadow:0 1px 1px #000}
.profile{margin:0;padding:10px 10px 20px}
.profile-sidebar li{text-align:left}
.profile-userpic img{float:left;margin-top:-25px;width:50px;height:50px;border-radius:50px;-webkit-box-shadow:0 2px 15px rgba(0,0,0,.5);box-shadow:0 2px 15px rgba(0,0,0,.5)}
.profile-usertitle{text-align:right;margin-top:0}
.profile-userpic img.img-thumbnail{padding:1px;border-color:#ddd}
.profile-usertitle-name{color:#fff;font-size:12px;font-weight:700;text-shadow:0 2px 5px #000}
.profile-usertitle-job{text-transform:uppercase;color:#ddd;font-size:10px;font-weight:400;text-shadow:0 1px 2px #000}
.profile-useractions{text-align:right}
.profile-useractions a{color:#777}
.handle{cursor:move}
.ghost,
.sort-placeholder{position:relative;border:1px dashed #000;background:#eee;height:100px;margin:auto auto 10px;float:left;width:100%!important}
.postage{text-align:right!important;padding-left:0!important;padding-right:0!important}
.postage input{text-align:right;margin:0;padding-left:5px!important;padding-right:5px!important}
.total{border-top:2px solid #000!important;border-bottom:2px solid #000!important}
.danger{background-color:#f2dede!important}
.danger .well{background-color:transparent!important}
.rat{display:inline-block;unicode-bidi:bidi-override;direction:rtl}
.rat>span{width:1em;text-shadow:0 1px 1px #000}
.rat>span.set,
.rat>span.set~span{color:transparent}
.rat>span.set:after,
.rat>span.set~span:after{content:"\2605";position:absolute;left:0;color:gold}
textarea.summernote{visibility:hidden}
@media screen and(min-width:768px){
  .modal-dialog{width:700px;padding-top:20px;padding-bottom:20px}
}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
#block{position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483646;display:none;background:#000;background:rgba(0,0,0,.25)}
.table-condensed>tbody>tr>td{padding:5px;line-height:1.42857143}
