.relative{
	position:relative
}
.no-padding{
	padding:0
}
.no-margin{
	margin:0
}
.clearfix{
	clear:both
}
.libr8 .img-responsive,
.libr8 .thumbnail > img,
.libr8 .thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.libr8 .img-rounded {
  border-radius: 6px;
}
.libr8 .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.libr8 .img-circle {
  border-radius: 50%;
}
.libr8 .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.libr8 .sr-only-focusable:active,
.libr8 .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.libr8 .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.libr8 .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.libr8 .form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.libr8 .form-control:-ms-input-placeholder {
  color: #999999;
}
.libr8 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.libr8 .form-control[disabled],
.libr8 .form-control[readonly]{
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
.libr8 .form-group {
  margin-bottom: 15px;
}
.libr8 .radio,
.libr8 .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.libr8 .radio label,
.libr8 .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.libr8 .radio input[type="radio"],
.libr8 .radio-inline input[type="radio"],
.libr8 .checkbox input[type="checkbox"],
.libr8 .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.libr8 .radio + .radio,
.libr8 .checkbox + .checkbox {
  margin-top: -5px;
}
.libr8 .radio-inline,
.libr8 .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.libr8 .radio-inline + .radio-inline,
.libr8 .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.libr8 .radio-inline.disabled,
.libr8 .checkbox-inline.disabled{
  cursor: not-allowed;
}
.libr8 .radio.disabled label,
.libr8 .checkbox.disabled label{
  cursor: not-allowed;
}
.libr8 .form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.libr8 .form-control-static.input-lg,
.libr8 .form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
.libr8 .input-sm,
.libr8 .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.libr8 .input-lg,
.libr8 .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.libr8 .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.libr8 .input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.libr8 .input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .libr8 .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .libr8 .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .libr8 .form-inline .form-control-static {
    display: inline-block;
  }
  .libr8 .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .libr8 .form-inline .input-group .input-group-addon,
  .libr8 .form-inline .input-group .input-group-btn,
  .libr8 .form-inline .input-group .form-control {
    width: auto;
  }
  .libr8 .form-inline .input-group > .form-control {
    width: 100%;
  }
  .libr8 .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .libr8 .form-inline .radio,
  .libr8 .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .libr8 .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .libr8 .form-inline .radio input[type="radio"],
  .libr8 .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .libr8 .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.libr8 .form-horizontal .radio,
.libr8 .form-horizontal .checkbox,
.libr8 .form-horizontal .radio-inline,
.libr8 .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.libr8 .form-horizontal .radio,
.libr8 .form-horizontal .checkbox {
  min-height: 27px;
}
.libr8 .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .libr8 .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.libr8 .form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .libr8 .form-horizontal .form-group-lg .control-label {
    padding-top: 14.3px;
  }
}
@media (min-width: 768px) {
  .libr8 .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
  }
}
.libr8 .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.libr8 .btn:focus,
.libr8 .btn:active:focus,
.libr8 .btn.active:focus,
.libr8 .btn.focus,
.libr8 .btn:active.focus,
.libr8 .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.libr8 .btn:hover,
.libr8 .btn:focus,
.libr8 .btn.focus {
  color: #333333;
  text-decoration: none;
}
.libr8 .btn:active,
.libr8 .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.libr8 .btn.disabled,
.libr8 .btn[disabled]{
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.libr8 .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.libr8 .btn-default:hover,
.libr8 .btn-default:focus,
.libr8 .btn-default.focus,
.libr8 .btn-default:active,
.libr8 .btn-default.active,
.libr8 .open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.libr8 .btn-default:active,
.libr8 .btn-default.active,
.libr8 .open > .dropdown-toggle.btn-default {
  background-image: none;
}
.libr8 .btn-default.disabled,
.libr8 .btn-default[disabled],
.libr8 .btn-default.disabled:hover,
.libr8 .btn-default[disabled]:hover,
.libr8 .btn-default.disabled:focus,
.libr8 .btn-default[disabled]:focus,
.libr8 .btn-default.disabled.focus,
.libr8 .btn-default[disabled].focus,
.libr8 .btn-default.disabled:active,
.libr8 .btn-default[disabled]:active,
.libr8 .btn-default.disabled.active,
.libr8 .btn-default[disabled].active{
  background-color: #ffffff;
  border-color: #cccccc;
}
.libr8 .btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.libr8 .btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.libr8 .btn-primary:hover,
.libr8 .btn-primary:focus,
.libr8 .btn-primary.focus,
.libr8 .btn-primary:active,
.libr8 .btn-primary.active,
.libr8 .open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.libr8 .btn-primary:active,
.libr8 .btn-primary.active,
.libr8 .open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.libr8 .btn-primary.disabled,
.libr8 .btn-primary[disabled],
.libr8 .btn-primary.disabled:hover,
.libr8 .btn-primary[disabled]:hover,
.libr8 .btn-primary.disabled:focus,
.libr8 .btn-primary[disabled]:focus,
.libr8 .btn-primary.disabled.focus,
.libr8 .btn-primary[disabled].focus,
.libr8 .btn-primary.disabled:active,
.libr8 .btn-primary[disabled]:active,
.libr8 .btn-primary.disabled.active,
.libr8 .btn-primary[disabled].active{
  background-color: #337ab7;
  border-color: #2e6da4;
}
.libr8 .btn-primary .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.libr8 .btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.libr8 .btn-success:hover,
.libr8 .btn-success:focus,
.libr8 .btn-success.focus,
.libr8 .btn-success:active,
.libr8 .btn-success.active,
.libr8 .open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.libr8 .btn-success:active,
.libr8 .btn-success.active,
.libr8 .open > .dropdown-toggle.btn-success {
  background-image: none;
}
.libr8 .btn-success.disabled,
.libr8 .btn-success[disabled],
.libr8 .btn-success.disabled:hover,
.libr8 .btn-success[disabled]:hover,
.libr8 .btn-success.disabled:focus,
.libr8 .btn-success[disabled]:focus,
.libr8 .btn-success.disabled.focus,
.libr8 .btn-success[disabled].focus,
.libr8 .btn-success.disabled:active,
.libr8 .btn-success[disabled]:active,
.libr8 .btn-success.disabled.active,
.libr8 .btn-success[disabled].active{
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.libr8 .btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.libr8 .btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.libr8 .btn-info:hover,
.libr8 .btn-info:focus,
.libr8 .btn-info.focus,
.libr8 .btn-info:active,
.libr8 .btn-info.active,
.libr8 .open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.libr8 .btn-info:active,
.libr8 .btn-info.active,
.libr8 .open > .dropdown-toggle.btn-info {
  background-image: none;
}
.libr8 .btn-info.disabled,
.libr8 .btn-info[disabled],
.libr8 .btn-info.disabled:hover,
.libr8 .btn-info[disabled]:hover,
.libr8 .btn-info.disabled:focus,
.libr8 .btn-info[disabled]:focus,
.libr8 .btn-info.disabled.focus,
.libr8 .btn-info[disabled].focus,
.libr8 .btn-info.disabled:active,
.libr8 .btn-info[disabled]:active,
.libr8 .btn-info.disabled.active,
.libr8 .btn-info[disabled].active{
  background-color: #5bc0de;
  border-color: #46b8da;
}
.libr8 .btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.libr8 .btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.libr8 .btn-warning:hover,
.libr8 .btn-warning:focus,
.libr8 .btn-warning.focus,
.libr8 .btn-warning:active,
.libr8 .btn-warning.active,
.libr8 .open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.libr8 .btn-warning:active,
.libr8 .btn-warning.active,
.libr8 .open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.libr8 .btn-warning.disabled,
.libr8 .btn-warning[disabled],
.libr8 .btn-warning.disabled:hover,
.libr8 .btn-warning[disabled]:hover,
.libr8 .btn-warning.disabled:focus,
.libr8 .btn-warning[disabled]:focus,
.libr8 .btn-warning.disabled.focus,
.libr8 .btn-warning[disabled].focus,
.libr8 .btn-warning.disabled:active,
.libr8 .btn-warning[disabled]:active,
.libr8 .btn-warning.disabled.active,
.libr8 .btn-warning[disabled].active{
  background-color: #f0ad4e;
  border-color: #eea236;
}
.libr8 .btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.libr8 .btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.libr8 .btn-danger:hover,
.libr8 .btn-danger:focus,
.libr8 .btn-danger.focus,
.libr8 .btn-danger:active,
.libr8 .btn-danger.active,
.libr8 .open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.libr8 .btn-danger:active,
.libr8 .btn-danger.active,
.libr8 .open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.libr8 .btn-danger.disabled,
.libr8 .btn-danger[disabled],
.libr8 .btn-danger.disabled:hover,
.libr8 .btn-danger[disabled]:hover,
.libr8 .btn-danger.disabled:focus,
.libr8 .btn-danger[disabled]:focus,
.libr8 .btn-danger.disabled.focus,
.libr8 .btn-danger[disabled].focus,
.libr8 .btn-danger.disabled:active,
.libr8 .btn-danger[disabled]:active,
.libr8 .btn-danger.disabled.active,
.libr8 .btn-danger[disabled].active{
  background-color: #d9534f;
  border-color: #d43f3a;
}
.libr8 .btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.libr8 .btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
.libr8 .btn-link,
.libr8 .btn-link:active,
.libr8 .btn-link.active,
.libr8 .btn-link[disabled]{
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.libr8 .btn-link,
.libr8 .btn-link:hover,
.libr8 .btn-link:focus,
.libr8 .btn-link:active {
  border-color: transparent;
}
.libr8 .btn-link:hover,
.libr8 .btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.libr8 .btn-link[disabled]:hover,
.libr8 .btn-link[disabled]:focus{
  color: #777777;
  text-decoration: none;
}
.libr8 .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.libr8 .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.libr8 .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.libr8 .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.libr8 .nav > li {
  position: relative;
  display: block;
}
.libr8 .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.libr8 .nav > li > a:hover,
.libr8 .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.libr8 .nav > li.disabled > a {
  color: #777777;
}
.libr8 .nav > li.disabled > a:hover,
.libr8 .nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.libr8 .nav .open > a,
.libr8 .nav .open > a:hover,
.libr8 .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.libr8 .nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.libr8 .nav > li > a > img {
  max-width: none;
}
.libr8 .nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.libr8 .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.libr8 .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.libr8 .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.libr8 .nav-tabs > li.active > a,
.libr8 .nav-tabs > li.active > a:hover,
.libr8 .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.libr8 .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.libr8 .nav-tabs.nav-justified > li {
  float: none;
}
.libr8 .nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.libr8 .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .libr8 .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .libr8 .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.libr8 .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.libr8 .nav-tabs.nav-justified > .active > a,
.libr8 .nav-tabs.nav-justified > .active > a:hover,
.libr8 .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .libr8 .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .libr8 .nav-tabs.nav-justified > .active > a,
  .libr8 .nav-tabs.nav-justified > .active > a:hover,
  .libr8 .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.libr8 .nav-pills > li {
  float: left;
}
.libr8 .nav-pills > li > a {
  border-radius: 4px;
}
.libr8 .nav-pills > li + li {
  margin-left: 2px;
}
.libr8 .nav-pills > li.active > a,
.libr8 .nav-pills > li.active > a:hover,
.libr8 .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.libr8 .nav-stacked > li {
  float: none;
}
.libr8 .nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.libr8 .nav-justified {
  width: 100%;
}
.libr8 .nav-justified > li {
  float: none;
}
.libr8 .nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.libr8 .nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .libr8 .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .libr8 .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.libr8 .nav-tabs-justified {
  border-bottom: 0;
}
.libr8 .nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.libr8 .nav-tabs-justified > .active > a,
.libr8 .nav-tabs-justified > .active > a:hover,
.libr8 .nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .libr8 .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .libr8 .nav-tabs-justified > .active > a,
  .libr8 .nav-tabs-justified > .active > a:hover,
  .libr8 .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.libr8 .tab-content > .tab-pane {
  display: none;
  visibility: hidden;
}
.libr8 .tab-content > .active {
  display: block;
  visibility: visible;
}
.libr8 .nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.libr8 .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .libr8 .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .libr8 .navbar-header {
    float: left;
  }
}
.libr8 .navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.libr8 .navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .libr8 .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .libr8 .navbar-collapse.collapse {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .libr8 .navbar-collapse.in {
    overflow-y: visible;
  }
  .libr8 .navbar-fixed-top .navbar-collapse,
  .libr8 .navbar-static-top .navbar-collapse,
  .libr8 .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.libr8 .navbar-fixed-top .navbar-collapse,
.libr8 .navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .libr8 .navbar-fixed-top .navbar-collapse,
  .libr8 .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.libr8 .container > .navbar-header,
.libr8 .container-fluid > .navbar-header,
.libr8 .container > .navbar-collapse,
.libr8 .container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .libr8 .container > .navbar-header,
  .libr8 .container-fluid > .navbar-header,
  .libr8 .container > .navbar-collapse,
  .libr8 .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.libr8 .navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .libr8 .navbar-static-top {
    border-radius: 0;
  }
}
.libr8 .navbar-fixed-top,
.libr8 .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .libr8 .navbar-fixed-top,
  .libr8 .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.libr8 .navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.libr8 .navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.libr8 .navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.libr8 .navbar-brand:hover,
.libr8 .navbar-brand:focus {
  text-decoration: none;
}
.libr8 .navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .libr8 .navbar > .container .navbar-brand,
  .libr8 .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.libr8 .navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.libr8 .navbar-toggle:focus {
  outline: 0;
}
.libr8 .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.libr8 .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .libr8 .navbar-toggle {
    display: none;
  }
}
.libr8 .navbar-nav {
  margin: 7.5px -15px;
}
.libr8 .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .libr8 .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .libr8 .navbar-nav .open .dropdown-menu > li > a,
  .libr8 .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .libr8 .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .libr8 .navbar-nav .open .dropdown-menu > li > a:hover,
  .libr8 .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .libr8 .navbar-nav {
    float: left;
    margin: 0;
  }
  .libr8 .navbar-nav > li {
    float: left;
  }
  .libr8 .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.libr8 .navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .libr8 .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .libr8 .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .libr8 .navbar-form .form-control-static {
    display: inline-block;
  }
  .libr8 .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .libr8 .navbar-form .input-group .input-group-addon,
  .libr8 .navbar-form .input-group .input-group-btn,
  .libr8 .navbar-form .input-group .form-control {
    width: auto;
  }
  .libr8 .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .libr8 .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .libr8 .navbar-form .radio,
  .libr8 .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .libr8 .navbar-form .radio label,
  .libr8 .navbar-form .checkbox label {
    padding-left: 0;
  }
  .libr8 .navbar-form .radio input[type="radio"],
  .libr8 .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .libr8 .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .libr8 .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .libr8 .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .libr8 .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.libr8 .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.libr8 .navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.libr8 .navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.libr8 .navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.libr8 .navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.libr8 .navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .libr8 .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .libr8 .navbar-left {
    float: left !important;
  }
  .libr8 .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .libr8 .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.libr8 .navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.libr8 .navbar-default .navbar-brand {
  color: #777777;
}
.libr8 .navbar-default .navbar-brand:hover,
.libr8 .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.libr8 .navbar-default .navbar-text {
  color: #777777;
}
.libr8 .navbar-default .navbar-nav > li > a {
  color: #777777;
}
.libr8 .navbar-default .navbar-nav > li > a:hover,
.libr8 .navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.libr8 .navbar-default .navbar-nav > .active > a,
.libr8 .navbar-default .navbar-nav > .active > a:hover,
.libr8 .navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.libr8 .navbar-default .navbar-nav > .disabled > a,
.libr8 .navbar-default .navbar-nav > .disabled > a:hover,
.libr8 .navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.libr8 .navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.libr8 .navbar-default .navbar-toggle:hover,
.libr8 .navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.libr8 .navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.libr8 .navbar-default .navbar-collapse,
.libr8 .navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.libr8 .navbar-default .navbar-nav > .open > a,
.libr8 .navbar-default .navbar-nav > .open > a:hover,
.libr8 .navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
@media (max-width: 767px) {
  .libr8 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .libr8 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .libr8 .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .libr8 .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .libr8 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .libr8 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .libr8 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .libr8 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .libr8 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.libr8 .navbar-default .navbar-link {
  color: #777777;
}
.libr8 .navbar-default .navbar-link:hover {
  color: #333333;
}
.libr8 .navbar-default .btn-link {
  color: #777777;
}
.libr8 .navbar-default .btn-link:hover,
.libr8 .navbar-default .btn-link:focus {
  color: #333333;
}
.libr8 .navbar-default .btn-link[disabled]:hover,
.libr8 .navbar-default .btn-link[disabled]:focus{
  color: #cccccc;
}
.libr8 .navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}
.libr8 .navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.libr8 .navbar-inverse .navbar-brand:hover,
.libr8 .navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.libr8 .navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.libr8 .navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.libr8 .navbar-inverse .navbar-nav > li > a:hover,
.libr8 .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.libr8 .navbar-inverse .navbar-nav > .active > a,
.libr8 .navbar-inverse .navbar-nav > .active > a:hover,
.libr8 .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.libr8 .navbar-inverse .navbar-nav > .disabled > a,
.libr8 .navbar-inverse .navbar-nav > .disabled > a:hover,
.libr8 .navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.libr8 .navbar-inverse .navbar-toggle {
  border-color: #333333;
}
.libr8 .navbar-inverse .navbar-toggle:hover,
.libr8 .navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}
.libr8 .navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.libr8 .navbar-inverse .navbar-collapse,
.libr8 .navbar-inverse .navbar-form {
  border-color: #101010;
}
.libr8 .navbar-inverse .navbar-nav > .open > a,
.libr8 .navbar-inverse .navbar-nav > .open > a:hover,
.libr8 .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #080808;
  color: #ffffff;
}
@media (max-width: 767px) {
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .libr8 .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.libr8 .navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.libr8 .navbar-inverse .navbar-link:hover {
  color: #ffffff;
}
.libr8 .navbar-inverse .btn-link {
  color: #9d9d9d;
}
.libr8 .navbar-inverse .btn-link:hover,
.libr8 .navbar-inverse .btn-link:focus {
  color: #ffffff;
}
.libr8 .navbar-inverse .btn-link[disabled]:hover,
.libr8 .navbar-inverse .btn-link[disabled]:focus{
  color: #444444;
}
.libr8 .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.libr8 .thumbnail > img,
.libr8 .thumbnail a > img {
  margin-left: auto;
  margin-right: auto;
}
a.libr8.thumbnail:hover,
a.libr8.thumbnail:focus,
a.libr8.thumbnail.active {
  border-color: #337ab7;
}
.libr8 .thumbnail .caption {
  padding: 9px;
  color: #333333;
}
.libr8 .embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.libr8 .embed-responsive .embed-responsive-item,
.libr8 .embed-responsive iframe,
.libr8 .embed-responsive embed,
.libr8 .embed-responsive object,
.libr8 .embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.libr8 .embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.libr8 .embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%;
}
.libr8 .clearfix:before,
.libr8 .clearfix:after,
.libr8 .form-horizontal .form-group:before,
.libr8 .form-horizontal .form-group:after,
.libr8 .nav:before,
.libr8 .nav:after,
.libr8 .navbar:before,
.libr8 .navbar:after,
.libr8 .navbar-header:before,
.libr8 .navbar-header:after,
.libr8 .navbar-collapse:before,
.libr8 .navbar-collapse:after {
  content: " ";
  display: table;
}
.libr8 .clearfix:after,
.libr8 .form-horizontal .form-group:after,
.libr8 .nav:after,
.libr8 .navbar:after,
.libr8 .navbar-header:after,
.libr8 .navbar-collapse:after {
  clear: both;
}
.libr8 .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.libr8 .pull-right {
  float: right !important;
}
.libr8 .pull-left {
  float: left !important;
}
.libr8 .hide {
  display: none !important;
}
.libr8 .show {
  display: block !important;
}
.libr8 .invisible {
  visibility: hidden;
}
.libr8 .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.libr8 .hidden {
  display: none !important;
  visibility: hidden !important;
}
.libr8 .affix {
  position: fixed;
}


#seohead{
	position:relative;
	top:0;
	right:0;
	left:0;
	z-index:10;
	display:block;
	background:#fff
}
#seocontent{
	overflow:hidden;
	width:100%;
	height:0
}
.seoheight{
	height:210px
}
#seodrop{
	position:absolute;bottom:-20px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;border-bottom-right-radius:10px;background-color:#fff
}
#seodrop a{padding:0 20px;color:#000}
#content.admin{padding:20px}
#busy{position:fixed;bottom:5px;left:5px;display:none}
.busy{position:absolute;top:2px;left:-32px;z-index:1000}
.busycheck{position:absolute;top:-8px;left:-32px;z-index:1000}
#block{position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483646;display:none;background:#000;background:rgba(0,0,0,.75)}
#block>i{position:absolute;top:47%;left:47%;margin:0 auto;color:#fff;text-shadow:0 0 75px #000,0 0 50px #000,0 0 25px #000}
#iptableblock{position:absolute;top:0;right:0;bottom:0;left:0;z-index:2147483646;display:none;background:#000;background:rgba(0,0,0,.5);text-align:center}
#thumb,#file{position:absolute;top:0;right:0}
#thumb img,#file img{max-height:40px;width:40px}
.admin_logo{position:absolute;top:-10px;left:-10px}
.tab-content{padding:20px}
.nav-tabs li a{color:#000;font-size:10px;opacity:.5;filter:alpha(opacity=50)}
.nav-tabs li a:hover{opacity:1;filter:alpha(opacity=100)}
.nav-tabs li a:hover{border-color:#eee #eee #ddd}
.nav-tabs li.active a{border:1px solid #bbb;border-bottom-color:transparent;background-color:#fff;color:#000;opacity:1;cursor:default}
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus{border:1px solid #bbb;border-bottom-color:transparent;background-color:#fff;color:#000;cursor:default}
.selector{overflow:auto;height:150px}
.selector .img-thumbnail{position:relative;overflow:hidden;margin:0 auto;padding:5px 5px 22px 5px;width:85px;text-align:center}
.selector .img-thumbnail span{display:block;overflow:hidden}
.selector .img-thumbnail img{height:75px}
.selector .img-thumbnail small{position:absolute;right:0;bottom:0;left:0;overflow:none;height:20px;text-align:center}
.btn-add{position:absolute;top:0;right:0}
.no-padding{padding:0}
.no-margin{margin:0}
.invoice-head td{padding:0 8px}
.invoice .header{padding:19px;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background-color:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;font-weight:300;font-size:14px;line-height:.9;-o-border-radius:0;-o-box-shadow:none}
.invoice .header .well p{margin:0;padding:0}
.invoice table{margin-bottom:20px!important}
.container{padding-top:30px}
.invoice-body{background-color:transparent}
.invoice-thank{margin-top:60px;padding:5px}
textarea{resize:vertical}
.notifications{position:fixed;z-index:99999}
.notifications .alert{-webkit-box-shadow:2px 2px 15px #000;-moz-box-shadow:2px 2px 15px #000;box-shadow:2px 2px 15px #000;-o-box-shadow:2px 2px 15px #000}
.notifications>div{position:relative;z-index:99999;margin:5px 0}
.notifications.center{top:20%;left:0;width:100%}
.notifications.center>div{margin:5px auto;width:50%;text-align:center}
#toTop{position:fixed;top:0;left:0;z-index:2147483647;display:none;padding:5px 8px 5px 5px;-webkit-border-bottom-right-radius:20px;-moz-border-radius-bottomright:20px;border-bottom-right-radius:20px;background-color:#000;background-color:rgba(0,0,0,.5);color:#fff}
div.clear{clear:both}
div.theme-chooser.disabled div.theme-chooser-item{opacity:.6;filter:alpha(opacity=60);cursor:default;zoom:1}
div.theme-chooser div.theme-chooser-item{position:relative;margin-right:10x;margin-bottom:10px;margin-left:10px;padding:11px;border:1px solid #efefef;border-radius:6px;cursor:pointer}
div.theme-chooser div.theme-chooser-item.selected{padding:8px;border:4px solid #f40;opacity:1;filter:alpha(opacity=100)}
div.theme-chooser div.theme-chooser-item img{padding:0}
div.theme-chooser div.theme-chooser-item .title{display:block;margin:10px 0 5px 0;font-weight:700;font-size:12px}
div.theme-chooser div.theme-chooser-item .version{display:block;margin:2px 0 2px 0;font-weight:400;font-size:9px}
div.theme-chooser div.theme-chooser-item .creator{display:block;margin:2px 0 2px 0;font-weight:400;font-size:9px}
div.theme-chooser div.theme-chooser-item span.description{display:inline-block;overflow:hidden;height:50px;vertical-align:top;font-size:12px}
div.theme-chooser div.theme-chooser-item input{position:absolute;top:0;left:0;visibility:hidden}
.fa-red{color:#f00}
#events-layer{position:absolute;top:-1px;z-index:100;width:100%;height:100%;text-align:right}
.sortable{margin:0;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.sortable.grid{overflow:hidden}
.sortable li{list-style:none}
.sortable.grid li{float:left;margin:5px 10px 20px 10px;width:150px;height:150px;text-align:center}
.handle{cursor:move}
.sortable.connected{float:left}
li.sortable-placeholder{width:150px;border:1px dashed #888;background-color:#eee}
.gallery{position:relative;display:inline-block;background-color:#fff}
.gallery.danger img{background-color:#f00;background-color:rgba(255,0,0,.5);opacity:.5filter:alpha(opacity=50)}
.gallery.unpublished img{opacity:.25;filter:alpha(opacity=25)}
.gallery .controls{position:absolute;top:5px;right:-15px}
.gallery img{float:left;margin:10px;padding-bottom:20px;width:100%;height:100%}
.gallery .title{position:absolute;right:-5px;bottom:-5px;left:15px;overflow:hidden;color:#000;text-align:center;font-size:9px}
.gallery .handle{position:absolute;top:5px;left:5px}
.gallery span.filetype{margin-top:10px;width:150px;height:150px;color:#000}
.gallery .filetype i{margin-top:25px}
.dropdown-submenu{position:relative}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px;border-radius:0 6px 6px 6px}
.dropdown-submenu:hover>.dropdown-menu{display:block}
.dropdown-submenu>a:after{display:block;float:right;margin-top:5px;margin-right:-10px;width:0;height:0;border-width:5px 0 5px 5px;border-style:solid;border-color:transparent;border-left-color:#ccc;content:''}
.dropdown-submenu:hover>a:after{border-left-color:#fff}
.dropdown-submenu.pull-left{float:none}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px}
.thumbnail .indicator{position:absolute;top:-10px;right:-10px}
.thumbnail .indicator.disabled{opacity:1;filter:alpha(opacity=100)}
