body{
	background:#f4f4f4;
}
.loginbox{
	margin:10% 10%;
}
.navbar-brand img{
	height:20px;
}
footer .logo{
	position:absolute;
	top:-90px;
	right:20px;
	z-index:-1;
	height:120px;
}
footer .logo img{
	height:76px;
}
.panel{
	margin-bottom:100px;
}
.panel .panel{
	margin-bottom:0;
}
.relative{
	position:relative
}
.no-padding{
	padding:0
}
.no-margin{
	margin:0
}
.margin-left-20{
	margin-left:20px;
}
.clearfix{
	clear:both
}
#seohead{
	position:relative;
	top:0;
	right:0;
	left:0;
	z-index:10;
	display:block;
	background:#fff
}
#seocontent{
	overflow:hidden;
	width:100%;
	height:0
}
.seoheight{
	height:210px
}
#seodrop{
	position:absolute;bottom:-20px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;border-bottom-right-radius:10px;background-color:#fff
}
#seodrop a{padding:0 20px;color:#000}
#content.admin{padding:20px}
#busy{position:fixed;bottom:5px;left:5px;display:none}
.busy{position:absolute;top:2px;left:-32px;z-index:1000}
.busycheck{position:absolute;top:-8px;left:-32px;z-index:1000}
#block{position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483646;display:none;background:#000;background:rgba(0,0,0,.75)}
#block>i{position:absolute;top:47%;left:47%;margin:0 auto;color:#fff;text-shadow:0 0 75px #000,0 0 50px #000,0 0 25px #000}
#iptableblock{position:absolute;top:0;right:0;bottom:0;left:0;z-index:2147483646;display:none;background:#000;background:rgba(0,0,0,.5);text-align:center}
#thumb,#file{position:absolute;top:0;right:0}
#thumb img,#file img{max-height:40px;width:40px}
.admin_logo{position:absolute;top:-10px;left:-10px}
.tab-content{padding:20px}
.nav-tabs li a{color:#000;font-size:10px;opacity:.5;filter:alpha(opacity=50)}
.nav-tabs li a:hover{opacity:1;filter:alpha(opacity=100)}
.nav-tabs li a:hover{border-color:#eee #eee #ddd}
.nav-tabs li.active a{border:1px solid #bbb;border-bottom-color:transparent;background-color:#fff;color:#000;opacity:1;cursor:default}
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus{border:1px solid #bbb;border-bottom-color:transparent;background-color:#fff;color:#000;cursor:default}
.btn-add{position:absolute;top:0;right:0}
.no-padding{padding:0}
.no-margin{margin:0}
.invoice-head td{padding:0 8px}
.invoice .header{padding:19px;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background-color:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;font-weight:300;font-size:14px;line-height:.9;-o-border-radius:0;-o-box-shadow:none}
.invoice .header .well p{margin:0;padding:0}
.invoice table{margin-bottom:20px!important}
.container{padding-top:30px}
.invoice-body{background-color:transparent}
.invoice-thank{margin-top:60px;padding:5px}
textarea{resize:vertical}
.notifications{position:fixed;z-index:99999}
.notifications .alert{-webkit-box-shadow:2px 2px 15px #000;-moz-box-shadow:2px 2px 15px #000;box-shadow:2px 2px 15px #000;-o-box-shadow:2px 2px 15px #000}
.notifications>div{position:relative;z-index:99999;margin:5px 0}
.notifications.center{top:20%;left:0;width:100%}
.notifications.center>div{margin:5px auto;width:50%;text-align:center}
#toTop{position:fixed;top:0;left:0;z-index:2147483647;display:none;padding:5px 8px 5px 5px;-webkit-border-bottom-right-radius:20px;-moz-border-radius-bottomright:20px;border-bottom-right-radius:20px;background-color:#000;background-color:rgba(0,0,0,.5);color:#fff}
div.clear{clear:both}
div.theme-chooser.disabled div.theme-chooser-item{opacity:.6;filter:alpha(opacity=60);cursor:default;zoom:1}
div.theme-chooser div.theme-chooser-item{position:relative;margin-right:10x;margin-bottom:10px;margin-left:10px;padding:11px;border:1px solid #efefef;border-radius:6px;cursor:pointer}
div.theme-chooser div.theme-chooser-item.selected{padding:8px;border:4px solid #f40;opacity:1;filter:alpha(opacity=100)}
div.theme-chooser div.theme-chooser-item img{padding:0}
div.theme-chooser div.theme-chooser-item .title{display:block;margin:10px 0 5px 0;font-weight:700;font-size:12px}
div.theme-chooser div.theme-chooser-item .version{display:block;margin:2px 0 2px 0;font-weight:400;font-size:9px}
div.theme-chooser div.theme-chooser-item .creator{display:block;margin:2px 0 2px 0;font-weight:400;font-size:9px}
div.theme-chooser div.theme-chooser-item span.description{display:inline-block;overflow:hidden;height:50px;vertical-align:top;font-size:12px}
div.theme-chooser div.theme-chooser-item input{position:absolute;top:0;left:0;visibility:hidden}
.fa-red{color:#f00}
#events-layer{position:absolute;top:-1px;z-index:100;width:100%;height:100%;text-align:right}
.dropdown-submenu{position:relative}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px;border-radius:0 6px 6px 6px}
.dropdown-submenu:hover>.dropdown-menu{display:block}
.dropdown-submenu>a:after{display:block;float:right;margin-top:5px;margin-right:-10px;width:0;height:0;border-width:5px 0 5px 5px;border-style:solid;border-color:transparent;border-left-color:#ccc;content:''}
.dropdown-submenu:hover>a:after{border-left-color:#fff}
.dropdown-submenu.pull-left{float:none}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px}
.thumbnail .indicator{position:absolute;top:-10px;right:-10px}
.thumbnail .indicator.disabled{opacity:1;filter:alpha(opacity=100)}
#avatar{position:absolute;max-width:30px;max-height:30px;top:10px;right:5px;}
.commentavatar{max-width:75px;max-height:75px;}
#sp{display:none}
.huge {
    font-size: 40px;
}
.table-responsive{
	overflow:visible;
}