html{background:#3c2a20 url(../images/0.jpg) repeat-y top center;background-size:100%}
body{position:relative;z-index:0;color:#e7c387;background-color:#3c2a20;background-image:url(../images/i0.png),url(../images/br.png),url(../images/0.jpg);background-repeat:no-repeat,no-repeat,repeat-y;background-position:bottom left,bottom right,top center;background-size:auto auto,auto auto,140% auto;width:1000px;margin:0 auto;font-size:16px;font-weight:400;font-family:arial;border:2px solid #000;border-top:0;-webkit-box-shadow:0 0 100px #000,0 0 30px #000;box-shadow:0 0 100px #000,0 0 30px #000}
body.i0{background-image:url(../images/i0.png),url(../images/br.png),url(../images/0.jpg)}
body.i1{background-image:url(../images/i1.png),url(../images/br.png),url(../images/0.jpg)}
body.i2{background-image:url(../images/i2.png),url(../images/br.png),url(../images/0.jpg)}
body.i3{background-image:url(../images/i3.png),url(../images/br.png),url(../images/0.jpg)}
body.i4{background-image:url(../images/i4.png),url(../images/br.png),url(../images/0.jpg)}
.relative{position:relative}
.no-padding{padding:0}
.no-margin{margin:0}
.margin-bottom-20{margin-bottom:20px}
.margin-left-20{margin-left:20px}
.clearfix{clear:both}
.navbar-default{background-color:#eee;background-color:rgba(254,254,254,.30);border-color:transparent}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand a{color:#222;text-decoration:none}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{color:#000;background-color:transparent;text-decoration:none;text-shadow:0 0 20px #fff}
.navbar-default .navbar-text{color:#222}
.navbar-default .navbar-nav>li>a{color:#222}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{color:#000;background-color:transparent}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{color:#000;background-color:transparent;font-weight:700}
header .navbar-default{position:relative;background:transparent url(../images/header.png) no-repeat top center;height:185px}
header .navbar-default:after{content:'';z-index:100;position:absolute;bottom:-56px;left:-1px;right:auto;width:996px;height:60px;background:transparent url(../images/header.png) no-repeat bottom center;background-size:100%}
header .navbar .navbar-collapse{text-align:center;height:auto;border:0}
header .navbar-toggle{position:absolute;top:90px;z-index:1000;float:right;width:100%;margin:0;padding:2px 10px;background:transparent;border-radius:0;height:40px;border:0;color:#e7c387;font-size:20px;font-weight:700;text-transform:uppercase}
header .navbar-toggle:active,
header .navbar-toggle:hover,
header .navbar-toggle:focus{color:#f00;outline:0;background-color:#000!important;background-color:rgba(0,0,0,.25)!important}
header .navbar-default .navbar-brand{position:absolute;left:80px;bottom:80px}
header .navbar-default .navbar-brand:hover{color:#000;background-color:transparent;text-decoration:none;text-shadow:0 0 20px #fff}
header .navbar-default .navbar-brand:focus,
header .navbar-default .navbar-text{color:#222}
header .navbar-nav{z-index:1000;width:100%;background:#000;margin:130px 0 0 0;text-align:center}
header .navbar-nav>li{float:none;display:inline-block}
header .navbar-default .searchsocial{position:absolute;top:5px;right:2px;width:100%;height:42px;text-align:right}
header .navbar-default .libre-social{display:inline-block;width:42px;height:42px;margin-right:3px}
header .navbar-default .bookingshortcut{z-index:1000;position:absolute;right:40px;top:110px}
header .navbar-default .bookingshortcut:after{
content:'Book Us Now';position:absolute;top:30px;left:0;bottom:0;right:0;color:#fff;font-size:1.4em;font-weight:700;text-align:center;text-shadow:1px 2px 5px #000;-webkit-transform:rotate3d(0,0,1,15deg);transform:rotate3d(0,0,1,15deg)}
header .navbar-default .bookingshortcut:hover{-webkit-animation-name:tada;animation-name:tada}
header .navbar-default .bookingshortcut svg{width:120px;height:120px;fill:#f00}
header .navbar-default .libre-social svg{border-width:3px;box-shadow:0 0 10px #000}
header .navbar-default .navbar-nav{margin-top:130px}
header .navbar-default .navbar-nav>li>a{color:#e7c387;font-weight:700;font-size:22px;text-shadow:0 0 10px #000,1px 2px 5px #000}
header .navbar-default .navbar-nav>li>a:hover{color:#f00;background-color:transparent}
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:focus,
header .navbar-default .navbar-nav>.active>a:hover{color:#f00;background-color:transparent;font-weight:700}
header .navbar-default .navbar-form{padding:0 0 10px 0;margin:0;border:0}
header address{position:absolute;z-index:5;top:5px;left:0;right:auto;text-shadow:0 0 10px #000,0 1 5px #000}
header address.vcard{margin-left:140px;font-size:16px;font-weight:700}
header address svg{fill:#e7c387;width:16px;height:16px}
header address a{color:#e7c387;text-shadow:0 0 10px #000,0 1 5px #000}
header address a:focus,
header address a:hover{color:#f00;text-shadow:0 0 10px #000,0 1 5px #000}
footer .navbar-default{background-color:transparent;border-color:transparent}
footer .navbar-default .navbar-text{color:#e7c387;text-shadow:1px 2px 5px #000}
footer .navbar-default .navbar-nav>li>a{color:#e7c387;font-size:16px;font-weight:700;text-shadow:1px 2px 5px #000}
footer .navbar-default .navbar-nav>li>a:focus,
footer .navbar-default .navbar-nav>li>a:hover{color:#f00;background-color:transparent}
footer .navbar-default .navbar-nav>.active>a,
footer .navbar-default .navbar-nav>.active>a:focus,
footer .navbar-default .navbar-nav>.active>a:hover{color:#f00;background-color:transparent;font-weight:700}
footer .navbar-form,
footer .form-group{border:0 none transparent}
#featured{z-index:-1;margin-top:-40px}
h6:empty{display:none;height:0;margin:0;padding:0;line-height:0}
#avatar{position:absolute;top:0;right:0;max-height:50px;width:50px}
.commentavatar{width:50px;height:50px}
time{display:block}
.carousel{position:absolute;top:0;width:100%;height:400px;-webkit-box-shadow:0 5px 20px #000;box-shadow:0 5px 20px #000}
.carousel .item{height:400px}
.carousel .item img{width:100%}
.carousel-caption{z-index:16;background:#000;background:rgba(0,0,0,.75);color:inherit;top:auto;right:0;bottom:0;left:0;padding:20px;text-align:left;text-shadow:0 0 25px #000,0 0 20px #000,0 0 15px #000,0 0 10px #000}
.carousel-control{position:absolute;top:0;bottom:auto;left:0;width:15%;height:15%;font-size:20px;color:inherit;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6);filter:alpha(opacity=50);opacity:.5}
.carousel-control.left{background-image:none}
.carousel-control.right{background-image:none}
.carousel-control:focus,
.carousel-control:hover{color:inherit;text-decoration:none;outline:0;opacity:.9}
.carousel-caption .content{position:absolute;top:-200px;min-height:75#featured .carousel-control{width:50px;top:auto;bottom:20px;left:-50px;right:10px;}
#featured .carousel-control.left{width:25px;left:auto;right:25px;}
#featured .carousel-control.right{width:25px;left:auto;right:0;}
#featured .carousel-control svg{width:20px;height:20px}px;left:0;right:0;text-align:center}
.carousel-caption .title{color:inherit;font-size:1.2em;font-weight:700}
.carousel-caption .attribution{position:absolute;top:10px;right:5px;text-align:right;color:inherit;font-size:.8em;font-weight:400}
.carousel-caption .attribution:before{content:'Photo Attribution';position:absolute;right:0;top:-10px;color:inherit;font-size:.75em;font-weight:400}
.attribution .title,
.attribution .url a{color:inherit;font-size:1em;font-weight:700}
.carousel .left .libre,.carousel .right .libre{margin-top:50%}
.carousel-indicators{position:absolute;right:5px;bottom:-5px;left:auto;z-index:15;width:60%;padding-left:0;margin-left:-30%;text-align:right;list-style:none}
.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;cursor:pointer;background-color:#000\9;background-color:rgba(0,0,0,0);border:1px solid #fff;border-radius:10px}
.carousel-indicators .active{width:12px;height:12px}
.carousel-fade .carousel-inner .item{opacity:0;transition-property:opacity}
.carousel-fade .carousel-inner .active{opacity:1}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{left:0;opacity:0;z-index:1}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right{opacity:1}
.carousel-fade .carousel-control{z-index:5}
#featured .carousel-control{width:50px;top:auto;bottom:-50px;left:auto;right:10px;}
#featured .carousel-control.left{width:25px;left:auto;right:25px;}
#featured .carousel-control.right{width:25px;left:auto;right:0;}
#featured .carousel-control svg{width:20px;height:20px}
@media all and(transform-3d),(-webkit-transform-3d){
	.carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right{opacity:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left{opacity:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.contentType{position:absolute;top:0;left:0;color:#e7c387;width:0;height:0;border-width:2px 75px 15px 5px;border-style:solid;border-color:transparent;background-color:transparent}
.contentType div{position:relative;top:0;left:0;color:#e7c387;text-transform:capitalize;text-shadow:1px 1px 5px #000,0 0 10px #000,0 0 20px #000;white-space:nowrap;font-weight:700;font-size:12px}
.contentType:empty{display:none}
.content-item {position:relative;display:block;background-color:#3c2a20;color:#e7c387;margin-bottom:30px!important;border:2px solid #000;-webkit-border-radius:10px;border-radius:10px}
.content-item-info{padding:5px 20px;background-color:transparent}
.content-item-image{display:block;height:220px;overflow:hidden;background:#3c2a20;background:-webkit-linear-gradient(135deg,#3c2a20,#c5a165);background:linear-gradient(135deg,#3c2a20,#c5a165);-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0}
.content-item-image img{width:100%;border-radius:10px 10px 0 0}
.content-item-title{width:100%;margin-bottom:10px;text-align:center;font-size:1.2em}
.content-item-price{font-weight:700;font-size:28px}
main address{margin:20px;font-size:20px}
main address .libre-icon{margin-left:-30px}
main address .libre-icon svg{width:18px;height:18px;fill:currentColor}
.margin-btm-20{margin:40px 0}
.testimonials{position:relative;margin:0;padding:0 40px}
.testimonials .carousel .controls{margin-top:-40px}
.testimonials .carousel{position:relative;top:0;width:auto;height:auto;-webkit-box-shadow:0 0 0;box-shadow:0 0 0}
.testimonials .carousel .item{height:auto}
.quote{position:relative}
.quote blockquote{background-color:#451C03;padding:0;border:0;margin:0;font-size:14px;font-style:italic;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;border-radius:8px}
.testimonials .quote blockquote{-webkit-box-shadow:0 0 50px #000;box-shadow:0 0 50px #000}
.quote blockquote p{color:#E7C387;padding-top:25px;padding-bottom:45px;padding-left:30px;padding-right:30px}
.quote blockquote:before{content:"";position:absolute;top:100%;left:90px;width:0;height:0;border-top:.83333em solid #451C03;border-right:.86667em solid transparent}
.testimonials .quote blockquote:before{left:110px;-webkit-box-shadow:0 0 50px #000;box-shadow:0 0 50px #000}
.quote-footer{margin:10px 0}
.testimonials .quote blockquote{margin:0 20px}
.quote-footer .quote-author-img img{float:left;max-width:90px;width:90px;height:90px;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;margin-left:-5px;margin-top:-40px;position:relative;z-index:1;padding:5px;background-color:#fff}
.testimonials .quote-author-img{margin-left:20px}
.testimonials .quote-footer .quote-author-img img{box-shadow:0 0 20px #000}
.quote-footer h4{font-size:14px;margin-bottom:4px}
.quote-footer p{font-weight:400;font-style:italic;font-size:14px}
.testimonials .quote-footer h4,
.testimonials .quote-footer p{margin-right:20px;text-shadow:0 0 20px #000,1px 2px 5px #000}
.sidebar li{list-style:none}
textarea{resize:vertical}
#cart{position:absolute;top:5px;right:0;background:#f00}
img{color:transparent}
img.nostyle{}
figure{display:inline-block}
figure figcaption{display:inline-block;width:100%;color:#e7c387;}
main{margin-top:20px}
.side_menu{margin-top:40px}
.side_menu_gallery{max-width:50px;max-height:50px}
.price_side .side_price,
.side_price{position:relative;width:100%;min-height:70px}
.price_side .side_price .cost,
.side_price .cost,
.price_side .side_price .quantity,
.side_price .quantity{position:absolute;width:70%}
.price_side .side_price .cost,
.side_price .cost{left:10px;font-size:48px;font-weight:700;color:#fff;text-shadow:0 0 30px #000,2px 4px 10px #000}
.price_side .side_price .quantity,
.side_price .quantity{right:10px;width:30%;text-align:center;font-size:16px}
.price_side .side_price .btn,
.side_price .btn{margin:10px auto 10px auto}
.list-group-item{background-color:#3c2a20;border-color:#000;color:#e7c387}
a.list-group-item{color:#e7c387}
a.list-group-item .list-group-item-heading{color:#e7c387}
a.list-group-item:focus,
a.list-group-item:hover{color:#fff;text-decoration:none;background-color:#c9302c}
.list-group-item.link{padding:0 5px;color:#e7c387}
.list-group-item-text .time{font-size:8px;color:#e7c387}
#cart:empty{display:none}
.search{}
.search .search-item{padding:10px}
.search-item .search-item-info{color:#000!important}
.search-item .search-item-info .search-item-url{color:#080!important}
.search-item .search-item-info .search-item-title a:link{color:#00f!important}
.search-item .search-item-info .search-item-title a:visited{color:#808!important}
.theme{display:block;margin:0 auto;padding-top:10px;width:300px;height:53px;text-align:center;vertical-align:middle;background:transparent;font-size:12px;color:inherit;text-shadow:1px 2px 5px #000}
.theme a{display:inline-block;line-height:0;color:inherit;width:auto;padding:0;margin:0}
.theme a:hover{color:inherit;text-decoration:underline}
.theme a .libre{width:auto;color:#18a303}
.theme a .cms{color:#000;font-weight:700}
.jumbotron{padding:0;margin-top:-75px;margin-bottom:75px}
.jumbotron img{width:100%}
.testimonials-heading,
.testimonials-heading small{color:inherit;text-shadow:1px 2px 5px #000}
#content{margin-top:40px}
#content .table,
#content .panel{color:#000}
#comments{margin:20px}
#comments .media-body .well,
#comments .media-body .well h6{color:#000!important;text-shadow:0 0 0}
#comments .media-body .well time{display:block;color:#888;font-size:10px}
#content .jumbotron{margin-top:0}
blockquote{padding:10px 20px;margin:0 0 20px;font-size:17.5px;border-left:5px solid #e7c387}
.text-muted{color:#e7c387}
a{color:#e7c387}
a:focus,
a:hover{color:#f00}
.requiredInput{border-width:3px;border-color:#f00;background:#fdd;-webkit-box-shadow:0 0 8px #f00;box-shadow:0 0 8px #f00}
hr{margin:40px 0;border:0;height:1px;background-image:linear-gradient(to right,rgba(231,195,135,0),rgba(231,195,135,.75),rgba(231,195,135,0))}
.panel-body .table,
#cartaccount .form-group,
.panel-title,
.invoice h2,
.invoice h4,
.invoice .form-group,
.invoice .input-group,
.invoice .well{color:#000!important}
.panel-body{text-shadow:0 0 0}
#content{text-shadow:0 0 10px #000,1px 2px 5px #000}
#content .alert,
#content .btn{text-shadow:0 0 0}
#content .btn{margin:2px}
.reviews{}
.rat{display:inline-block;unicode-bidi:bidi-override;direction:rtl}
.rat > span{position:relative;width:1em;text-shadow:0 1px 1px #000}
.rat > span.set,
.rat > span.set ~ span{color:transparent}
.rat > span.set:after,
.rat > span.set ~ span:after{content:"\2605";position:absolute;left:0;color:gold}
.hreview-aggregate .well{background-color:#3C2A20;border-color:#000}
.rating{position:relative;float:left}
.rating:not(:checked) > input{position:absolute;top:-9999px;clip:rect(0,0,0,0)}
.rating:not(:checked) > label{float:right;width:1em;padding:0 .1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:150%;line-height:1.2;color:#ddd;text-shadow:1px 1px #bbb, 2px 2px #666,.1em .1em .2em rgba(0,0,0,.5)}
.rating:not(:checked) > label:before{content:'★ '}
.rating > input:checked ~ label{color:#f70;text-shadow:1px 1px #c60,2px 2px #940,.1em .1em .2em rgba(0,0,0,.5)}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{color:gold;text-shadow:1px 1px goldenrod,2px 2px #B57340,.1em .1em .2em rgba(0,0,0,.5)}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label{color:#ea0;text-shadow:1px 1px goldenrod,2px 2px #B57340,.1em .1em .2em rgba(0,0,0,.5)}
.rating > label:active{position:relative;top:2px;left:2px}
.rating > label:after{content:attr(data-title);position:absolute;display:block;top:auto;bottom:30px;width:5px;height:auto;padding-left:7px;color:#000;font-size:10px;font-weight:400;text-shadow:0 0 0;word-wrap:break-word}
@media(min-width:320px){
	body{width:320px}
	header .navbar-default{height:120px}
	header .navbar-default:after{bottom:-21px;width:316px;height:20px}
	header .navbar-default .navbar-brand{left:-10px;top:30px;bottom:auto}
	header .navbar-nav{background:#441a03}
	header address{top:5px}
	header address.vcard{margin-left:5px;font-size:14px;font-weight:700}
	header .navbar-default .searchsocial{height:24px}
	header .navbar-default .libre-social{width:24px;height:24px}
	header .navbar-default .libre-social svg{border-width:1px}
	.carousel{top:165px;height:129px}
	.carousel .item{height:129px}
	.carousel-caption{font-size:8px;padding:2px}
	.carousel-caption h1,
	.carousel-caption h2,
	.carousel-caption h3,
	.carousel-caption h4,
	.carousel-caption h5,
	.carousel-caption h6{font-size:12px}
	.carousel-caption .content{top:-100px}
	.carousel-indicators li{width:5px;height:5px;border-radius:5px}
	.carousel-indicators .active{width:6px;height:6px;margin:0;background-color:#fff}
	#content.index{margin:130px 5px 20px 5px}
	#content.index h1{font-size:1.6em}
	#content.index h2{font-size:1.5em}
	#content.index h3{font-size:1.4em}
	#content{margin-top:0;z-index:-1}
	.price_side{display:none}
	.price_content{display:block;width:100%}
}
@media(min-width:480px){
	body{width:480px}
	header .navbar-default:after{bottom:-31px;width:476px;height:30px}
	header .navbar-default .navbar-brand{left:0;top:0;bottom:auto}
	header address{top:2px;left:auto:right:0;font-size:18px}
	.carousel{top:168px;height:194px}
	.carousel .item{height:194px}
	.carousel-caption{font-size:10px}
	.carousel-caption h1,
	.carousel-caption h2,
	.carousel-caption h3,
	.carousel-caption h4,
	.carousel-caption h5,
	.carousel-caption h6{font-size:14px;margin:0}
	.carousel-caption .content{top:-100px}
	.carousel-indicators{position:absolute;right:5px;bottom:-5px;left:auto;z-index:15;width:60%;padding-left:0;margin-left:-30%;text-align:right;list-style:none}
	.carousel-indicators li{display:inline-block;width:5px;height:5px;margin:1px;text-indent:-999px;cursor:pointer;background-color:#000\9;background-color:rgba(0,0,0,0);border:1px solid #fff;border-radius:5px}
	.carousel-indicators .active{width:6px;height:6px;margin:0;background-color:#fff}
	#content.index{margin:210px 5px 20px 5px}
	#content.index h1{font-size:1.6em}
	#content.index h2{font-size:1.5em}
	#content.index h3{font-size:1.4em}
	#content{margin-top:10px}
	.price_content{width:50%;margin:0 0 10px 20px}
}
@media(min-width:600px){
	body{width:600px}
	header .navbar-default:after{bottom:-31px;width:596px;height:30px}
	header .navbar-default .navbar-brand{left:0;top:-5px;bottom:auto}
	header .navbar-nav{background:#441a03}
	header address{top:0;left:auto:right:0;font-size:18px}
	.carousel{top:163px;width:100%;height:242px}
	.carousel .item{height:242px}
	.carousel-caption{font-size:14px}
	.carousel-caption h1,
	.carousel-caption h2,
	.carousel-caption h3,
	.carousel-caption h4,
	.carousel-caption h5,
	.carousel-caption h6{font-size:20px}
	.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;cursor:pointer;background-color:#000\9;background-color:rgba(0,0,0,0);border:1px solid #fff;border-radius:10px}
	.carousel-indicators .active{width:12px;height:12px;margin:0;background-color:#fff}
	#content.index{margin:260px 5px 20px 5px}
	#content.index h1{font-size:1.8em}
	#content.index h2{font-size:1.7em}
	#content.index h3{font-size:1.6em}
}
@media(min-width:768px){
	body{width:768px}
	header .navbar-default{height:185px}
	header .navbar-default .navbar-brand{left:0;top:10px;bottom:auto}
	header .navbar-default:after{bottom:-36px;width:764px;height:35px}
	header .navbar-nav{background:transparent}
	header .navbar-default .navbar-brand{left:80px;top:auto;bottom:120px}
	header .navbar-default .navbar-brand a{font-size:60px}
	header .navbar-default .searchsocial{top:5px;right:2px;height:42px}
	header .navbar-default .libre-social{width:42px;height:42px;margin-right:3px}
	header .navbar-default .libre-social svg{border-width:3px}
	header address.vcard{margin-left:40px;font-size:14px;font-weight:700}
	.carousel{top:225px;width:100%;height:310px}
	.carousel .item{height:310px}
	.carousel-caption{padding:5px}
	.carousel-caption .content{top:-150px}
	#content.index{margin:320px 5px 20px 5px}
	#content.index h1{font-size:2em}
	#content.index h2{font-size:1.9em}
	#content.index h3{font-size:1.8em}
	#content{margin-top:20px}
}
@media(min-width:800px){
	body{width:800px}
	header .navbar-default:after{width:796px}
	header .navbar-default .navbar-brand{left:80px;top:auto;bottom:120px}
	header address.vcard{margin-left:40px;font-size:14px;font-weight:700}
	.carousel{top:224px;height:323px}
	.carousel .item{height:323px}
	.carousel-caption .content{top:-150px}
	#content.index{margin:340px 5px 20px 5px}
}
@media(min-width:1000px){
	body{width:1000px}
	header .navbar-default:after{bottom:-51px;width:996px;height:50px}
	header .navbar-default .navbar-brand{left:160px;top:auto;bottom:120px}
	header address.vcard{margin-left:140px;font-size:17px;font-weight:700}
	.carousel{top:230px;height:400px}
	.carousel .item{height:400px}
	.carousel-caption .content{top:-200px}
	#content.index{margin:420px 5px 20px 5px}
	#content.index h1{font-size:2.2em}
	#content.index h2{font-size:2.1em}
	#content.index h3{font-size:2em}
	#content{margin-top:40px}
	.price_side{display:block}
	.price_content{display:none}
}
