<header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#libreCMS-collapse" aria-expanded="false" role="button">Menu</button>
				<span class="navbar-brand"><a href="" role="link"><img class="img-responsive" src="layout/chocolatier/images/logo.png" alt="Chocolatier" role="img"></a></span>
				<address class="vcard">For Inquiries call Darren on <span class="tel" itemprop="telephone"><print config="phone"></span> or Anita on <span class="tel" itemprop="telephone"><print config="mobile"></span></address>
				<div class="searchsocial hidden-xs">
					<buildSocial>
						<a class="libre-social" href="<print sociallink>" role="link" rel="me"><print socialicon></a>
					</buildSocial>
					<rss>
						<a class="libre-social" href="<print rsslink>" role="link" rel="rss"><print rssicon></a>
					</rss>
				</div>
				<a class="bookingshortcut animated hidden-xs" href="bookings">
					<svg xmlns="http://www.w3.org/2000/svg" id="libre-badge-1" viewBox="0 0 14 14"><path d="M 14,8.21552 12.674185,9.03387 13.155701,10.5 11.625652,10.82241 11.568922,12.36231 10.019171,12.14993 9.43107,13.57786 8.048568,12.85628 7,14 5.951432,12.85628 4.568926,13.57786 3.980825,12.14993 2.431074,12.36231 2.374344,10.82241 0.844299,10.5 1.325815,9.03387 0,8.21552 0.96165,7 0,5.78448 1.325815,4.96613 0.844299,3.5 2.374348,3.17759 2.431078,1.63769 3.980829,1.85007 4.56893,0.42214 5.951436,1.14375 7,0 8.048568,1.14375 9.431074,0.42214 10.019175,1.85007 11.568926,1.63769 11.625656,3.17759 13.155701,3.5 12.674185,4.96613 14,5.78448 13.03835,7 Z"/></svg>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="libreCMS-collapse">
				<ul class="nav navbar-nav" role="list">
					<buildMenu>
						<li class="<print active=menu>" role="listitem"><a href="<print menu=url>" role="link" rel="<print rel=contentType>"><small><print menu="title"></small></a><menuCart></li>
					</buildMenu>
					<li class="visible-xs col-xs-12" role="listitem">
						<form class="navbar-form" method="post" action="search" role="form">
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control" name="search" placeholder="Enter a Search Term..." role="textbox">
									<div class="input-group-btn">
										<button type="submit" class="btn btn-danger" role="button">Search</button>
									</div>
								</div>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<activation>
