<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<main id="content" class="" role="main">
		<article class="about">
			<mediaitems>
				<div class="fancymedia">
					<mediaimages>
						<a data-fancybox="group" href="<print media=image>" data-width="<print media=width>" data-width="<print media=height>" data-caption="<print media=caption>"><img src="<print media=image>" alt="<print media=title> - <print media=caption>"></a>
					</mediaimages>
				</div>
			</mediaitems>
			<print page="notes">
		</article>
	</main>
</block>
<block include="footer.html">
<block include="meta_footer.html">
