<settings itemcount="4" contenttype="folder" order="random">
<div id="featured" class="carousel slide" data-ride="carousel">
	<featuredControls>
		<a class="left carousel-control" href="#featured" role="button" data-slide="prev">
			<span class="libre-icon libre-white" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" id="libre-chevron-left" viewBox="0 0 14 14"><path d="M 10.71464,3.04715 6.76179,7 l 3.95285,3.95285 q 0.14144,0.14144 0.14144,0.33499 0,0.19355 -0.14144,0.33499 L 9.47891,12.85856 Q 9.33747,13 9.14392,13 8.95037,13 8.80893,12.85856 L 3.28536,7.33499 Q 3.14392,7.19355 3.14392,7 q 0,-0.19355 0.14144,-0.33499 L 8.80893,1.14144 Q 8.95037,1 9.14392,1 9.33747,1 9.47891,1.14144 l 1.23573,1.23573 q 0.14144,0.14144 0.14144,0.33499 0,0.19355 -0.14144,0.33499 z"/></svg></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#featured" role="button" data-slide="next">
			<span class="libre-icon libre-white" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" id="libre-chevron-right" viewBox="0 0 14 14"><path d="M 10.71464,7.33499 5.19107,12.85856 Q 5.04963,13 4.85608,13 4.66253,13 4.52109,12.85856 L 3.28536,11.62283 q -0.14144,-0.14144 -0.14144,-0.33499 0,-0.19355 0.14144,-0.33499 L 7.23821,7 3.28536,3.04715 Q 3.14392,2.90571 3.14392,2.71216 q 0,-0.19355 0.14144,-0.33499 L 4.52109,1.14144 Q 4.66253,1 4.85608,1 5.04963,1 5.19107,1.14144 l 5.52357,5.52357 Q 10.85608,6.80645 10.85608,7 q 0,0.19355 -0.14144,0.33499 z"/></svg></span>
			<span class="sr-only">Next</span>
		</a>
	</featuredControls>
	<featuredIndicators>
		<ol class="carousel-indicators">
			<indicators>
				<li data-target="#featured" data-slide-to="<print indicatorCount>" class="<print active>"></li>
			</indicators>
		</ol>
	</featuredIndicators>
	<div class="carousel-inner relative">
		<items>
			<div class="item<print active>" itemscope itemtype="http://schema.org/CreativeWork">
				<img class="img-responsive" itemprop="image" alt="<print content=alt>" src="<print content=image>">
				<div class="carousel-caption">
					<caption>
						<div class="title" role="heading"><a href="<print link>" role="link"><print content="title"></a></div>
						<print content="caption">
						<div class="attribution">
							<span class="title" itemprop="name"><print content="attributionImageTitle"></span> by <span class="url" itemprop="author"><print content="attributionImageAuthor"></span>
						</div>
					</caption>
				</div>
			</div>
		</items>
	</div>
</div>
<div class="clearfix"></div>