<accountmenu>
	<nav class="navbar navbar-inverse no-margin" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-collapse" aria-expanded="false" role="button">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="admin-collapse">
				<ul class="nav navbar-nav pull-right relative" style="margin-right:20px;">
					<li role="listitem" <print active="orders">><a href="orders" role="link">Orders</a></li>
					<li role="listitem" <print active="settings">><a href="settings" role="link">Settings</a></li>
				</ul>
				<img id="avatar" class="pull-right img-circle" src="<print user=avatar>" alt="Avatar" role="img">
			</div>
		</div>
	</nav>
</accountmenu>
<header role="header">
	<nav class="navbar navbar-default center" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#libreCMS-collapse" aria-expanded="false" role="button">Menu</button>
				<span class="navbar-brand text-white" role="banner">
					<a href="" role="link">ALZIM PTY LTD
					<small>﻿QUALITY AUSTRALIAN MADE PRODUCTS</small></a>
				</span>
			</div>
			<div class="collapse navbar-collapse" id="libreCMS-collapse">
				<div class="navbar-inner">
					<ul class="nav navbar-nav" role="list">
						<buildMenu>
							<li class="<print active=menu>" role="listitem"><a href="<print menu=url>" role="link" rel="<print rel=contentType>"><print menu="title"></a><menuCart></li>
						</buildMenu>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<a class="godown arrow" href="#content"><svg xmlns="http://www.w3.org/2000/svg" id="libre-chevron-down" viewBox="0 0 14 14"><path d="m 12.85856,5.194785 -5.52357,5.51613 Q 7.19355,10.852355 7,10.852355 q -0.19355,0 -0.33499,-0.14144 L 1.141439,5.194785 Q 1,5.053345 1,4.856075 1,4.658805 1.141439,4.517365 L 2.37717,3.289075 q 0.14144,-0.14143 0.33499,-0.14143 0.19355,0 0.33499,0.14143 L 7,7.241935 10.95285,3.289075 q 0.14144,-0.14143 0.33499,-0.14143 0.19355,0 0.33499,0.14143 l 1.23573,1.22829 Q 13,4.658805 13,4.856075 q 0,0.19727 -0.14144,0.33871 z"/></svg></a>
</header>
<activation>
