.relative{
	position:relative
}
.no-padding{
	padding:0
}
.no-margin{
	margin:0
}
.margin-bottom-20{
	margin-bottom:20px;
}
.margin-left-20{
	margin-left:20px
}
.clearfix{
	clear:both
}
#avatar{
	position:absolute;
	top:0;
	right:0;
	max-height:50px;
	width:50px
}
.commentavatar{
	width:50px;
	height:50px
}
time{
	display:block
}
.testimonials .img-circle{
    margin-top:20px;
	max-height:100px;
	width:100px
}
.carousel{
	margin-top:-20px;
	margin-bottom:20px;
	width:100%;
	height:600px
}
.carousel .item{
	height:600px
}
.carousel-caption{
	top:0;
	text-shadow:0 0 25px #000,0 0 20px #000,0 0 15px #000,0 0 10px #000;
}
.carousel-caption>p{
	position:relative;
}
.carousel-price{
	position:absolute;
	top:10px;
	right:10px
}
.carousel-price h4{
	font-size:30px
}
.carousel .left .fa,
.carousel .right .fa{
	margin-top:100%;
}
.contentType{
	position:absolute;
	top:-5px;
	left:-5px;
	width:0;
	height:0;
	border-width:2px 75px 15px 5px;
	border-style:solid;
	border-color:#000;
	border-color:rgba(0,0,0,.5);
	background-color:#000;
	background-color:rgba(0,0,0,.5);
}
.contentType div{
	position:relative;
	top:0;
	left:0;
	color:#fff;
	text-transform:capitalize;
	white-space:nowrap;
	font-weight:700;
	font-size:9px
}
.contentType:empty{
	display:none;
}
.notes{
	height:100px;
}
.price{
	position:absolute;
	display:block;
	top:0;
	right:0;
	padding:10px 15px 0 15px;
	background:#fff;
	background:rgba(255,255,255,.5);
}
.price:before{
	position:absolute;
	top:0;
	left:5px;
	content:'Price:';
	font-size:14px
}
article,
.thumbnail{
	position:relative;
	margin-bottom:20px;
	padding:0
}
.cover{
	width:100%
}
article{
	width:100%
}
.thumbnail .cover{
	height:150px;
	overflow:hidden
}
.thumbnail img{
	width:100%
}
article .caption{
	text-align:justify
}
.article{
	margin:0 5px
}
article .vcard{
	font-size:12px
}
article .vcard h4{
	display:none
}
article .vcard .avatar{
	margin:0 10px 10px;
	max-width:92px;
	max-height:92px;
}
.testimonials{
	clear:both;
	margin:20px
}
.sidebar li{
	list-style:none;
}
.intense:hover{
	cursor:url(../images/plus_cursor.png)25 25,auto
}
textarea{
	resize:vertical
}
#cart{
	position:absolute;
	top:5px;
	right:0;
	background:#f00
}
img{
	color:transparent
}
#comments{
	margin:20px
}
main{
	display:inline-table
}
.side_menu_gallery{
	max-width:75px;
	max-height:75px;
}
.theme{
	display:block;
	margin:0 auto 20px auto;
	width:320px;
	height:53px;
	text-align:center;
	vertical-align:middle;
	background:transparent url(../images/themebg.png) no-repeat center center;
	font-size:12px;
	color:#000;
}
.theme a{
	color:inherit;
}
.theme a:hover{
	color:inherit;
	text-decoration:underline;
}
.theme a .libre{
	color:#18a303;
	font-weight:700
}
.theme a .cms{
	color:#000;
}