/*
background: #FBD3E9;
background: -webkit-linear-gradient(to left, #FBD3E9 , #BB377D);
background: linear-gradient(to left, #FBD3E9 , #BB377D);

background: #EECDA3;
background: -webkit-linear-gradient(to left, #EECDA3 , #EF629F);
background: linear-gradient(to left, #EECDA3 , #EF629F);

Change this one
background: #fc00ff;
background: -webkit-linear-gradient(to left, #fc00ff , #00dbde);
background: linear-gradient(to left, #fc00ff , #00dbde);

*/

body{margin:0 auto;padding:5px 40px;width:100%;height:100%;background:transparent url(../images/bg.jpg);font-size:14px;background-size:cover}
.relative{position:relative}
#maintenance{position:relative;width:976px;height:635px;margin:20px auto;background-color:transparent;background:#fff url(../images/maintenance.png) no-repeat top left;
background-size:contain;background-color:rgba(255,255,255,.5);box-shadow:0 0 70px #000;border-radius:15px}
#maintenance h1{position:absolute;top:380px;right:10px;width:750px;text-align:center;text-shadow:0 0 30px #fff,0 0 20px #fff,0 0 15px #fff}
.navbar-default{clear:both;background-color:transparent;border-color:transparent}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand a{color:#222;text-decoration:none}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{color:#000;background-color:transparent;text-decoration:none;text-shadow:0 0 20px #fff}
.navbar-default .navbar-text{color:#222}
.navbar-default .navbar-nav>li>a{color:#222}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{color:#000;background-color:transparent}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{color:#000;background-color:transparent;font-weight:700}
.navbar-inverse{background:transparent;border-color:transparent}
.navbar-inverse .navbar-text{color:000}
.navbar-inverse .navbar-nav>li>a{color:#444;font-weight:700;font-size:22px}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover{color:#000}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{color:#000;background-color:transparent;font-weight:700}
.navbar-inverse #avatar{box-shadow:0 0 30px #888,1px 2px 10px #000}
header .navbar-default{background:#f27db1 url(../images/menubg.png) no-repeat top right;
margin-top:180px;height:64px;border:3px solid #000;-webkit-border-radius:10px;border-radius:10px}
header .navbar .navbar-collapse{text-align:center}
header .navbar-toggle{position:relative;z-index:1000;float:right;width:100%;margin:0;padding:9px 10px;background:transparent;border-radius:0;height:50px;border:0;color:#000;font-size:22px;font-weight:700;text-transform:uppercase}
header .navbar-toggle:active,
header .navbar-toggle:hover,
header .navbar-toggle:focus{outline:0;background-color:#f27db1!important;background-color:rgba(242,125,177,.5)!important}
header .navbar-nav,
header .navbar-nav>li{z-index:1000;background:transparent;margin:0;padding:0;text-align:center;text-transform:uppercase}
header .navbar-default .navbar-figure{position:absolute;z-index:-1;top:-210px;left:-90px}
header .navbar-default .
header .navbar-default .navbar-brand,
header .navbar-default .navbar-brand a{position:absolute;z-index:-2;top:-89px;left:63px;right:auto}
header .navbar-default .searchsocial{position:absolute;top:-70px;right:0;width:100%;height:56px;text-align:right}
header .navbar-default .libre-social{display:inline-block;width:56px;height:56px;vertical-align:-150%}
header .navbar-default .libre-social svg{border-width:3px}
header .navbar-default .navbar-search{display:inline-block;height:56px;padding:10px;margin-bottom:20px;margin-right:20px;background:#fff;border:3px solid #000;-webkit-border-radius:10px;border-radius:10px}
header .navbar-default .navbar-search input[type=text]{border:1px solid #000;background:#ddd;margin:0;padding:4px;width:300px}
header .navbar-default .navbar-search button{display:inline-block;color:#f27db1;background:transparent;border:0;font-size:18px}
header .navbar-default .navbar-text{color:#333}
header .navbar-default .navbar-nav>li>a{padding-left:15px;padding-right:15px;font-size:22px;font-weight:700;text-transform:uppercase;line-height:32px;color:#333}
header .navbar-default .navbar-nav>li>a:first-child{padding-left:0}
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li>a:hover{color:#000;background-color:transparent}
header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:focus,
header .navbar-default .navbar-nav>.active>a:hover{color:#000;background-color:transparent;font-weight:700}
header .navbar-default .navbar-nav .cart{margin:-12px 0 0 0;padding:0;vertical-align:middle}
header .navbar-default .navbar-nav .cart{color:#f27db1;font-size:54px}
header .navbar-default .navbar-nav .cart:hover{color:#e16ca0;padding:0}
footer .navbar-default{background:#ccc;margin:0 10px;border:2px solid #000;-webkit-border-radius:10px;border-radius:10px}
footer .navbar-default .navbar-nav{margin:0 5px;}
h6:empty{display:none;height:0;margin:0;padding:0;line-height:0}
#avatar{position:absolute;top:0;right:0;max-height:50px;width:50px}
.commentavatar{width:50px;height:50px}
time{display:block}
.featured-side{position:relative;z-index:+1;display:block;color:#000;width:300px;height:340px;margin:-20px 0 0 0}
.featured-side.left{position:absolute;top:0;left:0}
.featured-side.right{position:absolute;top:0;right:0}
.featured-body{display:block;padding:10px;height:320px;background:#ccc;border:3px solid #000;border-top:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;overflow:none;overflow-y:auto}
.featured-body .list-group{padding-left:0;margin-bottom:5px}
.featured-body .list-group-item{position:relative;display:block;padding:2px;margin-bottom:0;background-color:transparent;border:0 none}
.featured-body .list-group-item:first-child{border-radius:0}
.featured-body .list-group-item:last-child{margin-bottom:0;border-radius:0}
.featured-body h4 a{color:#000}
.featured-body a.list-group-item{color:#222;padding:2px}
.featured-body .list-group-item-heading{color:#000;text-align:center;font-weight:700}
.featured-body a.list-group-item:focus,
.featured-body a.list-group-item:hover{color:#555;text-decoration:none;background-color:#ddd}
.featured-body .list-group-item.link{padding:0 5px}
.featured-body .list-group-item-text .time{font-size:8px;color:#888}
.featured-side.left .featured-body{margin-left:10px}
.featured-side.right .featured-body{margin-right:10px}
.carousel{position:absolute;top:-20px;left:300px;right:300px;padding:0;height:300px}
.carousel-inner{width:100%;height:300px;border-bottom:2px solid #000;box-shadow:0 0 20px #444}
.carousel .item{background:#ddd!important;width:100%;height:300px}
.carousel .item img{position:absolute;z-index:1;top:35px;left:34px;width:230px;max-height:230px;border:5px solid #fff;border-bottom-width:20px;border-radius:3px;box-shadow:0 0 40px #888,1px 3px 15px #000;transform:rotate(-10deg)}
.carousel .item .pom{position:absolute;z-index:2;width:434px;left:15%;top:0;border:0;-webkit-box-shadow:0 0 0,0 0 0;box-shadow:0 0 0,0 0 0;transform:rotate(0deg)}
.carousel .item .btn{position:absolute;top:auto;right:10px;bottom:10px;left:auto}
.carousel-caption{position:absolute;z-index:0;top:40px;bottom:50px;left:auto;right:5px;width:340px;overflow:hidden;color:#000}
.carousel-caption:after{content:'';z-index:1;position:absolute;top:auto;bottom:0;left:0;height:200px!important;width:100%;background:linear-gradient(transparent,#ddd);background:-webkit-linear-gradient(transparent,#ddd);background:-o-linear-gradient(transparent,#ddd);background:-moz-linear-gradient(transparent,#ddd)}
.carousel-caption .title{margin:0;color:#000}
.carousel-caption>p{position:relative;font-size:12px;color:#000;text-align:justify}
.carousel-caption .btn{position:absolute;z-index:1000;display:block;top:auto;right:0;bottom:0}
.carousel-price{position:absolute;top:10px;right:10px}
.carousel-price h4{font-size:30px}
.carousel .left .libre,
.carousel .right .libre{margin-top:100%}
.carousel-indicators{z-index:0;bottom:-30px}
.contentType{position:absolute;top:0;left:0;width:0;height:0;border-width:2px 75px 15px 5px;border-style:solid;border-color:transparent;background-color:transparent}
.contentType div{position:relative;top:0;left:0;color:#fff;text-transform:capitalize;text-shadow:1px 1px 5px #000,0 0 10px #000,0 0 20px #000;white-space:nowrap;font-weight:700;font-size:12px}
.contentType:empty{display:none}
.notes{height:100px}
.price{position:absolute;display:block;top:0;right:5px;font-size:24px;color:#fff;text-shadow:1px 1px 5px #000,0 0 10px #000,0 0 20px #000}
.price .btn{color:inherit;text-shadow:none}
.thumbnail{position:relative;min-height:390px;margin-bottom:20px;padding:0}
.thumbnail{border:2px solid #000;-webkit-border-radius:10px;border-radius:10px}
.content-item{position:relative;display:block;background-color:#fff;color:#000;margin-bottom:30px!important;border:2px solid #000;-webkit-border-radius:10px;border-radius:10px}
.content-item-info{padding:5px 20px;background-color:transparent}
.content-item-image{display:block;height:220px;overflow:hidden;background: #f27db1;background:-webkit-linear-gradient(135deg,#f27db1,#d05b90);background:linear-gradient(135deg,#f27db1,#d05b90);-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0}
.content-item-image img{width:100%;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0}
.content-item-title{width:100%;color:#000;margin-bottom:10px;text-align:center;font-size:1.1em;font-weight:700}
.content-item-title a{color:#000}
.content-item-price{font-weight:700;font-size:28px}
.pagenotes{position:relative;left:10px;margin:0 20px 20px 0;padding:10px;background:#fff;border:2px solid #000;-webkit-border-radius:10px;border-radius:10px}
.pagenotes:empty{display:none}
.thumbnail img{-webkit-border-radius:10px;border-radius:10px}
.cover{width:100%}
article{width:100%}
article h1{position:absolute;font-size:1.2em;width:100%;top:140px;right:0;left:0;text-align:center;z-index:+1}
article.pagenotes h1{
    position:relative;font-size:2em;top:auto;right:auto;bottom:auto;left:auto;text-align:left;
}
.thumbnail .cover{height:150px;overflow:hidden}
.thumbnail .controls{position:absolute;right:5px;bottom:5px;left:5px}
.thumbnail img{width:100%}
article .caption{margin-top:20px;text-align:justify}
.article{margin:0 5px}
article .vcard{font-size:12px}
article .vcard h4{display:none}
article .vcard .avatar{margin:0 10px 10px;max-width:92px;max-height:92px}
.testimonials{margin:40px!important}
.testimonials .carousel{height:140px}
.testimonials .carousel .item{height:140px}
.testimonials .description{padding:40px 10px}
.testimonials img{max-height:100px!important;width:100px!important}
.sidebar li{list-style:none}
textarea{resize:vertical}
#cart{position:absolute;top:5px;right:0;background:#f00}
img{color:transparent}
img.nostyle{}
figure{display:inline-block}
figure figcaption{display:inline-block;width:100%;background-color:#dedede}
#comments{margin:20px}
.side_menu{margin-top:10px}
.side_menu_gallery{max-width:50px;max-height:50px}
.price_side .side_price,
.side_price{position:relative;width:100%;min-height:70px}
.price_side .side_price .cost,
.side_price .cost,
.price_side .side_price .quantity,
.side_price .quantity{position:absolute;width:70%}
.price_side .side_price .cost,
.side_price .cost{left:10px;font-size:48px;font-weight:700;color:#fff;text-shadow:0 0 30px #000,2px 4px 10px #000}
.price_side .side_price .quantity,
.side_price .quantity{right:10px;width:30%;text-align:center;font-size:16px}
.price_side .side_price .btn,
.side_price .btn{margin:10px auto 10px auto}
.list-group{padding-left:0;margin-bottom:20px}
.list-group-item{position:relative;display:block;padding:10px 15px;margin-bottom:-1px;background-color:#ccc;border:1px solid #000}
.list-group-item:first-child{border-top-left-radius:10px;border-top-right-radius:10px}
.list-group-item:last-child{margin-bottom:0;border-bottom-right-radius:10px;border-bottom-left-radius:10px}
a.list-group-item{color:#222}
a.list-group-item .list-group-item-heading,
.list-group-item-heading a{color:#000}
a.list-group-item:focus,
a.list-group-item:hover{color:#555;text-decoration:none;background-color:#ddd}
.list-group-item.link{padding:0 5px}
.list-group-item-text .time{font-size:8px;color:#888}
.list-group-item.active>.badge,.nav-pills>.active>a>.badge{color:#337ab7;background-color:#fff}.list-group-item>.badge{float:right}.list-group-item>.badge+.badge{margin-right:5px}
#cart:empty{display:none}
.testimonials{position:relative;margin:40px}
.testimonials .carousel{margin-top:0}
.testimonials .carousel .controls{margin-top:-40px}
.quote{position:relative}
.quote blockquote{background-color:#ddd;padding:0;border:0;margin:0;font-size:14px;font-style:italic;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;border-radius:8px}
.quote blockquote p{color:#000;padding-top:25px;padding-bottom:45px;padding-left:30px;padding-right:30px}
.quote blockquote:before{content:"";position:absolute;top:100%;left:90px;width:0;height:0;border-top:.83333em solid #ddd;border-right:.86667em solid transparent}
.quote-footer{margin:10px 0}
.quote-footer .quote-author-img img{float:left;max-width:90px;width:90px;height:90px;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;margin-left:-5px;margin-top:-40px;position:relative;z-index:1;padding:5px;background-color:#fff}
.quote-footer h4{font-size:14px;margin-bottom:4px}
.quote-footer p{font-weight:400;font-style:italic;font-size:14px}
.search{}
.search .search-item{padding:10px}
.search-item .search-item-info{color:#000!important}
.search-item .search-item-info .search-item-url{color:#080!important}
.search-item .search-item-info .search-item-title a:link{color:#00f!important}
.search-item .search-item-info .search-item-title a:visited{color:#808!important}
.theme{display:block;margin:0 auto;padding-top:10px;width:300px;height:53px;text-align:center;vertical-align:middle;background:transparent url(../images/themebg.png) no-repeat center center;font-size:12px;color:#000;text-shadow:0 0 30px #fff,0 0 10px #fff}
.theme a{display:inline-block;line-height:0;color:inherit;width:auto;padding:0;margin:0;}
.theme a:hover{color:inherit;text-decoration:underline}
.theme a .libre{width:auto;color:#18a303}
.theme a .cms{color:#000;font-weight:700}
.jumbotron{padding:0;margin-top:-75px;margin-bottom:75px}
.jumbotron img{width:100%}
#content{margin-top:0}
#content.home{clear:both;margin-top:320px}
#content .table,
#content .panel{color:#000!important}
.panel-body .table,
#cartaccount .form-group,
.panel-title,
.invoice h2,
.invoice h4,
.invoice .form-group,
.invoice .input-group,
.invoice .well{color:#000!important}
@media(min-width:320px){
    #maintenance{width:300px;height:300px;margin-top:15px;margin-left:-20px}
    #maintenance h1{top:120px;width:250px;font-size:1.5em}
    body{padding:5px 0 40px 0;width:315px}
    .navbar-inverse .navbar-nav>li>a{color:#444;font-weight:700;padding:0;font-size:11px}
    .navbar-inverse .navbar-nav>li{display:inline-block;padding:5px 15px;}
    header .navbar-default{background:#f27db1 url(../images/menubg.png) no-repeat top right;margin-top:80px;height:56px;border:3px solid #000;-webkit-border-radius:10px;border-radius:10px}
    header .navbar-default .navbar-brand,
    header .navbar-default .navbar-brand a{position:absolute;z-index:0;top:-20px;left:30px;right:auto}
    header .navbar-default .navbar-brand a img{width:250px}
    header .navbar-default .navbar-search{height:30px;padding:0 2px 2px 2px;margin-right:5px;background:#fff;border:1px solid #000;-webkit-border-radius:5px;border-radius:5px}
    header .navbar-default .navbar-search input[type=text]{-webkit-border-radius:3px;border-radius:3px;padding-top:2px;width:100px}
    header .navbar-default .navbar-search button{display:inline-block;color:#f27db1;padding-top:4px;background:transparent;border:0;font-size:12px;font-weight:700}
    header .navbar-nav>li{z-index:1000;background:#f27db1 url(../images/menubg.png) repeat-y top right;left:0;right:0;margin:-3px -15px 0 -15px;padding:0;text-align:center;text-transform:uppercase;border:3px solid #000;border-top:0;border-bottom:0}
    header .navbar-nav>li:first-child{border-top:3px}
    header .navbar-nav.nav-cart>li{border-bottom:3px solid #000;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px}
    header .navbar-default .searchsocial{top:-75px;height:28px}
    header .navbar-default .libre-social{width:28px;height:28px;vertical-align:-55%}
    header .navbar-default .libre-social svg{border-width:1px}
    header .navbar-default .navbar-figure{top:-100px;left:-40px}
    header .navbar-default .navbar-figure img{width:150px}
    .featured-side{position:relative;z-index:+1;display:block;color:#000;width:50%;height:200px;margin:-30px 0 0 0}
    .featured-body{display:block;padding:10px;height:200px;background:#ccc;border:3px solid #000;border-top:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;overflow:none;overflow-y:auto}
    .featured-side.left .featured-body{border-right-width:1px;border-right-color:#888}
    .featured-side.right .featured-body{border-left:0}
    .featured-side.left{position:absolute;top:200px;left:0}
    .featured-side.right{position:absolute;top:200px;right:0}
    .carousel{position:absolute;top:-20px;left:10px;right:10px;padding:0;height:190px}
    .carousel-inner{width:100%;height:190px;border:2px solid #000;border-top:0;box-shadow:0 0 20px #444}
    .carousel .item{background:#ddd!important;width:100%;height:190px}
    .carousel .item .title{font-size:16px}
    .carousel .item img{position:absolute;z-index:1;top:45px;left:0;width:120px;max-height:120px;border:3px solid #fff;border-bottom-width:15px;border-radius:3px;box-shadow:0 0 40px #888,1px 3px 15px #000;transform:rotate(-10deg)}
    .carousel .item .pom{position:absolute;z-index:2;width:434px;left:0;top:0;border:0;-webkit-box-shadow:0 0 0,0 0 0;box-shadow:0 0 0,0 0 0;transform:rotate(0deg)}
    .carousel .item .btn{position:absolute;top:auto;right:10px;bottom:10px;left:auto}
    .carousel-caption{position:absolute;z-index:0;top:30px;bottom:5px;left:auto;right:5px;width:160px;overflow:hidden}
    .carousel-caption:after{content:"";position:absolute;bottom:0;left:0;height:70px;width:100%;background:linear-gradient(transparent,#ddd);background:-webkit-linear-gradient(transparent,#ddd);background:-o-linear-gradient(transparent,#ddd);background:-moz-linear-gradient(transparent,#ddd)}
    #content.home{clear:both;margin-top:390px}
    .price_side{display:none}
    .price_content{display:block;width:100%}
}
@media(min-width:480px){
    #maintenance{width:460px;height:300px;margin-top:5px;margin-left:-20px}
    #maintenance h1{top:150px;width:290px}
    body{padding:5px 0 40px 0;width:470px}
    header .navbar-default{background:#f27db1 url(../images/menubg.png) no-repeat top right;
    margin-top:100px;height:56px;border:3px solid #000;-webkit-border-radius:10px;border-radius:10px}
    header .navbar-default .navbar-brand,
    header .navbar-default .navbar-brand a{position:absolute;z-index:0;top:-30px;left:45px;right:auto}
    header .navbar-default .navbar-brand a img{width:380px}
    header .navbar-default .navbar-search{display:inline-block;height:38px;padding:4px 2px 2px 4px;margin-right:5px;background:#fff;border:1px solid #000;-webkit-border-radius:5px;border-radius:5px}
    header .navbar-default .navbar-search input[type=text]{border:1px solid #000;-webkit-border-radius:3px;border-radius:3px;font-size:13px;background:#ddd;margin:0;padding-top:2px;width:150px}
    header .navbar-default .navbar-search button{display:inline-block;color:#f27db1;padding-top:4px;background:transparent;border:0;font-size:12px;font-weight:700}
    header .navbar-nav>li{z-index:1000;background:#f27db1 url(../images/menubg.png) repeat-y top right;left:0;right:0;margin:-3px -15px 0 -15px;padding:0;text-align:center;text-transform:uppercase;border:3px solid #000;border-top:0;border-bottom:0}
    header .navbar-nav>li:first-child{border-top:3px}
    header .navbar-nav.nav-cart>li{border-bottom:3px solid #000;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px}
    header .navbar-default .searchsocial{position:absolute;top:-100px;right:0;width:100%;height:28px;text-align:right}
    header .navbar-default .libre-social{display:inline-block;width:38px;height:38px;vertical-align:-85%}
    header .navbar-default .libre-social svg{border-width:1px}
    header .navbar-default .navbar-figure{position:absolute;z-index:-1;top:-120px;left:-40px}
    header .navbar-default .navbar-figure img{width:180px}
    .featured-side{position:relative;z-index:+1;display:block;color:#000;width:50%;height:200px;margin:-30px 0 0 0}
    .featured-body{display:block;padding:10px;height:200px;background:#ccc;border:3px solid #000;border-top:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;overflow:none;overflow-y:auto}
    .featured-side.left .featured-body{border-right-width:1px;border-right-color:#888}
    .featured-side.right .featured-body{border-left:0}
    .featured-side.left{position:absolute;top:200px;left:0}
    .featured-side.right{position:absolute;top:200px;right:0}
    .carousel{position:absolute;top:-20px;left:10px;right:10px;padding:0;height:190px}
    .carousel-inner{width:100%;height:190px;border:2px solid #000;border-top:0;box-shadow:0 0 20px #444}
    .carousel .item{background:#ddd!important;width:100%;height:190px}
    .carousel .item .title{font-size:16px}
    .carousel .item img{position:absolute;z-index:1;top:45px;left:10px;width:140px;max-height:140px;border:3px solid #fff;border-bottom-width:15px;border-radius:3px;box-shadow:0 0 40px #888,1px 3px 15px #000;transform:rotate(-10deg)}
    .carousel .item .pom{position:absolute;z-index:2;width:434px;left:0;top:0;border:0;-webkit-box-shadow:0 0 0,0 0 0;box-shadow:0 0 0,0 0 0;transform:rotate(0deg)}
    .carousel .item .btn{position:absolute;top:auto;right:10px;bottom:10px;left:auto}
    .carousel-caption{position:absolute;z-index:0;top:30px;bottom:5px;left:auto;right:5px;width:280px;overflow:hidden}
    .carousel-caption:after{content:"";position:absolute;bottom:0;left:0;height:70px;width:100%;background:linear-gradient(transparent,#ddd);background:-webkit-linear-gradient(transparent,#ddd);background:-o-linear-gradient(transparent,#ddd);background:-moz-linear-gradient(transparent,#ddd)}
    #content.home{clear:both;margin-top:390px}
    .price_content{width:50%;margin:0 0 10px 20px}
}
@media(min-width:600px){
    #maintenance{width:570px;height:400px;margin-top:15px;margin-left:-15px}
    #maintenance h1{top:220px;width:400px;font-size:1.75em}
    body{padding:5px 0 40px 0;width:580px}
    header .navbar-default{background:#f27db1 url(../images/menubg.png) no-repeat top right;
    margin-top:110px;height:56px;border:3px solid #000;-webkit-border-radius:10px;border-radius:10px}
    header .navbar-default .navbar-brand,
    header .navbar-default .navbar-brand a{position:absolute;z-index:0;top:-35px;left:auto;right:-5px}
    header .navbar-default .navbar-brand a img{width:auto}
    header .navbar-default .navbar-search{display:inline-block;height:38px;padding:0 2px 2px 5px;margin-right:5px;background:#fff;border:1px solid #000;-webkit-border-radius:5px;border-radius:5px}
    header .navbar-default .navbar-search input[type=text]{border:1px solid #000;-webkit-border-radius:3px;border-radius:3px;background:#ddd;margin:0;padding-top:2px;width:200px}
    header .navbar-default .navbar-search button{display:inline-block;color:#f27db1;padding-top:6px;background:transparent;border:0;font-size:14px;font-weight:700}
    header .navbar-nav>li{z-index:1000;background:#f27db1 url(../images/menubg.png) repeat-y top right;left:0;right:0;margin:-3px -15px 0 -15px;padding:0;text-align:center;text-transform:uppercase;border:3px solid #000;border-top:0;border-bottom:0}
    header .navbar-nav>li:first-child{border-top:3px}
    header .navbar-nav.nav-cart>li{border-bottom:3px solid #000;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px}
    header .navbar-default .searchsocial{position:absolute;top:-110px;right:0;width:100%;height:28px;text-align:right}
    header .navbar-default .libre-social{display:inline-block;width:38px;height:38px;vertical-align:-80%}
    header .navbar-default .libre-social svg{border-width:1px}
    header .navbar-default .navbar-figure{position:absolute;z-index:-1;top:-135px;left:-40px}
    header .navbar-default .navbar-figure img{width:200px}
    .featured-side{position:relative;z-index:+1;display:block;color:#000;width:50%;height:200px;margin:-20px 0 0 0}
    .featured-body{display:block;padding:10px;height:200px;background:#ccc;border:3px solid #000;border-top:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;overflow:none;overflow-y:auto}
    .featured-side.left .featured-body{border-right-width:1px;border-right-color:#888}
    .featured-side.right .featured-body{border-left:0}
    .featured-side.left{position:absolute;top:250px;left:0}
    .featured-side.right{position:absolute;top:250px;right:0}
    .carousel{position:absolute;top:-20px;left:10px;right:10px;padding:0;height:190px}
    .carousel-inner{width:100%;height:250px;border:2px solid #000;border-top:0;box-shadow:0 0 20px #444}
    .carousel .item{background:#ddd!important;width:100%;height:250px}
    .carousel .item .title{font-size:16px}
    .carousel .item img{position:absolute;z-index:1;top:45px;left:10px;width:200px;max-height:200px;border:3px solid #fff;border-bottom-width:15px;border-radius:3px;box-shadow:0 0 40px #888,1px 3px 15px #000;transform:rotate(-10deg)}
    .carousel .item .pom{position:absolute;z-index:2;width:434px;left:0;top:0;border:0;-webkit-box-shadow:0 0 0,0 0 0;box-shadow:0 0 0,0 0 0;transform:rotate(0deg)}
    .carousel .item .btn{position:absolute;top:auto;right:10px;bottom:10px;left:auto}
    .carousel-caption{position:absolute;z-index:0;top:30px;bottom:5px;left:auto;right:5px;width:330px;overflow:hidden}
    .carousel-caption:after{content:"";position:absolute;bottom:0;left:0;height:70px;width:100%;background:linear-gradient(transparent,#ddd);background:-webkit-linear-gradient(transparent,#ddd);background:-o-linear-gradient(transparent,#ddd);background:-moz-linear-gradient(transparent,#ddd)}
    #content.home{clear:both;margin-top:445px}
}
@media(min-width:768px){
    #maintenance{width:740px;height:500px;margin-top:20px;margin-left:-15px}
    #maintenance h1{top:300px;width:520px;font-size:2em}
    body{padding:5px 0 40px 0;width:758px}
    .navbar-inverse .navbar-nav>li>a{color:#444;font-weight:700;font-size:22px}
    header .navbar-default{background:#f27db1 url(../images/menubg.png) no-repeat top right;
    margin-top:160px;height:64px;border:3px solid #000;-webkit-border-radius:10px;border-radius:10px}
    header .navbar-default .navbar-brand,
    header .navbar-default .navbar-brand a{position:absolute;z-index:-2;top:-40px;left:70px;right:auto}
    header .navbar-default .navbar-brand a img{width:auto}
    header .navbar-default .navbar-search{display:inline-block;height:56px;padding:6px;margin-bottom:20px;margin-right:20px;background:#fff;border:3px solid #000;-webkit-border-radius:10px;border-radius:10px}
    header .navbar-default .navbar-search input[type=text]{border:1px solid #000;font-size:14px;background:#ddd;margin:0;padding:4px;width:300px}
    header .navbar-default .navbar-search button{display:inline-block;color:#f27db1;background:transparent;border:0;font-size:18px}
    header .navbar-nav>li{z-index:1000;background:transparent none;left:auto;right:auto;margin:0;padding:0;text-align:center;text-transform:uppercase;border:0 none}
    header .navbar-nav>li:first-child{border-top:0 none}
    header .navbar-nav.nav-cart>li{border-bottom:0 none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
    header .navbar-default .searchsocial{position:absolute;top:-140px;right:0;width:100%;height:28px;text-align:right}
    header .navbar-default .libre-social{display:inline-block;width:56px;height:56px;vertical-align:-120%}
    header .navbar-default .libre-social svg{border-width:3px}
    header .navbar-default .navbar-figure{position:absolute;z-index:-1;top:-190px;left:-80px}
    header .navbar-default .navbar-figure img{width:280px}
    .featured-side{position:relative;z-index:+1;display:block;color:#000;width:200px;height:270px;margin:-20px 0 0 0}
    .featured-body{display:block;padding:10px;height:270px;background:#ccc;border:3px solid #000;border-top:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;overflow:none;overflow-y:auto}
    .featured-side.left .featured-body,
    .featured-side.right .featured-body{border:3px solid #000;border-top:0;}
    .featured-side.left{position:absolute;top:0;left:0}
    .featured-side.right{position:absolute;top:0;right:0}
    .carousel{position:absolute;top:-20px;left:200px;right:200px;padding:0;height:190px}
    .carousel-inner{width:100%;height:250px;border:0;border-bottom:2px solid #000;box-shadow:0 0 20px #444}
    .carousel .item{background:#ddd!important;width:100%;height:250px}
    .carousel .item .title{font-size:16px}
    .carousel .item img{position:absolute;z-index:1;top:50px;left:0;width:170px;max-height:170px;border:3px solid #fff;border-bottom-width:15px;border-radius:3px;box-shadow:0 0 40px #888,1px 3px 15px #000;transform:rotate(-10deg)}
    .carousel .item .pom{position:absolute;z-index:2;width:434px;left:0;top:0;border:0;-webkit-box-shadow:0 0 0,0 0 0;box-shadow:0 0 0,0 0 0;transform:rotate(0deg)}
    .carousel .item .btn{position:absolute;top:auto;right:10px;bottom:10px;left:auto}
    .carousel-caption{position:absolute;z-index:0;top:30px;bottom:5px;left:auto;right:5px;width:170px;overflow:hidden}
    .carousel-caption:after{content:"";position:absolute;bottom:0;left:0;height:70px;width:100%;background:linear-gradient(transparent,#ddd);background:-webkit-linear-gradient(transparent,#ddd);background:-o-linear-gradient(transparent,#ddd);background:-moz-linear-gradient(transparent,#ddd)}
    #content.home{clear:both;margin-top:300px}
}
@media(min-width:800px){
    #maintenance{width:780px;height:510px;margin-top:15px;margin-left:-20px}
    #maintenance h1{top:300px;width:520px}
    body{padding:5px 0 40px 0;width:780px}
    header .navbar-default{background:#f27db1 url(../images/menubg.png) no-repeat top right;
    margin-top:160px;height:64px;border:3px solid #000;-webkit-border-radius:10px;border-radius:10px}
    header .navbar-default .navbar-brand,
    header .navbar-default .navbar-brand a{position:absolute;z-index:-2;top:-40px;left:70px;right:auto}
    header .navbar-default .navbar-brand a img{width:auto}
    header .navbar-nav>li{z-index:1000;background:transparent none;left:auto;right:auto;margin:0;padding:0;text-align:center;text-transform:uppercase;border:0 none}
    header .navbar-nav>li:first-child{border-top:0 none}
    header .navbar-nav.nav-cart>li{border-bottom:0 none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
    header .navbar-default .searchsocial{position:absolute;top:-140px;right:0;width:100%;height:28px;text-align:right}
    header .navbar-default .libre-social{display:inline-block;width:56px;height:56px;vertical-align:-120%}
    header .navbar-default .libre-social svg{border-width:3px}
    header .navbar-default .navbar-figure{position:absolute;z-index:-1;top:-190px;left:-80px}
    header .navbar-default .navbar-figure img{width:280px}
    .featured-side{position:relative;z-index:+1;display:block;color:#000;width:200px;height:270px;margin:-20px 0 0 0}
    .featured-body{display:block;padding:10px;height:270px;background:#ccc;border:3px solid #000;border-top:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;overflow:none;overflow-y:auto}
    .featured-side.left .featured-body,
    .featured-side.right .featured-body{border:3px solid #000;border-top:0;}
    .featured-side.left{position:absolute;top:0;left:0}
    .featured-side.right{position:absolute;top:0;right:0}
    .carousel{position:absolute;top:-20px;left:200px;right:200px;padding:0;height:190px}
    .carousel-inner{width:100%;height:250px;border:0;border-bottom:2px solid #000;box-shadow:0 0 20px #444}
    .carousel .item{background:#ddd!important;width:100%;height:250px}
    .carousel .item .title{font-size:16px}
    .carousel .item img{position:absolute;z-index:1;top:50px;left:0;width:170px;max-height:170px;border:3px solid #fff;border-bottom-width:15px;border-radius:3px;box-shadow:0 0 40px #888,1px 3px 15px #000;transform:rotate(-10deg)}
    .carousel .item .pom{position:absolute;z-index:2;width:434px;left:0;top:0;border:0;-webkit-box-shadow:0 0 0,0 0 0;box-shadow:0 0 0,0 0 0;transform:rotate(0deg)}
    .carousel .item .btn{position:absolute;top:auto;right:10px;bottom:10px;left:auto}
    .carousel-caption{position:absolute;z-index:0;top:30px;bottom:5px;left:auto;right:5px;width:200px;overflow:hidden}
    .carousel-caption:after{content:"";position:absolute;bottom:0;left:0;height:70px;width:100%;background:linear-gradient(transparent,#ddd);background:-webkit-linear-gradient(transparent,#ddd);background:-o-linear-gradient(transparent,#ddd);background:-moz-linear-gradient(transparent,#ddd)}
    #content.home{clear:both;margin-top:300px}
}
@media(min-width:992px){
    #maintenance{width:976px;height:635px;margin:20px auto}
    #maintenance h1{top:380px;width:750px;font-size:2em}
    body{padding:5px 0 40px 0;width:982px}
    header .navbar-default{background:#f27db1 url(../images/menubg.png) no-repeat top right;
    margin-top:160px;height:64px;border:3px solid #000;-webkit-border-radius:10px;border-radius:10px}
    header .navbar-default .navbar-brand,
    header .navbar-default .navbar-brand a{position:absolute;z-index:-2;top:-40px;left:70px;right:auto}
    header .navbar-default .navbar-brand a img{width:auto}
    header .navbar-nav>li{z-index:1000;background:transparent none;left:auto;right:auto;margin:0;padding:0;text-align:center;text-transform:uppercase;border:0 none}
    header .navbar-nav>li:first-child{border-top:0 none}
    header .navbar-nav.nav-cart>li{border-bottom:0 none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
    header .navbar-default .searchsocial{position:absolute;top:-140px;right:0;width:100%;height:28px;text-align:right}
    header .navbar-default .libre-social{display:inline-block;width:56px;height:56px;vertical-align:-120%}
    header .navbar-default .libre-social svg{border-width:3px}
    header .navbar-default .navbar-figure{position:absolute;z-index:-1;top:-190px;left:-80px}
    header .navbar-default .navbar-figure img{width:280px}
    .featured-side{position:relative;z-index:+1;display:block;color:#000;width:250px;height:300px;margin:-20px 0 0 0}
    .featured-body{display:block;padding:10px;height:300px;background:#ccc;border:3px solid #000;border-top:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;overflow:none;overflow-y:auto}
    .featured-side.left .featured-body,
    .featured-side.right .featured-body{border:3px solid #000;border-top:0;}
    .featured-side.left{position:absolute;top:0;left:0}
    .featured-side.right{position:absolute;top:0;right:0}
    .carousel{position:absolute;top:-20px;left:250px;right:250px;padding:0;height:280px}
    .carousel-inner{width:100%;height:280px;border:0;border-bottom:2px solid #000;box-shadow:0 0 20px #444}
    .carousel .item{background:#ddd!important;width:100%;height:280px}
    .carousel .item .title{font-size:18px}
    .carousel .item img{position:absolute;z-index:1;top:50px;left:0;width:220px;max-height:220px;border:4px solid #fff;border-bottom-width:20px;border-radius:3px;box-shadow:0 0 40px #888,1px 3px 15px #000;transform:rotate(-10deg)}
    .carousel .item .pom{position:absolute;z-index:2;width:434px;left:20px;top:0;border:0;-webkit-box-shadow:0 0 0,0 0 0;box-shadow:0 0 0,0 0 0;transform:rotate(0deg)}
    .carousel .item .btn{position:absolute;top:auto;right:10px;bottom:10px;left:auto}
    .carousel-caption{position:absolute;z-index:0;top:30px;bottom:5px;left:auto;right:5px;width:250px;overflow:hidden}
    .carousel-caption:after{content:"";position:absolute;bottom:0;left:0;height:70px;width:100%;background:linear-gradient(transparent,#ddd);background:-webkit-linear-gradient(transparent,#ddd);background:-o-linear-gradient(transparent,#ddd);background:-moz-linear-gradient(transparent,#ddd)}
    #content.home{clear:both;margin-top:300px}
    .price_side{display:block}
    .price_content{display:none}
}
.reviews{

}
.rat{display:inline-block;unicode-bidi:bidi-override;direction:rtl}
.rat > span{position:relative;width:1em;text-shadow:0 1px 1px #000}
.rat > span.set,
.rat > span.set ~ span{color:transparent}
.rat > span.set:after,
.rat > span.set ~ span:after{content:"\2605";position:absolute;left:0;color:gold}
.rating{position:relative;float:left}
.rating:not(:checked) > input{position:absolute;top:-9999px;clip:rect(0,0,0,0)}
.rating:not(:checked) > label{float:right;width:1em;padding:0 .1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:150%;line-height:1.2;color:#ddd;text-shadow:1px 1px #bbb, 2px 2px #666,.1em .1em .2em rgba(0,0,0,.5)}
.rating:not(:checked) > label:before{content:'★ '}
.rating > input:checked ~ label{color:#f70;text-shadow:1px 1px #c60,2px 2px #940,.1em .1em .2em rgba(0,0,0,.5)}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{color:gold;text-shadow:1px 1px goldenrod,2px 2px #B57340,.1em .1em .2em rgba(0,0,0,.5)}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label{color:#ea0;text-shadow:1px 1px goldenrod,2px 2px #B57340,.1em .1em .2em rgba(0,0,0,.5)}
.rating > label:active{position:relative;top:2px;left:2px}
.rating > label:after{content:attr(data-title);position:absolute;display:block;top:auto;bottom:30px;width:5px;height:auto;padding-left:7px;color:#000;font-size:10px;font-weight:400;text-shadow:0 0 0;word-wrap:break-word}
