<block include="meta_head.html">
<block include="header.html">
<block inbed="bookings">
	<print page=notes>
	<main id="content" class="col-lg-12 col-md-12 col-xs-12" itemscope itemtype="http://schema.org/Booking">
		<notification>
		<form id="form" role="form" method="post" action="bookings">
			<input type="hidden" name="emailtrap" value="">
			<input type="hidden" name="act" value="add_booking">
			<div class="form-group">
				<label class="control-label col-sm-2">&nbsp;</label>
				<div class="input-group col-sm-10 text-danger">
					<div class="alert alert-danger">Highlighted Fields are Required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="control-label col-md-2 col-xs-4 text-danger">Email</label>
				<div class="input-group col-md-10 col-xs-8 has-error">
					<input type="email" id="email" class="form-control" name="email" value="" placeholder="Enter an Email..." required>
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="control-label col-md-2 col-xs-4 text-danger">Name</label>
				<div class="input-group col-md-10 col-xs-8 has-error">
					<input type="text" id="name" class="form-control" name="name" value="" placeholder="Enter a Name..." required>
				</div>
			</div>
			<div class="form-group">
				<label for="business" class="control-label col-md-2 col-xs-4">Business</label>
				<div class="input-group col-md-10 col-xs-8">
					<input type="text" id="business" class="form-control" name="business" value="" placeholder="Enter a Business...">
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="control-label col-md-2 col-xs-4">Phone</label>
				<div class="input-group col-md-10 col-xs-8">
					<input type="phone" id="phone" class="form-control" name="phone" value="" placeholder="Enter a Phone Number...">
				</div>
			</div>
			<div class="form-group">
				<label for="address" class="control-label col-md-2 col-xs-4">Address</label>
				<div class="input-group col-md-10 col-xs-8">
					<input type="text" id="address" class="form-control" name="address" value="" placeholder="Enter an Address...">
				</div>
			</div>
			<div class="form-group">
				<label for="suburb" class="control-label col-md-2 col-xs-4">Suburb</label>
				<div class="input-group col-md-10 col-xs-8">
					<input type="text" id="suburb" class="form-control" name="suburb" value="" placeholder="Enter a Suburb...">
				</div>
			</div>
			<div class="form-group">
				<label for="city" class="control-label col-md-2 col-xs-4">City</label>
				<div class="input-group col-md-10 col-xs-8">
					<input type="text" id="city" class="form-control" name="city" value="" placeholder="Enter a City...">
				</div>
			</div>
			<div class="form-group">
				<label for="state" class="control-label col-md-2 col-xs-4">State</label>
				<div class="input-group col-md-10 col-xs-8">
					<input type="text" id="state" class="form-control" name="state" value="" placeholder="Enter a State...">
				</div>
			</div>
			<div class="form-group">
				<label for="postcode" class="control-label col-md-2 col-xs-4">Postcode</label>
				<div class="input-group col-md-10 col-xs-8">
					<input type="text" id="postcode" class="form-control" name="postcode" value="" placeholder="Enter a Postcode...">
				</div>
			</div>
			<div class="form-inline">
				<label for="tis" class="control-label col-xs-4 col-sm-2 col-md-2 col-lg-2">Date/Time</label>
				<div class="form-group">
					<input type="date" id="tis" class="form-control" name="tis" value="0">
				</div>
				<div class="form-group">
					<input type="time" id="tim" class="form-control" name="tim" value="0">
				</div>
			</div>
			<bookservices>
				<div class="form-group">
					<label for="rid" class="control-label col-md-2 col-xs-4">Event/Service</label>
					<div class="input-group col-md-10 col-xs-8">
						<select id="rid" class="form-control" name="rid">
							<option value="0">Select an Item...</option>
							<serviceoptions>
						</select>
					</div>
				</div>
			</bookservices>
			<div class="form-group">
				<label for="notes" class="control-label col-md-2 col-xs-4">Notes</label>
				<div class="input-group col-md-10 col-xs-8">
					<textarea id="notes" class="form-control" name="notes" placeholder="Enter some Notes..."></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2 col-xs-4">&nbsp;</label>
				<div class="input-group col-md-10 col-xs-8">
					<button type="submit" class="btn btn-success btn-lg btn-block">Make Booking</button>
				</div>
			</div>
		</form>
		<iframe id="sp" name="sp" style="display:none;"></iframe>
	</main>
</block inbed="bookings">
<block include="footer.html">
<block include="meta_footer.html">
