<div id="comments">
	<items>
		<div class="media mb-3 border-bottom border-light">
			<div class="media-object col-1 col-sm-2 pull-left mb-2">
				<print comments="avatar" class="img-responsive img-thumbnail">
			</div>
			<div class="media-body">
				<div class="well">
					<print comments="name" class="media-heading" container="h6" leadingtext="Name: ">
					<time><small class="text-muted"><print comments="dateCreated"></small></time><br>
					<print comments="notes">
				</div>
			</div>
		</div>
	</items>
	<comment>
		<div class="media col-12">
			<div id="comment" class="media-body">
				<form id="commentform" method="post" action="core/add_comment.php" role="form">
					<input type="hidden" name="emailtrap" value="none">
					<input type="hidden" name="act" value="add_comment">
					<input type="hidden" name="rid" value="<print content=id>">
					<input type="hidden" name="ct" value="<print content=contentType>">
					<div class="form-group">
						<label for="email" class="control-label col-xs-5 col-sm-3 col-lg-2">Email</label>
						<div class="input-group col-xs-7 col-sm-9 col-lg-10">
							<input type="text" id="email" class="form-control" name="email" value="" placeholder="Enter an Email..." required aria-required="true" role="textbox">
						</div>
						<label for="name" class="control-label col-xs-5 col-sm-3 col-lg-2">Name</label>
						<div class="input-group col-xs-7 col-sm-9 col-lg-10">
							<input type="text" id="name" class="form-control" name="name" value="" placeholder="Enter a Name..." required aria-required="true" role="textbox">
						</div>
						<label for="notes" class="control-label col-xs-5 col-sm-3 col-lg-2">Comment</label>
						<div class="input-group col-xs-7 col-sm-9 col-lg-10">
							<textarea id="notes" class="form-control" name="notes" placeholder="Enter a Comment..." required aria-required="true" role="textbox"></textarea>
						</div>
						<div class="col-xs-5 col-sm-3 col-lg-2"></div>
						<div class="input-group col-xs-7 col-sm-9 col-lg-10">
							<button class="btn btn-outline-secondary btn-block" type="submit">Add Comment</button>
						</div>
					</div>
				</form>
				<script>/*<![CDATA[*/
					$("#commentform").submit(function(){
						$.post($(this).attr("action"),$(this).serialize(),function(data){
							$("#comment").html(data);
						});
						return false;
					});
				/*]]>*/</script>
			</div>
		</div>
	</comment>
</div>
