<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<main id="content" class="col-md-9" itemscope itemtype="http://schema.org/Contact">
		<address class="thumbnail item mini-map col-md-12">
			<div class="col-md-6">
				<h4><print config=seoTitle></h4>
				<span class="adr">
					<span class="street-address" itemprop="streetAddress"><print config=address>, <print config=suburb>, </span><br>
					<span class="region" itemprop="addressLocality"><print config=state>, </span>
					<span class="country-name" itemprop="addressCountry"><print config=country>, </span>
					<span class="postal-code" itemprop="postalCode"><print config=postcode></span>
				</span><br>
				<span class="tel" itemprop="telephone">Phone <a href="tel:<print config=phone>"><print config=phone></a></span><br>
				<span class="tel" itemprop="telephone">Mobile <a href="tel:<print config=mobile>"><print config=mobile></a></span>
			</div>
			<div id="map" class="mini-map col-md-6"></div>
		</address>
		<div class="content">
			<form target="sp" method="post" action="includes/add_data.php">
				<input type="hidden" name="act" value="add_message">
				<div class="form-group">
					<label class="control-label col-sm-2">&nbsp;</label>
					<div class="input-group col-sm-10 text-danger">
						<div class="alert alert-danger">Highlighted Fields are Required</div>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="control-label col-sm-2 col-xs-4 text-danger">Email</label>
					<div class="input-group col-sm-10 col-xs-8 has-error">
						<input type="email" id="email" class="form-control" name="email" value="" placeholder="Enter an Email..." required>
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="control-label col-sm-2 col-xs-4">Name</label>
					<div class="input-group col-sm-10 col-xs-8">
						<input type="text" id="name" class="form-control" name="name" value="" placeholder="Enter Your Name...">
					</div>
				</div>
				<div class="form-group">
					<label for="phone" class="control-label col-sm-2 col-xs-4">Phone</label>
					<div class="input-group col-sm-10 col-xs-8">
						<input type="phone" id="phone" class="form-control" name="phone" value="" placeholder="Enter a Phone Number">
					</div>
				</div>
				<div class="form-group">
					<label for="subject" class="control-label col-sm-2 col-xs-4 text-danger">Subject</label>
					<div class="input-group col-sm-10 col-xs-8 has-error">
						<input type="text" id="subject" class="form-control" name="subject" value="" placeholder="Enter a Subject..." required>
					</div>
				</div>
				<div class="form-group">
					<label for="notes" class="control-label col-sm-2 col-xs-4 text-danger">Message</label>
					<div class="input-group col-sm-10 col-xs-8 has-error">
						<textarea id="notes" class="form-control" name="notes" placeholder="Enter a Message..."></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="verification" class="control-label col-md-2 col-sm-2 col-xs-4 text-danger">Verification</label>
					<div class="input-group col-md-10 col-xs-8">
						<div class="alert alert-danger text-center no-padding no-margin"><img src="includes/veri.php"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2 col-sm-2 col-xs-4">&nbsp;</label>
					<div class="input-group col-md-10 col-sm-10 col-xs-8 has-error">
						<input type="text" class="form-control" name="veri" value="" placeholder="Enter Verification Code...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2 col-sm-2 col-xs-4">&nbsp;</label>
					<div class="input-group col-md-10 col-sm-10 col-xs-8">
						<button type="submit" class="btn btn-success btn-lg btn-block">Send</button>
					</div>
				</div>
			</form>
		</div>
	</main>
</block inbed="content">
<block include="side_menu.html">
<block include="footer.html">
<block include="meta_footer.html">
