<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<main id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		<print page=notes>
		<settings itemCount="10">
		<item>
			<article id="l_<print content=id>" class="article" itemscope itemtype="http://schema.org/<print content:schemaType>">
				<div class="thumbnail">
					<print content=image>
					<div class="caption">
						<h2><print content=title></h2>
						<h6><print content=dateCreated></h6>
						<h6><print content=datePublished></h6>
						<h6><print content=dateEvent></h6>
						<h6><print content=categories></h6>
						<h6><print content=brand></h6>
						<h6><print content=tags></h6>
						<print content=cost>
                        <print content=notes>
					</div>
					<author>
						<hr>
						<aside class="vcard clearfix">
							<h4 title="Article by <print user:name>" rel="author"><print user=name></h4>
							<p>
								<img class="pull-left avatar img-thumbnail" alt="<print user=name>" src="<print user=avatar>">
								This article was written by <span class="fn"><print user=name></span>. <print user:notes><br>
								<print user=email> <print user=social>
							</p>
						</aside>
					</author>
				</div>
			</article>
		</item>
		<loop>
			<article id="l_<print content=id>" class="col-md-6" itemscope itemtype="http://schema.org/<print content=schemaType>">
				<div class="thumbnail articles">
					<div class="contentType"><print content=contentType></div>
					<print content=image>
					<div class="caption">
						<h4 class="text-center"><print content=title></h4>
						<h6><print content=dateCreated></h6>
						<h6><print content=datePublished></h6>
						<h6><print content=dateEvent></h6>
						<h6><print content=categories></h6>
						<h6><print content=brand></h6>
						<h6><print content=tags></h6>
						<p><print content=cost><print content=notes></p>
                        <CONTROLS>
					</div>
					<print content=status>
				</div>
			</article>
		</loop>
	</main>
</block inbed="content">
<block include="side_menu.html">
<block include="footer.html">
