<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		<item>
			<article class="article" itemscope itemtype="http://schema.org/<print content=schemaType>">
				<div class="thumbnail">
					<print content="image">
					<cost>
						<aside class="price text-right" itemprop="offerDetails" itemscope itemtype="http://schema.org/Offer">
							<meta itemprop="currency" content="AUD">
							<h4 itemprop="price">&#36;<print content="cost"></h4>
							<controls>
								<inventory>
									<button class="btn btn-success" onclick="$('#cart').load('core/add_cart.php?id=<print content=id>');">Add to Cart</button>
								</inventory>
								<service>
									<a class="btn btn-success" href="<print content=bookservice>">Book Service</a>
								</service>
							</controls>
						</aside>
					</cost>
					<div class="caption">
						<print content="title" container="h2">
						<print content="dateCreated" userrank="399" container="h6" leadingtext="Created: ">
						<print content="datePublished" container="h6" leadingtext="Published: ">
						<print content="dateEdited" userrank="399" container="h6" leadingtext="Edited: ">
						<print content="dateEvent" container="h6" leadingtext="Event Date: ">
						<print content="categories" container="h6" leadingtext="Categories: ">
						<print content="brand" container="h6" leadingtext="Brand: ">
						<print content="tags" container="h6" leadingtext="Tags: ">
						<print content="notes">
					</div>
					<author>
						<hr>
						<aside class="vcard clearfix">
							<print author="avatar" alt="name" class="pull-left avatar img-thumbnail">
							This article was written by <strong><span class="fn"><print author="name"></span></strong>. <print author="notes"><br>
							<print author="email" type="icon" class="libre libre-2x libre-envelope"> <print author="social" type="icon" class="libre libre-2x libre-">
						</aside>
					</author>
				</div>
			</article>
		</item>
		<print page="notes">
		<settings itemCount="10">
		<loop>
			<article class="col-md-6" itemscope itemtype="http://schema.org/<print content=schemaType>">
				<div class="thumbnail articles">
					<div class="cover">
						<print content="thumb">
					</div>
					<cost>
						<aside class="price text-right" itemprop="offerDetails" itemscope itemtype="http://schema.org/Offer">
							<meta itemprop="currency" content="AUD">
							<h4 itemprop="price">&#36;<print content="cost"></h4>
						</aside>
					</cost>
					<div class="caption">
						<print content="title" class="text-center" container="h4">
						<print content="dateCreated" userrank="399" container="h6" leadingtext="Created: ">
						<print content="datePublished" container="h6" leadingtext="Published: ">
						<print content="dateEdited" userrank="399" container="h6" leadingtext="Edited: ">
						<print content="dateEvent" container="h6" leadingtext="Event Date: ">
						<print content="categories" container="h6" leadingtext="Categories: ">
						<print content="brand" container="h6" leadingtext="Brand: ">
						<print content="tags" container="h6" leadingtext="Tags: ">
						<print content="notes" length="201">
						<div class="text-right">
							<controls>
								<view>
									<a class="btn btn-info" href="<print content=linktitle>">View</a>
								</view>
								<service>
									<a class="btn btn-success" href="<print content=bookservice>">Book Service</a>
								</service>
								<inventory>
									<button class="btn btn-success" onclick="$('#cart').load('core/add_cart.php?id=<print content=id>');">Add to Cart</button>
								</inventory>
							</controls>
						</div>
					</div>
				</div>
			</article>
		</loop>
	</div>
</block>
<block include="side_menu.html">
<block include="footer.html">
<block include="meta_footer.html">
