<settings itemCount=4 contentType=all>
<div id="libr8Carousel" class="carousel slide" data-ride="carousel" data-pause="">
	<carouselIndicators>
	<div class="carousel-inner">
		<loop>
			<div class="item<print active>">
				<print content=file>
				<div class="container">
					<div class="contentType"><print content=contentType></div>
					<h3><print content=title></h3>
					<p><print content=cost><print content=caption></p>
					<a class="btn btn-lg btn-info pull-right" href="<print link>" role="button">View</a>
				</div>
			</div>
		</loop>
	</div>
    <carouselControls>
        <a class="left carousel-control" href="#libr8Carousel" role="button" data-slide="prev">&nbsp;</a>
        <a class="right carousel-control" href="#libr8Carousel" role="button" data-slide="next">&nbsp;</a>
    </carouselControls>
</div>
