<settings itemCount=4 contentType=all>
<div id="featured" class="carousel slide" data-ride="carousel" data-pause="">
	<carouselIndicators>
	<div class="carousel-inner">
		<loop>
			<div class="item featured-background-<print content=featuredBackgroundColor><print active>">
				<print content=file>
				<div class="container">
					<div class="contentType"><print content=contentType></div>
					<h3><print content=title></h3>
					<p><print content=cost><print content=caption></p>
					<a class="btn btn-lg btn-info pull-right" href="<print link>" role="button">View</a>
				</div>
			</div>
		</loop>
	</div>
    <carouselControls>
        <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
			<span class="fa fa-chevron-left fa-3x" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
        <a class="right carousel-control" href="#featured" role="button" data-slide="next">
			<span class="fa fa-chevron-right fa-3x" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
    </carouselControls>
</div>
