<footer class="clearfix">
	<nav class="navbar navbar-default">
		<ul class="nav navbar-nav pull-right">
			<li><a href="sitemap"><small>Sitemap</small></a></li>
			<li><a target="_blank" href="http://www.studiojunkyard.com/"><small>Handmade</small></a></li>
			<li><a href="tos/"><small>TOS</small></a></li>
			<li><login></li>
			<li>
				<form class="navbar-form" method="post" action="search">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" name="search" placeholder="Enter a Search Term...">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-info">Search</button>
							</div>
						</div>
					</div>
				</form>
			</li>
		</ul>
	</nav>
</footer>
