<header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#libr8-collapse">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand"><a href=""><print config=seoTitle></a></span>
			</div>
			<div class="collapse navbar-collapse" id="libr8-collapse">
				<ul class="nav navbar-nav navbar-right">
					<buildMenu>
						<li class="<print menu=active>"><a href="<print menu=contentType>"><small><print menu=title></small></a><menuCart></li>
					</buildMenu>
				</ul>
			</div>
		</div>
	</nav>
</header>
