<block include="meta_head.html">
<block include="header.html">
<block include="featured.html">
<block inbed="content">
	<main id="content" class="col-md-12 no-padding">
		<settings itemCount="20" contentType="all">
		<loop>
			<article class="col-md-3" itemscope itemtype="http://schema.org/<print content:schemaType>">
				<div class="thumbnail">
					<div class="contentType"><print content=contentType></div>
					<print content=image>
					<div class="caption">
						<h4 class="text-center"><print content=title></h4>
						<h6><print content=categories></h6>
						<h6><print content=brand></h6>
						<h6><print content=tags></h6>
						<p><print content=cost><print content=notes></p>
						<div class="text-right">
							<CONTROLS>
						</div>
					</div>
				</div>
			</article>
		</loop>
	</main>
</block inbed="content">
<block inbed="testimonials">
	<settings itemCount="5">
	<div class="testimonials row">
		<h2 class="page-header">Testimonials <small>Our Clients Love Us!</small></h2>
		<div class="carousel slide" id="testimonials" data-ride="carousel">
			<div class="carousel-inner">
				<loop>
					<div class="item<print content=active>" itemscope itemtype="http://schema.org/<print content=schemaType>">
						<div class="testimonials">
							<img src="<print content=avatar>" alt="<print content=name>" class="img-circle pull-left" />
							<p class="col-md-offset-2" itemprop="description"><print content=notes><strong><small itemprop="name"> - <print content=name></small></strong></p>
						</div>
					</div>
				</loop>
			</div>
		</div>
		<CONTROLS>
	</div>
</block inbed="testimonials">
<block include="footer.html">
<block include="meta_footer.html">