<block include="meta_head.html">
<block include="header.html">
<block include="featured.html">
<block inbed="content">
	<main id="content" class="col-md-12 no-padding">
		<settings itemCount="20" contentType="all">
		<loop>
			<article class="col-md-3" itemscope itemtype="http://schema.org/<print content:schemaType>">
				<div class="thumbnail">
					<div class="contentType"><print content=contentType></div>
					<div class="cover"><img src="<print content=image>" alt="<print content=title>"></div>
					<div class="caption">
						<h4 class="text-center"><print content=title></h4>
						<h6><print content=categories></h6>
						<h6><print content=brand></h6>
						<h6><print content=tags></h6>
						<p>
							<cost>
								<aside class="price text-right" itemprop="offerDetails" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="currency" content="AUD">
									<h4 itemprop="price">&#36;<print content=cost></h4>
								</aside>
							</cost>
							<print content=notes>
						</p>
						<div class="text-right">
							<controls>
								<view></view>
							</controls>
						</div>
					</div>
				</div>
			</article>
		</loop>
	</main>
</block inbed="content">
<block inbed="testimonials">
	<settings itemcount="5">
	<div class="testimonials row">
		<h2 class="page-header">Testimonials <small>Our Clients Love Us!</small></h2>
		<div class="carousel slide" id="testimonials" data-ride="carousel">
			<div class="carousel-inner">
				<loop>
					<div class="item<print content=active>" itemscope itemtype="http://schema.org/<print content=schemaType>">
						<div class="testimonials">
							<img src="<print content=avatar>" alt="<print content=name>" class="img-circle pull-left" />
							<div class="col-md-offset-2" itemprop="description">
								<print content=notes>
								<strong><small itemprop="name"> - <print content=name></small></strong>
							</div>
						</div>
					</div>
				</loop>
			</div>
		</div>
		<controls>
			<div class="pull-right"><a class="left" href="#testimonials" data-slide="prev"><span class="fa fa-chevron-left fa-2x"></span></a><a class="right" href="#testimonials" data-slide="next"><span class="fa fa-chevron-right fa-2x"></span></a></div>
		</controls>
	</div>
</block inbed="testimonials">
<block include="footer.html">
<block include="meta_footer.html">