<!DOCTYPE HTML>
<html lang="en-AU">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title><print seoTitle></title>
		<base href="<print config:url>" />
		<meta name="referrer" content="default" id="meta_referrer" />
		<meta http-equiv="X-FRAME-OPTIONS" content="DENY">
		<link rel="alternate" media="handheld" href="<print config:url>" />
		<link rel="alternate" type="application/rss+xml" title="<print seoTitle>" href="<print config:url>rss/" />
		<link rel="canonical" href="<print config:url><print view>/<print urlSEOTitle>" />
		<link rel="alternate" hreflang="x-default" href="<print config:url>" />
		<link rel="alternate" hreflang="en-AU" href="<print config:url>" />
		<meta name="description" content="<print seoCaption>" />
		<meta name="keywords" content="<print seoKeywords>" />
		<meta property="og:locale" content="en-AU" />
		<meta property="og:title" content="<print seoTitle>" />
		<meta property="og:type" content="<print view>" />
		<meta property="og:image" content="<print shareImage>" />
		<meta property="og:url" content="<print config:url><print view>/<print urlSEOTitle>" />
		<meta property="og:description" content="<print seoCaption>" />
		<meta property="og:updated_time" content="<print dateAtom>" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="<print seoTitle>" />
		<meta name="twitter:image" content="<print shareImage>" />
		<meta name="twitter:description" content="<print seoCaption>" />
		<link rel="icon" href="<print favicon>" />
		<link rel="apple-touch-icon" href="<print favicon>" />
		<meta name="viewport" content="width=400,initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="layout/default/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="layout/default/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="layout/default/css/style.css" />
	</head>
	<body>
		<div id="top" class="hidden"></div>
