<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<div id="content" class="col-md-9 no-padding">
		<item>
			<print page="notes">
		</item>
		<loop>
			<div itemscope itemtype="http://schema.org/<print content=schemaType>">
				<div class="item">
					<div class="testimonials">
						<print author="avatar" alt="name" class="img-circle img-responsive pull-left">
						<div class="col-md-offset-2" itemprop="description">
							<print content="notes">
							<strong><small itemprop="name"> - <print content="name"></small></strong>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<hr>
			</div>
		</loop>
	</div>
</block inbed="content">
<block include="side_menu.html">
<block include="footer.html">
<block include="meta_footer.html">
