<settings itemcount="4" contenttype="folder" order="random">
<div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
	<div class="carousel-inner relative">
		<items>
			<div class="item<print active>" itemscope itemtype="http://schema.org/CreativeWork">
				<img class="img-responsive" itemprop="image" alt="<print content=alt>" src="<print content=image>">
				<div class="carousel-caption">
					<caption>
						<div class="title" role="heading"><a href="<print link>" role="link"><print content="title"></a></div>
						<print content="caption">
						<div class="attribution">
							<span class="title" itemprop="name"><print content="attributionImageTitle"></span> by <span class="url" itemprop="author"><print content="attributionImageAuthor"></span>
						</div>
					</caption>
				</div>
			</div>
		</items>
	</div>
	<featuredIndicators>
		<ol class="carousel-indicators">
			<indicators>
				<li data-target="#featured" data-slide-to="<print indicatorCount>" class="<print active>"></li>
			</indicators>
		</ol>
	</featuredIndicators>
</div>
