<block include="meta_head.html">
<block inbed="content">
	<main id="content" class="center-block" role="main">
		<div class="text-center">
			<br>
			<br>
	    	<amp-img class="responsive" src="layout/default-bootstrap3/images/logo.png"></amp-img><br>
			<h4 class="text-center">Is currently in Maintenance mode while we<h4>
			<h3 class="text-center">update,<br>fix, or add<br><h3>
			<h4 class="text-center">more awesomeness to the Site.</h4>
		</div>
	</main>
</block>
<block include="meta_footer.html">
